Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: http->https redirect
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

fix: back to upstream tj-actions
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

fix: add strict check filter renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix: add strict check filter renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix: back to upstream tj-actions
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

fix: rename folder
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

fix: rename folder
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

fix: rename folder
  kubernetes/apps/default/radicale/app/kustomization.yaml
  kubernetes/apps/default/radicale/app/resources/config.cfg
Labels: area/kubernetes

fix: rename folder
  kubernetes/apps/default/radicale/app/kustomization.yaml
  kubernetes/apps/default/radicale/app/resources/config.cfg
Labels: area/kubernetes

fix: update bgp config
  kubernetes/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/l3-policy.yaml
Labels: area/kubernetes

fix: update bgp config
  kubernetes/apps/kube-system/cilium/config/bgp.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/l3-policy.yaml
Labels: area/kubernetes

fix: update smartctl exporter
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

fix: update smartctl exporter
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

fix: cleanup media exportarrs
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/kustomization.yaml
Labels: area/kubernetes

fix: cleanup media exportarrs
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/kustomization.yaml
Labels: area/kubernetes

fix: immich request update
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix: immich request update
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

remove: npd yeet
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
Labels: area/kubernetes

remove: npd yeet
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-problem-detector/app/kustomization.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
Labels: area/kubernetes

feat: recyclarr back to cronjob
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/default/recyclarr/app/externalsecret.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat: recyclarr back to cronjob
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
  kubernetes/apps/default/recyclarr/app/externalsecret.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

feat: add loki rule on misconfigured access
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
Labels: area/kubernetes

feat: add loki rule on misconfigured access
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: use @daily
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use @daily
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

update: minor xseed tweaks
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

update: minor xseed tweaks
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

remove: yeet graph visualizer for now
  .github/workflows/docs.yaml
  docs/src/SUMMARY.md
  hack/flux-visualizer.py
  hack/requirements.txt
Labels: area/github, area/hack

remove: yeet graph visualizer for now
  .github/workflows/docs.yaml
  docs/src/SUMMARY.md
  hack/flux-visualizer.py
  hack/requirements.txt
Labels: area/github, area/hack

feat: see https://github.com/onedr0p/containers/releases/tag/2025.3.0
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/regexManagers.json5
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: see https://github.com/onedr0p/containers/releases/tag/2025.3.0
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/regexManagers.json5
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: see https://github.com/onedr0p/containers/releases/tag/2025.3.0
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/regexManagers.json5
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: yeet kah user
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/plex/meta-manager/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/components/volsync/r2/replicationdestination.yaml
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

feat: yeet kah user
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/plex/meta-manager/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/components/volsync/r2/replicationdestination.yaml
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

feat: yeet kah user
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/plex/meta-manager/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/components/volsync/r2/replicationdestination.yaml
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix: add nfs group syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: add nfs group syncthing
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: update permissions
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

fix: update permissions
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes

fix: override name
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes
