Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

chore: qbit vmrule
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/vmrule.yaml
Labels: area/kubernetes

chore: zigbee vmrule
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/vmrule.yaml
Labels: area/kubernetes

chore: zwave vmrule
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/vmrule.yaml
Labels: area/kubernetes

fix: bump max pods a bit
  talos/controlplane.yaml.j2
Labels: area/talos

fix: headlamp secret update
  kubernetes/apps/flux-system/headlamp/app/externalsecret.yaml
  kubernetes/apps/flux-system/headlamp/app/kustomization.yaml
Labels: area/kubernetes

chore: update readme with observability section
  README.md
Labels: none

fix: add jf cache
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/pvc.yaml
Labels: area/kubernetes

chore: pump those numbers up a bit
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

add immich alert and fix rules
  kubernetes/apps/default/autobrr/app/vmrule.yaml
  kubernetes/apps/default/cross-seed/app/vmrule.yaml
  kubernetes/apps/default/frigate/app/vmrule.yaml
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/vmrule.yaml
  kubernetes/apps/default/plex/app/vmrule.yaml
  kubernetes/apps/default/qbittorrent/app/vmrule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/vmrule.yaml
  kubernetes/apps/default/zwave-js-ui/app/vmrule.yaml
Labels: area/kubernetes

feat: wiremind oci
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/helmrepository.yaml
  kubernetes/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/observability/silence-operator/crds/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/crds/helmrepository.yaml
  kubernetes/apps/observability/silence-operator/crds/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind.yaml
Labels: area/kubernetes

chore: cleanup helm charts
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrepository.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/bitnami.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/meta/repositories/helm/coredns.yaml
  kubernetes/flux/meta/repositories/helm/deliveryhero.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/minecraft-server.yaml
  kubernetes/flux/meta/repositories/helm/piraeus.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph.yaml
  kubernetes/flux/meta/repositories/helm/spegel.yaml
  kubernetes/flux/meta/repositories/helm/stakater.yaml
  kubernetes/flux/meta/repositories/helm/vector.yaml
  kubernetes/flux/meta/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

chore: more charts to oci
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/external-secrets.yaml
  kubernetes/flux/meta/repositories/helm/grafana.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: mc to oci
  kubernetes/apps/game-system/minecraft/gtnh/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/gtnh/helmrepository.yaml
  kubernetes/apps/game-system/minecraft/gtnh/kustomization.yaml
  kubernetes/apps/game-system/minecraft/mc-router/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/mc-router/helmrepository.yaml
  kubernetes/apps/game-system/minecraft/mc-router/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/itzg-minecraft.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore: formatting
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore: probably only need 1 replica to save some resources
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

feat: media namespace
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/pvc.yaml
  kubernetes/apps/media/jellyfin/ks.yaml
  kubernetes/apps/media/jellyplex-watched/app/externalsecret.yaml
  kubernetes/apps/media/jellyplex-watched/app/helmrelease.yaml
  kubernetes/apps/media/jellyplex-watched/app/kustomization.yaml
  kubernetes/apps/media/jellyplex-watched/ks.yaml
  kubernetes/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/jellystat/app/externalsecret.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/app/kustomization.yaml
  kubernetes/apps/media/jellystat/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/observability/exporters/jellyseerr-exporter/ks.yaml
Labels: area/kubernetes

add: minio
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/minio/app/externalsecret.yaml
  kubernetes/apps/database/minio/app/helmrelease.yaml
  kubernetes/apps/database/minio/app/kustomization.yaml
  kubernetes/apps/database/minio/ks.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

fix: disable nfs backup
  kubernetes/apps/database/minio/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

fix: restore old claims policy
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

fix: minio for backups
  kubernetes/components/postgres/cluster.yaml
  kubernetes/components/postgres/externalsecret.yaml
Labels: area/kubernetes

chore: 1 replica should be fine
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

chore: add homepage annots
  kubernetes/apps/database/minio/app/helmrelease.yaml
Labels: area/kubernetes

fix: update pod selector
  kubernetes/apps/database/minio/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/httproute.yaml
  kubernetes/apps/observability/victoria-metrics/app/httproute.yaml
Labels: area/kubernetes

chore: uptime robot for internet ping
  README.md
Labels: none

chore: document some observability things I do
  docs/src/SUMMARY.md
  docs/src/notes/observability.md
Labels: none

chore: add more links
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: tweak prom rules
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

add: nut-exporter
  kubernetes/apps/observability/exporters/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/nut-exporter/ks.yaml
  kubernetes/apps/observability/exporters/prometheus-nut-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

1 year metrics
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

200GB pvc
  kubernetes/apps/observability/victoria-metrics/app/helmrelease.yaml
Labels: area/kubernetes

chore: move bazarr media
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/kustomization.yaml
  kubernetes/apps/media/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/media/bazarr/whisper/kustomization.yaml
  kubernetes/apps/media/bazarr/whisper/pvc.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

chore: unpackerr to media
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/unpackerr/app/externalsecret.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/kustomization.yaml
  kubernetes/apps/media/unpackerr/ks.yaml
Labels: area/kubernetes

chore: wizarr to media
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/app/kustomization.yaml
  kubernetes/apps/media/wizarr/ks.yaml
Labels: area/kubernetes

chore: tautulli to media
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/kustomization.yaml
  kubernetes/apps/media/tautulli/app/pvc.yaml
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

tweak hrs
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/pvc.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/wizarr/ks.yaml
Labels: area/kubernetes

fix: update exporterrs
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/ks.yaml
Labels: area/kubernetes

fix: update urls
  kubernetes/apps/default/displex/app/externalsecret.yaml
Labels: area/kubernetes

chore: sonarr/radarr to media
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/dashbrr/app/resources/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/plex/meta-manager/configs/config.yml
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/pvc.yaml
  kubernetes/apps/media/radarr/app/resources/pushover-notify.sh
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/kustomization.yaml
  kubernetes/apps/media/sonarr/app/pvc.yaml
  kubernetes/apps/media/sonarr/app/resources/pushover-notify.sh
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix: dono why this broke now
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

chore: prowl to media
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/dashbrr/app/resources/services.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/helmrelease.yaml
Labels: area/kubernetes
