Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

bump
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

try fix shim issue
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

try fix shim issue
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

try fix shim issue
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try fix shim issue"
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try fix shim issue"
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try fix shim issue"
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

Add priv container
  .taskfiles/KuberneteTasks.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
Labels: area/taskfile

Add priv container
  .taskfiles/KuberneteTasks.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
Labels: area/taskfile

Add priv container
  .taskfiles/KuberneteTasks.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
Labels: area/taskfile

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

powercycle
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: spegel maybe
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix: spegel maybe
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix: spegel maybe
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove endpointStatus
  kubernetes/apps/kube-system/cilium/app/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: remove endpointStatus
  kubernetes/apps/kube-system/cilium/app/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: remove endpointStatus
  kubernetes/apps/kube-system/cilium/app/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: remove container runtimeConfiguration
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove container runtimeConfiguration
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove container runtimeConfiguration
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove tunnel
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove tunnel
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove tunnel
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove enableCnpStatusUpdates
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove enableCnpStatusUpdates
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix: remove enableCnpStatusUpdates
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

forward to cloudflare for photos, dns borked on LAN for some reason.
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

forward to cloudflare for photos, dns borked on LAN for some reason.
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

forward to cloudflare for photos, dns borked on LAN for some reason.
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
