Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.11.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.11.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(helm): update helm release grafana to v7.0.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vector docker tag to v0.34.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.8
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.29.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/overseerr/app/volsync.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/overseerr/app/volsync.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.4.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v54.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.78
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.78
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.4.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.4.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vector docker tag to v0.34.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vector docker tag to v0.34.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.8
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.8
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.29.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.29.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v54.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v54.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/kubelet to v1.28.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

chore(container): update ghcr.io/mchestr/displex:main docker digest to ff55068
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to ff55068
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

remove bb link
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

remove bb link
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.4.4084
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.4.4084
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.87.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.6
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.11.2
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes
