Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(container): update redis docker tag to v18.1.6
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.1.6
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.14.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.14.0
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency siderolabs/talos to v1.5.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/talos to v1.5.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

update tasks
  .taskfiles/TalosTasks.yml
Labels: none

update tasks
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.2
  kubernetes/apps/default/ghostfolio/redis/helmrelease.yaml
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.3
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.13.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.19.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update wordpress Docker tag to v18
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.3
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/kubelet to v1.28.3
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat(helm): update helm release cloudnative-pg to v0.19.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.19.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.13.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.13.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos group
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.2
  kubernetes/apps/default/ghostfolio/redis/helmrelease.yaml
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.2
  kubernetes/apps/default/ghostfolio/redis/helmrelease.yaml
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: pin wp version
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: pin wp version
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: bump
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable cross-seed
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable cross-seed
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.0.4046
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.0.4046
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/recyclarr/recyclarr docker tag to v6.0.2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes
