Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore: go
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/kustomization.yaml
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kyverno/policies/delete-cpu-limits.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kyverno/policies/sync-postgres-secrets.yaml
  cluster/apps/kyverno/rbac.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kustomization.yaml
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/kustomization.yaml
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kyverno/policies/delete-cpu-limits.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kyverno/policies/sync-postgres-secrets.yaml
  cluster/apps/kyverno/rbac.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/rbac.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/rbac.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

fix: move kyverno own ns
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

chore: go
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore: go
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore: go
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore: go
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

fix: maybe break everything idk
  cluster/apps/networking/k8s-gateway/helm-release.yaml
  cluster/apps/networking/k8s-gateway/kustomization.yaml
  cluster/apps/networking/k8s-gateway/rbac.yaml
Labels: area/cluster

fix: maybe break everything idk
  cluster/apps/networking/k8s-gateway/helm-release.yaml
  cluster/apps/networking/k8s-gateway/kustomization.yaml
  cluster/apps/networking/k8s-gateway/rbac.yaml
Labels: area/cluster

fix: maybe break everything idk
  cluster/apps/networking/k8s-gateway/helm-release.yaml
Labels: area/cluster

fix: maybe break everything idk
  cluster/apps/networking/k8s-gateway/helm-release.yaml
Labels: area/cluster

fix: broken cert path
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

fix: broken cert path
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: swap nginx
  cluster/apps/home/theme-park/helm-release.yaml
Labels: area/cluster

feat: swap nginx
  cluster/apps/home/theme-park/helm-release.yaml
Labels: area/cluster

fix: keep secret name for now
  cluster/apps/home/theme-park/helm-release.yaml
Labels: area/cluster

fix: keep secret name for now
  cluster/apps/home/theme-park/helm-release.yaml
Labels: area/cluster

feat(nginx): swap traefik for nginx, hope for the best
  cluster/apps/auth-system/authelia/helm-release.yaml
  cluster/apps/auth-system/vaultwarden/helm-release.yaml
  cluster/apps/databases/emqx/helm-release.yaml
  cluster/apps/default/kopia-web/helm-release.yaml
  cluster/apps/flux-system/webhook/github/ingress.yaml
  cluster/apps/home/appdaemon/helm-release.yaml
  cluster/apps/home/baikal/helm-release.yaml
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/hajimari/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
  cluster/apps/home/immich/web/kustomization.yaml
  cluster/apps/home/immich/web/middleware.yaml
  cluster/apps/home/paperless/helm-release.yaml
  cluster/apps/home/paperless/network-policy.yaml
  cluster/apps/home/theme-park/helm-release.yaml
  cluster/apps/home/unifi/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
  cluster/apps/media/bazarr/helm-release.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/lidarr/helm-release.yaml
  cluster/apps/media/overseerr/helm-release.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/prowlarr/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr-4k/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/sabnzbd/helm-release.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/thanos/helm-release.yaml
  cluster/apps/monitoring/unifi-poller/helm-release.yaml
  cluster/apps/networking/static-routes/lochnas/ingress.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/octoprint/ingress.yaml
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

feat(nginx): swap traefik for nginx, hope for the best
  cluster/apps/auth-system/authelia/helm-release.yaml
  cluster/apps/auth-system/vaultwarden/helm-release.yaml
  cluster/apps/databases/emqx/helm-release.yaml
  cluster/apps/default/kopia-web/helm-release.yaml
  cluster/apps/flux-system/webhook/github/ingress.yaml
  cluster/apps/home/appdaemon/helm-release.yaml
  cluster/apps/home/baikal/helm-release.yaml
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/home/hajimari/helm-release.yaml
  cluster/apps/home/home-assistant/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
  cluster/apps/home/immich/web/kustomization.yaml
  cluster/apps/home/immich/web/middleware.yaml
  cluster/apps/home/paperless/helm-release.yaml
  cluster/apps/home/paperless/network-policy.yaml
  cluster/apps/home/theme-park/helm-release.yaml
  cluster/apps/home/unifi/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
  cluster/apps/media/bazarr/helm-release.yaml
  cluster/apps/media/jellyfin/helm-release.yaml
  cluster/apps/media/lidarr/helm-release.yaml
  cluster/apps/media/overseerr/helm-release.yaml
  cluster/apps/media/plex/helm-release.yaml
  cluster/apps/media/prowlarr/helm-release.yaml
  cluster/apps/media/qbittorrent/helm-release.yaml
  cluster/apps/media/radarr-4k/helm-release.yaml
  cluster/apps/media/radarr/helm-release.yaml
  cluster/apps/media/sabnzbd/helm-release.yaml
  cluster/apps/media/sonarr/helm-release.yaml
  cluster/apps/media/tautulli/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/thanos/helm-release.yaml
  cluster/apps/monitoring/unifi-poller/helm-release.yaml
  cluster/apps/networking/static-routes/lochnas/ingress.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/octoprint/ingress.yaml
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

chore: remove unused scripts
  configure
  configure.sh
Labels: none

chore: remove unused scripts
  configure
  configure.sh
Labels: none

feat(outline): remove for now
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/outline/README.md
  cluster/apps/home/outline/helm-release.yaml
  cluster/apps/home/outline/kustomization.yaml
  cluster/apps/home/outline/patches/postgres-init.yaml
  cluster/apps/home/outline/secret.sops.yaml
Labels: area/cluster

feat(outline): remove for now
  cluster/apps/home/kustomization.yaml
  cluster/apps/home/outline/README.md
  cluster/apps/home/outline/helm-release.yaml
  cluster/apps/home/outline/kustomization.yaml
  cluster/apps/home/outline/patches/postgres-init.yaml
  cluster/apps/home/outline/secret.sops.yaml
Labels: area/cluster

feat(grafana): swap to authelia
  cluster/apps/auth-system/authelia/config/configuration.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(grafana): swap to authelia
  cluster/apps/auth-system/authelia/config/configuration.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

feat(immich): swap authelia
  cluster/apps/auth-system/authelia/config/configuration.yaml
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

feat(immich): swap authelia
  cluster/apps/auth-system/authelia/config/configuration.yaml
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

feat(authentik): remove
  .taskfiles/TerraformTasks.yml
  cluster/apps/auth-system/authentik/helm-release.yaml
  cluster/apps/auth-system/authentik/kustomization.yaml
  cluster/apps/auth-system/authentik/middleware.yaml
  cluster/apps/auth-system/authentik/patches/postgres-init.yaml
  cluster/apps/auth-system/authentik/secret.sops.yaml
  cluster/apps/auth-system/kustomization.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/kustomization.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/secret.sops.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/terraform.yaml
  cluster/apps/flux-system/tf-controller/terraform/kustomization.yaml
  cluster/base/flux-system/repositories/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/oci/kustomization.yaml
  cluster/base/flux-system/repositories/oci/terraform-authentik-oci.yaml
  provision/terraform/authentik/.terraform.lock.hcl
  provision/terraform/authentik/README.md
  provision/terraform/authentik/applications.tf
  provision/terraform/authentik/customization.tf
  provision/terraform/authentik/directory.tf
  provision/terraform/authentik/flows.tf
  provision/terraform/authentik/main.tf
  provision/terraform/authentik/providers.tf
  provision/terraform/authentik/stages.tf
  provision/terraform/authentik/system.tf
  provision/terraform/authentik/variables.tf
Labels: area/cluster, area/terraform

feat(authentik): remove
  .taskfiles/TerraformTasks.yml
  cluster/apps/auth-system/authentik/helm-release.yaml
  cluster/apps/auth-system/authentik/kustomization.yaml
  cluster/apps/auth-system/authentik/middleware.yaml
  cluster/apps/auth-system/authentik/patches/postgres-init.yaml
  cluster/apps/auth-system/authentik/secret.sops.yaml
  cluster/apps/auth-system/kustomization.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/kustomization.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/secret.sops.yaml
  cluster/apps/flux-system/tf-controller/terraform/authentik/terraform.yaml
  cluster/apps/flux-system/tf-controller/terraform/kustomization.yaml
  cluster/base/flux-system/repositories/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/oci/kustomization.yaml
  cluster/base/flux-system/repositories/oci/terraform-authentik-oci.yaml
  provision/terraform/authentik/.terraform.lock.hcl
  provision/terraform/authentik/README.md
  provision/terraform/authentik/applications.tf
  provision/terraform/authentik/customization.tf
  provision/terraform/authentik/directory.tf
  provision/terraform/authentik/flows.tf
  provision/terraform/authentik/main.tf
  provision/terraform/authentik/providers.tf
  provision/terraform/authentik/stages.tf
  provision/terraform/authentik/system.tf
  provision/terraform/authentik/variables.tf
Labels: area/cluster, area/terraform

chore(authelia): swap minio
  cluster/apps/auth-system/authelia/config/configuration.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster
