Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

chore: remove jellystat, openclaw, and radarr-4k
  kubernetes/apps/media/jellystat/app/externalsecret.yaml
  kubernetes/apps/media/jellystat/app/helmrelease.yaml
  kubernetes/apps/media/jellystat/app/kustomization.yaml
  kubernetes/apps/media/jellystat/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-4k/app/externalsecret.yaml
  kubernetes/apps/media/radarr-4k/app/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/app/kustomization.yaml
  kubernetes/apps/media/radarr-4k/app/pvc.yaml
  kubernetes/apps/media/radarr-4k/app/resources/pushover-notify.sh
  kubernetes/apps/media/radarr-4k/ks.yaml
  kubernetes/apps/openclaw/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/helmrelease.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/namespace.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/ocirepository.yaml
  kubernetes/apps/openclaw/openclaw-operator/ks.yaml
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
  kubernetes/apps/openclaw/openclaw/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw/app/networkpolicy.yaml
  kubernetes/apps/openclaw/openclaw/app/route.yaml
  kubernetes/apps/openclaw/openclaw/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update emqx-operator ( 2.2.29 → 2.3.0 )"
  kubernetes/apps/default/emqx/app/helmrelease.yaml
Labels: area/kubernetes

fix(recyclarr): remove radarr-4k instance that no longer exists
  .claude/agents/ops.md
  .claude/settings.json
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix(qbittorrent): increase memory limit to 16Gi
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(qbittorrent): increase memory limit to 16Gi
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(cross-seed): remove radarr-4k instance that no longer exists
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fix(cross-seed): remove radarr-4k instance that no longer exists
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

chore: remove radarr-4k references
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(networking): add gateway-api CRDs v1.5.1 to Flux meta
  kubernetes/flux/meta/crds/kustomization.yaml
Labels: area/kubernetes

fix(networking): add gateway-api CRDs v1.5.1 to Flux meta
  kubernetes/flux/meta/crds/kustomization.yaml
Labels: area/kubernetes

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Labels: none

docs: add CLAUDE.md for Claude Code guidance
  CLAUDE.md
Labels: none

fix(networking): reorder plex HTTPRoute rules to fix Gatus probe
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(networking): reorder plex HTTPRoute rules to fix Gatus probe
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(networking): update plex gatus probe status code to 404
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update frigate doorbell streams to use rtspx protocol
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix(helm): increase rook-ceph-cluster upgrade timeout to 15m
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): add missing CSI plugin ServiceAccounts and RBAC for rook-ceph v1.20
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): add namespaced Roles for CSI plugin leader election
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-rbac.yaml
Labels: area/kubernetes

feat(helm): deploy ceph-csi-drivers chart, retire static CSI RBAC
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/flux/meta/repositories/helm/ceph-csi-operator.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(helm): deploy ceph-csi-drivers chart, retire static CSI RBAC
  kubernetes/apps/rook-ceph/rook-ceph/app/csi-rbac.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/flux/meta/repositories/helm/ceph-csi-operator.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(helm): enable rbd snapshotPolicy for ceph-csi-drivers
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
Labels: area/kubernetes

fix(helm): enable rbd snapshotPolicy for ceph-csi-drivers
  kubernetes/apps/rook-ceph/rook-ceph/csi-drivers/helmrelease.yaml
Labels: area/kubernetes

chore: extend talos admin cert validity to 8 years
  .taskfiles/talos/Taskfile.yml
Labels: area/taskfile

fix(helm): set automountServiceAccountToken for app-template v5
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): set automountServiceAccountToken for app-template v5
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): pin emqx-operator to 2.3.1
  kubernetes/apps/default/emqx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): pin emqx-operator to 2.2.29 (last known-good)
  kubernetes/apps/default/emqx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): mount SA token for multus under app-template v5
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): mount SA token for multus under app-template v5
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): grant dragonfly-operator configmaps access
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes

feat(openclaw): redeploy without signal channel
  kubernetes/apps/openclaw/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/helmrelease.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/namespace.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/ocirepository.yaml
  kubernetes/apps/openclaw/openclaw-operator/ks.yaml
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
  kubernetes/apps/openclaw/openclaw/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw/app/networkpolicy.yaml
  kubernetes/apps/openclaw/openclaw/app/route.yaml
  kubernetes/apps/openclaw/openclaw/ks.yaml
Labels: area/kubernetes

feat(openclaw): redeploy via app-template with k8s MCP, memini, searxng
  kubernetes/apps/openclaw/kustomization.yaml
  kubernetes/apps/openclaw/memini/app/externalsecret.yaml
  kubernetes/apps/openclaw/memini/app/helmrelease.yaml
  kubernetes/apps/openclaw/memini/app/kustomization.yaml
  kubernetes/apps/openclaw/memini/app/ocirepository.yaml
  kubernetes/apps/openclaw/memini/ks.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/helmrelease.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/namespace.yaml
  kubernetes/apps/openclaw/openclaw/app/configmap.yaml
  kubernetes/apps/openclaw/openclaw/app/helmrelease.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
  kubernetes/apps/openclaw/openclaw/app/networkpolicy.yaml
  kubernetes/apps/openclaw/openclaw/app/pvc.yaml
  kubernetes/apps/openclaw/openclaw/app/rbac.yaml
  kubernetes/apps/openclaw/openclaw/app/route.yaml
  kubernetes/apps/openclaw/searxng/app/externalsecret.yaml
  kubernetes/apps/openclaw/searxng/app/helmrelease.yaml
  kubernetes/apps/openclaw/searxng/app/kustomization.yaml
  kubernetes/apps/openclaw/searxng/app/resources/settings.yml
  kubernetes/apps/openclaw/searxng/ks.yaml
  kubernetes/apps/openclaw/text-embeddings/app/helmrelease.yaml
  kubernetes/apps/openclaw/text-embeddings/app/kustomization.yaml
  kubernetes/apps/openclaw/text-embeddings/ks.yaml
Labels: area/kubernetes

feat(home-assistant): replace vscode tunnel with code-server
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(openclaw): install memini plugin with config moved aside
  kubernetes/apps/openclaw/openclaw/app/configmap.yaml
  kubernetes/apps/openclaw/openclaw/app/helmrelease.yaml
Labels: area/kubernetes

fix(openclaw): bill OpenAI via API key, not Codex subscription
  kubernetes/apps/openclaw/openclaw/app/configmap.yaml
Labels: area/kubernetes

feat(openclaw): re-add Signal channel
  kubernetes/apps/openclaw/openclaw/app/configmap.yaml
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/helmrelease.yaml
Labels: area/kubernetes

fix(openclaw): allow kube-apiserver reply traffic for k8s MCP
  kubernetes/apps/openclaw/openclaw/app/networkpolicy.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
