Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/networking/static-routes/minio/ingress.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/home/outline/helm-release.yaml
Labels: area/cluster

chore: add s3 url
  cluster/apps/home/outline/helm-release.yaml
Labels: area/cluster

chore(hajimari): add aws console link
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(hajimari): add aws console link
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(kyverno): bump snapshot time to later
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
Labels: area/cluster

chore(kyverno): bump snapshot time to later
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
Labels: area/cluster

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yaml
Labels: none

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yaml
Labels: none

chore: add snapshot tasks
  Taskfile.yml
Labels: none

chore: add snapshot tasks
  Taskfile.yml
Labels: none

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yaml
Labels: none

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yaml
Labels: none

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yml
Labels: none

chore: add snapshot tasks
  .taskfiles/SnapshotTasks.yml
Labels: none

feat: add some hack scripts copy pasta :D
  hack/delete-stuck-ns.sh
  hack/delete-stuck-snapshots.sh
  hack/restore-job.yaml
Labels: area/hack

feat: add some hack scripts copy pasta :D
  hack/delete-stuck-ns.sh
  hack/delete-stuck-snapshots.sh
  hack/restore-job.yaml
Labels: area/hack

feat(immich): split our services into their own deployments
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/machine-learning/kustomization.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/microservices/kustomization.yaml
  cluster/apps/home/immich/secret.sops.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/server/kustomization.yaml
  cluster/apps/home/immich/server/patches/postgres-init.yaml
  cluster/apps/home/immich/server/secret.sops.yaml
  cluster/apps/home/immich/web/helm-release.yaml
  cluster/apps/home/immich/web/kustomization.yaml
  cluster/apps/home/immich/web/middleware.yaml
Labels: area/cluster

feat(immich): split our services into their own deployments
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/machine-learning/kustomization.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/microservices/kustomization.yaml
  cluster/apps/home/immich/secret.sops.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/server/kustomization.yaml
  cluster/apps/home/immich/server/patches/postgres-init.yaml
  cluster/apps/home/immich/server/secret.sops.yaml
  cluster/apps/home/immich/web/helm-release.yaml
  cluster/apps/home/immich/web/kustomization.yaml
  cluster/apps/home/immich/web/middleware.yaml
Labels: area/cluster

feat(immich): split our services into their own deployments
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

feat(immich): split our services into their own deployments
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

fix(immich): update db-init
  cluster/apps/home/immich/server/patches/postgres-init.yaml
Labels: area/cluster

fix(immich): update db-init
  cluster/apps/home/immich/server/patches/postgres-init.yaml
Labels: area/cluster

fix(immich): update log level
  cluster/apps/home/immich/config-map.yaml
Labels: area/cluster

fix(immich): update log level
  cluster/apps/home/immich/config-map.yaml
Labels: area/cluster

fix(immich): update host
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

fix(immich): update host
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

fix(outline): update hajimari name
  cluster/apps/home/outline/helm-release.yaml
Labels: area/cluster

fix(outline): update hajimari name
  cluster/apps/home/outline/helm-release.yaml
Labels: area/cluster

chore: update some hajimari names
  cluster/apps/auth-system/vaultwarden/helm-release.yaml
  cluster/apps/home/hyperion-ng/helm-release.yaml
  cluster/apps/home/outline/helm-release.yaml
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

chore: update some hajimari names
  cluster/apps/auth-system/vaultwarden/helm-release.yaml
  cluster/apps/home/hyperion-ng/helm-release.yaml
  cluster/apps/home/outline/helm-release.yaml
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

chore: fix sops
  cluster/apps/home/paperless/secret.sops.yaml
  hack/sops-map-mismatch.sh
Labels: area/cluster, area/hack

chore: fix sops
  cluster/apps/home/paperless/secret.sops.yaml
  hack/sops-map-mismatch.sh
Labels: area/cluster, area/hack

feat(ghostfoio): try it out
  cluster/apps/home/ghostfolio/helm-release.yaml
  cluster/apps/home/ghostfolio/kustomization.yaml
  cluster/apps/home/ghostfolio/patches/postgres-init.yaml
  cluster/apps/home/ghostfolio/secret.sops.yaml
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(ghostfoio): try it out
  cluster/apps/home/ghostfolio/helm-release.yaml
  cluster/apps/home/ghostfolio/kustomization.yaml
  cluster/apps/home/ghostfolio/patches/postgres-init.yaml
  cluster/apps/home/ghostfolio/secret.sops.yaml
  cluster/apps/home/kustomization.yaml
Labels: area/cluster
