Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

chore(deps): update dependency alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

chore(deps): update dependency alert to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

chore(deps): update dependency helmrepository to source.toolkit.fluxcd.io/v1beta2
  kubernetes/flux/repositories/helm/emqx-charts.yaml
Labels: area/kubernetes

chore(deps): update dependency helmrepository to source.toolkit.fluxcd.io/v1beta2
  kubernetes/flux/repositories/helm/emqx-charts.yaml
Labels: area/kubernetes

chore(deps): update dependency helmrepository to source.toolkit.fluxcd.io/v1beta2
  kubernetes/flux/repositories/helm/emqx-charts.yaml
Labels: area/kubernetes

chore(deps): update dependency provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

chore(deps): update dependency provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

chore(deps): update dependency provider to notification.toolkit.fluxcd.io/v1beta3
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.54
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.54
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.54
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.18.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.5
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(container): update ghcr.io/mchestr/vscode-tunnel docker tag to v1.85.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vscode-tunnel docker tag to v1.85.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vscode-tunnel docker tag to v1.85.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vscode-tunnel docker tag to v1.85.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform onepassword to v1.4.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform onepassword to v1.4.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform onepassword to v1.4.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.10
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.5
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release cilium to v1.14.5
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release cilium to v1.14.5
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
