Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

feat(container): update docker.io/cloudflare/cloudflared docker tag to v2023.8.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/cloudflare/cloudflared docker tag to v2023.8.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.0.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.0.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/theme-park docker tag to v1.13.11
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/theme-park docker tag to v1.13.11
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release prometheus-snmp-exporter to v1.8.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release prometheus-snmp-exporter to v1.8.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.3.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.3.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.16.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.16.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/thanos/thanos docker tag to v0.32.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/thanos/thanos docker tag to v0.32.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.5.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update grafana/grafana docker tag to v10.1.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.3
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.5.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.5.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update grafana/grafana docker tag to v10.1.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update grafana/grafana docker tag to v10.1.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

add new wg peer
  ansible/inventory/group_vars/router/wireguard.yaml
Labels: area/ansible

add new wg peer
  ansible/inventory/group_vars/router/wireguard.yaml
Labels: area/ansible

Revert "feat(container): update quay.io/thanos/thanos docker tag to v0.32.0"
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update quay.io/thanos/thanos docker tag to v0.32.0"
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v38.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v38.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(helm): update helm release loki to v5.15.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.15.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: add some limits to these to avoid outage
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: add some limits to these to avoid outage
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: add some limits to these to avoid outage
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: add some limits to these to avoid outage
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.4
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update wordpress docker tag to v17.1.2
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update wordpress docker tag to v17.1.2
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes
