Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(helm): update helm release kubelet-csr-approver to v1.0.4
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

feat: rename overseer url to requests for old folks
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: rename overseer url to requests for old folks
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: block most countries for all domains
  terraform/cloudflare/waf.tf
Labels: area/terraform

feat: block most countries for all domains
  terraform/cloudflare/waf.tf
Labels: area/terraform

feat: redirect url
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  terraform/cloudflare/rulesets.tf
  terraform/cloudflare/waf.tf
Labels: area/kubernetes, area/terraform

feat: redirect url
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  terraform/cloudflare/rulesets.tf
  terraform/cloudflare/waf.tf
Labels: area/kubernetes, area/terraform

fix: add dummy domain
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

fix: add dummy domain
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/theme-park docker tag to v1.13.10
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/theme-park docker tag to v1.13.10
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kubelet-csr-approver to v1.0.4
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.4
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

fix: update kyverno
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: update kyverno
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: add dummy domain
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

fix: add dummy domain
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

fix: add kyverno upgrade thing
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix: add kyverno upgrade thing
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 75d9b17
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 75d9b17
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 7fd8dc4
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 7fd8dc4
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/bazarr docker tag to v1.2.4
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/bazarr docker tag to v1.2.4
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.4.3765
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.4.3765
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.2.7686
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.2.7686
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.577
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.577
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release prometheus-snmp-exporter to v1.7.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.69.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore: fixup grafana dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: fixup grafana dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: fixup grafana dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: fixup grafana dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 537a0f4
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes
