Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(terraform): update terraform onepassword to v1.2.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm): update helm release kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform onepassword to v1.2.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform onepassword to v1.2.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(helm): update helm release kubelet-csr-approver to v1.0.2
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.2
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

feat(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.8.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.8.0
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update thanos docker tag to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.8.4
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform google to v4.73.1
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(terraform): update terraform google to v4.73.1
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(terraform): update terraform google to v4.73.1
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.7.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.7.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.7.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable dashboard
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

feat: enable dashboard
  kubernetes/apps/default/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

feat: expose cross-seed port
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: expose cross-seed port
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: update rules to latest
  kubernetes/apps/default/cloudnative-pg/cluster/prometheusrule.yaml
Labels: area/kubernetes

feat: update rules to latest
  kubernetes/apps/default/cloudnative-pg/cluster/prometheusrule.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update immich group to v1.67.0"
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update immich group to v1.67.0"
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.67.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to ee106b0
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to ee106b0
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/tautulli docker tag to v2.12.5
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
