Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.8.0
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.2
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.5.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.5.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update helm release external-secrets to v0.9.2
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.2
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.8.0
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.8.0
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

fix: update renovate
  .github/renovate.json5
Labels: area/github

fix: update renovate
  .github/renovate.json5
Labels: area/github

fix: update renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix: update renovate
  .github/workflows/renovate.yaml
Labels: area/github

fix: update renovate
  .github/renovate.json5
Labels: area/github

fix: update renovate
  .github/renovate.json5
Labels: area/github

feat(helm): update helm release metrics-server to v3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.76.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(container)!: Update wordpress Docker tag to v17
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update wordpress Docker tag to v17
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update wordpress Docker tag to v17
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release metrics-server to v3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release metrics-server to v3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.76.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.76.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(helm): update helm release loki to v5.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 9d80823
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 9d80823
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3821
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3821
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.599
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.599
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3823
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3823
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.10.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
