Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

fix: apparently this is the thing to do now
  talos/talconfig.yaml
Labels: area/talos

feat: copy a bunch of useful things from community
  .envrc
  .minijinja.toml
  .mise.toml
  .sops.yaml
  .taskfiles/Postgres/Tasks.yaml
  .taskfiles/PrecommitTasks.yml
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yml
  .taskfiles/talos/Taskfile.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  Taskfile.yml
  kubernetes/bootstrap/.cluster.env
  kubernetes/bootstrap/.secrets.env
  kubernetes/bootstrap/.sourceignore
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

feat: copy a bunch of useful things from community
  .envrc
  .minijinja.toml
  .mise.toml
  .sops.yaml
  .taskfiles/Postgres/Tasks.yaml
  .taskfiles/PrecommitTasks.yml
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yml
  .taskfiles/talos/Taskfile.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  Taskfile.yml
  kubernetes/bootstrap/.cluster.env
  kubernetes/bootstrap/.secrets.env
  kubernetes/bootstrap/.sourceignore
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

feat: copy a bunch of useful things from community
  .envrc
  .minijinja.toml
  .mise.toml
  .sops.yaml
  .taskfiles/Postgres/Tasks.yaml
  .taskfiles/PrecommitTasks.yml
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yml
  .taskfiles/talos/Taskfile.yml
  .taskfiles/templates/privileged-pod.tmpl.yaml
  .taskfiles/terraform/Taskfile.yml
  .taskfiles/workstation/Taskfile.yaml
  .taskfiles/workstation/resources/Brewfile
  Taskfile.yml
  kubernetes/bootstrap/.cluster.env
  kubernetes/bootstrap/.secrets.env
  kubernetes/bootstrap/.sourceignore
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

feat: copy more stuff, no regrets
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: copy more stuff, no regrets
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: copy more stuff, no regrets
  .vscode/extensions.json
  .vscode/settings.json
Labels: none

feat: add docs, good slathering of copy pasta from community
  .github/workflows/docs.yaml
  docs/book.toml
  docs/mdbook-admonish.css
  docs/mermaid-init.js
  docs/mermaid.min.js
  docs/src/SUMMARY.md
  docs/src/introduction.md
  kubernetes/bootstrap/README.md
Labels: area/github, area/kubernetes

feat: add docs, good slathering of copy pasta from community
  .github/workflows/docs.yaml
  docs/book.toml
  docs/mdbook-admonish.css
  docs/mermaid-init.js
  docs/mermaid.min.js
  docs/src/SUMMARY.md
  docs/src/introduction.md
  kubernetes/bootstrap/README.md
Labels: area/github, area/kubernetes

feat: add docs, good slathering of copy pasta from community
  .github/workflows/docs.yaml
  docs/book.toml
  docs/mdbook-admonish.css
  docs/mermaid-init.js
  docs/mermaid.min.js
  docs/src/SUMMARY.md
  docs/src/introduction.md
  kubernetes/bootstrap/README.md
Labels: area/github, area/kubernetes

feat: add jellyplex-watched
  kubernetes/apps/default/jellyplex-watched/app/externalsecret.yaml
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
  kubernetes/apps/default/jellyplex-watched/app/kustomization.yaml
  kubernetes/apps/default/jellyplex-watched/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add jellyplex-watched
  kubernetes/apps/default/jellyplex-watched/app/externalsecret.yaml
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
  kubernetes/apps/default/jellyplex-watched/app/kustomization.yaml
  kubernetes/apps/default/jellyplex-watched/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add jellyplex-watched
  kubernetes/apps/default/jellyplex-watched/app/externalsecret.yaml
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
  kubernetes/apps/default/jellyplex-watched/app/kustomization.yaml
  kubernetes/apps/default/jellyplex-watched/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: sync plex to jellyfin
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: sync plex to jellyfin
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: sync plex to jellyfin
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: 2way sync
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: 2way sync
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: 2way sync
  kubernetes/apps/default/jellyplex-watched/app/helmrelease.yaml
Labels: area/kubernetes

fix: tweak some bootstrap params
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

fix: tweak some bootstrap params
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

fix: tweak some bootstrap params
  .taskfiles/bootstrap/Taskfile.yaml
  .vscode/settings.json
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile

feat: make a graph viz tool
  .gitignore
  hack/flux-visualizer.py
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/theme-park/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, area/hack

feat: make a graph viz tool
  .gitignore
  hack/flux-visualizer.py
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/theme-park/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, area/hack

feat: make a graph viz tool
  .gitignore
  hack/flux-visualizer.py
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/theme-park/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/democratic-csi/democratic-csi/ks.yaml
  kubernetes/apps/flux-system/flux-operator/ks.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/node-problem-detector/ks.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prometheus-nut-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/prowlarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/qbittorrent-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/radarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sabnzbd-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/sonarr-exporter/ks.yaml
  kubernetes/apps/monitoring/exporters/tautulli-exporter/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/networking/k8s-gateway/ks.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, area/hack

feat: publch graph to docs?
  .github/workflows/docs.yaml
  hack/requirements.txt
Labels: area/github, area/hack

feat: publch graph to docs?
  .github/workflows/docs.yaml
  hack/requirements.txt
Labels: area/github, area/hack

feat: publch graph to docs?
  .github/workflows/docs.yaml
  hack/requirements.txt
Labels: area/github, area/hack

feat: add graph to links
  .github/workflows/docs.yaml
  .gitignore
  docs/src/SUMMARY.md
Labels: area/github

feat: add graph to links
  .github/workflows/docs.yaml
  .gitignore
  docs/src/SUMMARY.md
Labels: area/github

feat: add graph to links
  .github/workflows/docs.yaml
  .gitignore
  docs/src/SUMMARY.md
Labels: area/github

fix: format the python file, we have standards here
  .gitignore
  hack/flux-visualizer.py
Labels: area/hack

fix: format the python file, we have standards here
  .gitignore
  hack/flux-visualizer.py
Labels: area/hack

fix: format the python file, we have standards here
  .gitignore
  hack/flux-visualizer.py
Labels: area/hack

fix: use this port
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use this port
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use this port
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

add: jellyseerr
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

add: jellyseerr
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

add: jellyseerr
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/app/pvc.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes
