Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(github-action): update tibdex/github-app-token action to v1.8.1
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to f360314
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to f360314
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.3
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.1.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tibdex/github-app-token action to v1.8.2
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tibdex/github-app-token action to v1.8.2
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to 5f97e41
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 5f97e41
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update redis Docker tag to v18
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.3
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.3
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.3
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.1.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.1.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.3
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.3
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2023.8.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2023.8.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.10.1
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.10.1
  .taskfiles/TalosTasks.yml
Labels: none

feat(container)!: Update redis Docker tag to v18
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update redis Docker tag to v18
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency siderolabs/kubelet to v1.28.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat(github-release): update dependency siderolabs/kubelet to v1.28.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

chore: make not internal
  .taskfiles/TalosTasks.yml
Labels: none

chore: make not internal
  .taskfiles/TalosTasks.yml
Labels: none

fix: upgrade k8s 1.28.1 and remove GA feature gates
  talos/talconfig.yaml
Labels: area/talos

fix: upgrade k8s 1.28.1 and remove GA feature gates
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/talos to v1.5.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/talos to v1.5.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/talos to v1.5.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat: add talos version task
  .taskfiles/TalosTasks.yml
Labels: none

feat: add talos version task
  .taskfiles/TalosTasks.yml
Labels: none

feat: maybe simplify upgrade, test l8r
  .taskfiles/TalosTasks.yml
Labels: none
