Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: add homepage annotations
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: dont need this ne more
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/kustomization.yaml
Labels: area/kubernetes

fix: dont need this ne more
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/certificate.yaml
  kubernetes/apps/cert-manager/cert-manager/tls/kustomization.yaml
Labels: area/kubernetes

fix: add back homepage annotations
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/httproute.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix: add back homepage annotations
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/httproute.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix: update volsync restore
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

fix: update volsync restore
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

tweak: renovate config update
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/regexManagers.json5
Labels: area/github

tweak: renovate config update
  .github/renovate.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/regexManagers.json5
Labels: area/github

update: more grafana things
  kubernetes/apps/default/cloudnative-pg/app/dashboard/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

update: more grafana things
  kubernetes/apps/default/cloudnative-pg/app/dashboard/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: set folderuid
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: set folderuid
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat: add antiaffinity to spread volsyncs
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

feat: add antiaffinity to spread volsyncs
  kubernetes/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix: pump those numbers up
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: pump those numbers up
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

update: new tokens
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

update: new tokens
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

Revert "update: new tokens"
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

Revert "update: new tokens"
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

fix: use same key
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
Labels: area/kubernetes

fix: use same key
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
Labels: area/kubernetes

fix: use same key
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes

fix: use same key
  kubernetes/components/volsync/r2/externalsecret.yaml
Labels: area/kubernetes

feat: add cf ruleset
  terraform/cloudflare/main.tf
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

feat: add cf ruleset
  terraform/cloudflare/main.tf
  terraform/cloudflare/rulesets.tf
Labels: area/terraform

fix: update homepage rbac
  kubernetes/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes

fix: update homepage rbac
  kubernetes/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes

fix: make homepage ping thing work
  kubernetes/apps/default/emqx/cluster/httproute.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

fix: make homepage ping thing work
  kubernetes/apps/default/emqx/cluster/httproute.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/httproute.yaml
Labels: area/kubernetes

fix: some mitigations
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

fix: some mitigations
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/workflows/helm-repo-sync.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

feat: immich hw things?
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

feat: update external dns
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat: http->https redirect
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/kube-system/cilium/gateway/kustomization.yaml
  kubernetes/apps/kube-system/cilium/gateway/redirect.yaml
Labels: area/kubernetes

feat: update external dns
  kubernetes/apps/kube-system/cilium/gateway/external.yaml
  kubernetes/apps/kube-system/cilium/gateway/internal.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

feat: immich hw things?
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
