Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(helm): update helm release grafana to v6.58.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.58.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/tautulli docker tag to v2.13.1
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/tautulli docker tag to v2.13.1
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v38.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v38.1.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v38.1.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v38.1.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to dc88504
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to dc88504
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.17.1
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.75.2
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update dependency community.sops to v1.6.5
  ansible/requirements.yml
Labels: area/ansible

fix(ansible): update dependency community.sops to v1.6.5
  ansible/requirements.yml
Labels: area/ansible

feat: upgrade
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.75.2
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.75.2
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.17.1
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.17.1
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/wizarrrr/wizarr Docker tag to v3
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/wizarrrr/wizarr Docker tag to v3
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.8.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat: upgrade
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update redis docker tag to v17.17.1"
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update redis docker tag to v17.17.1"
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: rename
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/wizarr/app/gatus.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: rename
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/wizarr/app/gatus.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update bypass
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix: update bypass
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix: update bypass
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update bypass
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.8.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.8.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.5.3885
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.5.3885
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
