Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

k
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.7.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.7.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v18.7.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2024.1.3
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2024.1.3
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2024.1.3
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.63
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.63
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.63
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.11.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.11.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.11.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.7
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.7
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.7
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

revert
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

revert
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

revert
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

no guard
  kubernetes/apps/default/atuin/app/kustomization.yaml
Labels: area/kubernetes

no guard
  kubernetes/apps/default/atuin/app/kustomization.yaml
Labels: area/kubernetes

no guard
  kubernetes/apps/default/atuin/app/kustomization.yaml
Labels: area/kubernetes

feat: cilium 1.15.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat: cilium 1.15.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat: cilium 1.15.0-rc.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix: simplify
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/service.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/service.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/kustomization.yaml
  kubernetes/apps/default/unifi/app/service.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/metallb-system/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
  kubernetes/apps/metallb-system/metallb/app/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/ipaddresspool.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ks.yaml
  kubernetes/apps/metallb-system/namespace.yaml
Labels: area/ansible, area/kubernetes

fix: simplify
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/service.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/service.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/kustomization.yaml
  kubernetes/apps/default/unifi/app/service.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/metallb-system/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
  kubernetes/apps/metallb-system/metallb/app/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/ipaddresspool.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ks.yaml
  kubernetes/apps/metallb-system/namespace.yaml
Labels: area/ansible, area/kubernetes

fix: simplify
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/service.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/service.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/kustomization.yaml
  kubernetes/apps/default/unifi/app/service.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/metallb-system/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
  kubernetes/apps/metallb-system/metallb/app/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/ipaddresspool.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ks.yaml
  kubernetes/apps/metallb-system/namespace.yaml
Labels: area/ansible, area/kubernetes

fix: remove unused ns
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
Labels: area/kubernetes

fix: remove unused ns
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
Labels: area/kubernetes

fix: remove unused ns
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
Labels: area/kubernetes

add some rules n stuff
  ansible/playbooks/roles/config.router/tasks/firewall.yml
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

add some rules n stuff
  ansible/playbooks/roles/config.router/tasks/firewall.yml
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

add some rules n stuff
  ansible/playbooks/roles/config.router/tasks/firewall.yml
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

feat: swap images
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

feat: swap images
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v42
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: update wf
  .github/workflows/renovate.yaml
Labels: area/github

feat: update wf
  .github/workflows/renovate.yaml
Labels: area/github

feat: update wf
  .github/workflows/renovate.yaml
Labels: area/github
