Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat(github-action)!: Update tj-actions/changed-files action to v42
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v42
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v42
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: swapadoodle
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: swapadoodle
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: swapadoodle
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

b
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

add statics
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

b
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

b
  talos/talconfig.yaml
Labels: area/talos

add statics
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

add statics
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

feat: add esphome iot
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat: add esphome iot
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat: add esphome iot
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat: add esphome iot
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix: esphome a bit more for compiling
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/kubernetes

fix: esphome a bit more for compiling
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/kubernetes

fix: esphome a bit more for compiling
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/kubernetes

fix: moar
  ansible/inventory/group_vars/router/static-ips.yaml
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/ansible, area/kubernetes

fix: moar
  ansible/inventory/group_vars/router/static-ips.yaml
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/ansible, area/kubernetes

fix: moar
  ansible/inventory/group_vars/router/static-ips.yaml
  kubernetes/apps/default/esphome/ks.yaml
Labels: area/ansible, area/kubernetes

use mdns
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

use mdns
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

use mdns
  ansible/inventory/group_vars/router/static-ips.yaml
Labels: area/ansible

fix: unpackrr to ghcr
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: unpackrr to ghcr
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: unpackrr to ghcr
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: meh
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

fix: meh
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

fix: meh
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update redis docker tag to v18.7.1"
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update redis docker tag to v18.7.1"
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update redis docker tag to v18.7.1"
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: new stuff
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat: new stuff
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat: new stuff
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat: nextdns?
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/system.yml
Labels: area/ansible

feat: nextdns?
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/system.yml
Labels: area/ansible

feat: nextdns?
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/system.yml
Labels: area/ansible
