Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

remove sub for secret
  kubernetes/flux/apps.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/kustomization.yaml
Labels: none

remove sub for secret
  kubernetes/flux/apps.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  kubernetes/flux/vars/kustomization.yaml
Labels: none

feat: update gtnh
  kubernetes/apps/game-system/minecraft-gtnh/app/helm-release.yaml
Labels: none

feat: update gtnh
  kubernetes/apps/game-system/minecraft-gtnh/app/helm-release.yaml
Labels: none

feat: update gtnh
  kubernetes/apps/game-system/minecraft-gtnh/app/helm-release.yaml
Labels: none

feat: update gtnh
  kubernetes/apps/game-system/minecraft-gtnh/app/helm-release.yaml
Labels: none

fix: remove sec
  kubernetes/flux/config/cluster.yaml
Labels: none

fix: remove sec
  kubernetes/flux/config/cluster.yaml
Labels: none

feat: manage cilium in cluster
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/cni/values.yaml
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: none

feat: manage cilium in cluster
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/repositories/helm/cilium-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/cni/values.yaml
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: none

fix: wups
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: none

fix: wups
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: none

feat: add cluster dns to ansible
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

feat: add cluster dns to ansible
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

fix: add ingress annotations
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/cni/values.yaml
Labels: none

fix: add ingress annotations
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/cni/values.yaml
Labels: none

feat: add gatus for new services
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

feat: add gatus for new services
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

fix: use auth annotations str8
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/cni/values.yaml
Labels: none

fix: use auth annotations str8
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/cni/values.yaml
Labels: none

fix: select all ns
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

fix: select all ns
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

chore: add renovate link
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

chore: add renovate link
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

chore: disable hajimari on some stuff
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/networking/static-routes/minio/ingress.yaml
Labels: none

chore: disable hajimari on some stuff
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/networking/static-routes/minio/ingress.yaml
Labels: none

fix: cilium single source for values
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  talos/cni/kustomization.yaml
  talos/cni/values.yaml
Labels: none

fix: cilium single source for values
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  talos/cni/kustomization.yaml
  talos/cni/values.yaml
Labels: none

fix: cilium single source for values
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: none

fix: cilium single source for values
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: none

chore: disable cilium hubble for now
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

chore: disable cilium hubble for now
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

chore: disable hubble
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: none

chore: disable hubble
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: none

feat: add pikvm to gatus
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

feat: add pikvm to gatus
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: none

feat: renovate readme versions?
  .github/renovate.json5
Labels: area/github

feat: renovate readme versions?
  .github/renovate.json5
Labels: area/github

fix: renovate doesnt like it for some reasson
  kubernetes/apps/monitoring/gatus/app/helm-release.yaml
Labels: none

fix: renovate doesnt like it for some reasson
  kubernetes/apps/monitoring/gatus/app/helm-release.yaml
Labels: none
