Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

remove: mosquitto
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/apps/default/mosquitto/ks.yaml
Labels: area/kubernetes

feat: add emqx again
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
  kubernetes/apps/default/emqx/cluster/ingress.yaml
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/teslamate/app/externalsecret.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/teslamate/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

remove: mosquitto
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/apps/default/mosquitto/ks.yaml
Labels: area/kubernetes

feat: add emqx again
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
  kubernetes/apps/default/emqx/cluster/ingress.yaml
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/teslamate/app/externalsecret.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/teslamate/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat: add emqx again
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
  kubernetes/apps/default/emqx/cluster/ingress.yaml
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/teslamate/app/externalsecret.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/teslamate/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix: not guarded
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
Labels: area/kubernetes

fix: not guarded
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
Labels: area/kubernetes

fix: not guarded
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

add emqx acl
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

add emqx acl
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

add emqx acl
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

update suc talos
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

bump
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

bump
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

bump
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert "chore(container): update ghcr.io/onedr0p/home-assistant:2024.12.0 docker digest to 5086e1d"
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

no automerge for now
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2024.12.0"
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2024.12.0"
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2024.12.0"
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: hass twilio
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

update xseed
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

update xseed
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

update xseed
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
