Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(github): add oci workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github): add oci workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(immich): enable oauth
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/secret.sops.yaml
Labels: area/cluster

feat(immich): enable oauth
  cluster/apps/home/immich/config-map.yaml
  cluster/apps/home/immich/secret.sops.yaml
Labels: area/cluster

feat(github): add oci workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github): add oci workflow
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

test: tf build
  provision/terraform/authentik/applications.tf
Labels: area/terraform

test: tf build
  provision/terraform/authentik/applications.tf
Labels: area/terraform

chore: rejig flux directory for oci tf
  cluster/base/flux-system/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/weave-gitops.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/kustomization.yaml
  cluster/base/flux-system/repositories/oci/kustomization.yaml
  cluster/base/flux-system/repositories/oci/terraform-authentik-oci.yaml
  cluster/base/flux-system/repositories/oci/terraform-cloudflare-oci.yaml
  provision/terraform/cloudflare/variables.tf
Labels: area/cluster, area/terraform

chore: rejig flux directory for oci tf
  cluster/base/flux-system/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/weave-gitops.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/kustomization.yaml
  cluster/base/flux-system/repositories/oci/kustomization.yaml
  cluster/base/flux-system/repositories/oci/terraform-authentik-oci.yaml
  cluster/base/flux-system/repositories/oci/terraform-cloudflare-oci.yaml
  provision/terraform/cloudflare/variables.tf
Labels: area/cluster, area/terraform

feat(terraform): use oci images
  cluster/apps/flux-system/tf-controller/terraform/authentik/terraform.yaml
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/terraform.yaml
Labels: area/cluster

feat(terraform): use oci images
  cluster/apps/flux-system/tf-controller/terraform/authentik/terraform.yaml
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/terraform.yaml
Labels: area/cluster

feat(flux): fix charts dir
  cluster/base/flux-system/repositories/helm/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/weave-gitops.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
Labels: area/cluster

feat(flux): fix charts dir
  cluster/base/flux-system/repositories/helm/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/helm/weave-gitops.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
Labels: area/cluster

feat(flux): fix charts dir
  cluster/base/flux-system/repositories/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/weave-gitops.yaml
Labels: area/cluster

feat(flux): fix charts dir
  cluster/base/flux-system/repositories/helm/authentik-charts.yaml
  cluster/base/flux-system/repositories/helm/bitnami-charts.yaml
  cluster/base/flux-system/repositories/helm/bjw-s-charts.yaml
  cluster/base/flux-system/repositories/helm/botkube-charts.yaml
  cluster/base/flux-system/repositories/helm/cloudnative-pg-charts.yaml
  cluster/base/flux-system/repositories/helm/deliveryhero-charts.yaml
  cluster/base/flux-system/repositories/helm/descheduler-charts.yaml
  cluster/base/flux-system/repositories/helm/dysnix-charts.yaml
  cluster/base/flux-system/repositories/helm/emberstack-charts.yaml
  cluster/base/flux-system/repositories/helm/emqx-charts.yaml
  cluster/base/flux-system/repositories/helm/external-dns-charts.yaml
  cluster/base/flux-system/repositories/helm/grafana-charts.yaml
  cluster/base/flux-system/repositories/helm/hajimari-charts.yaml
  cluster/base/flux-system/repositories/helm/jetstack-charts.yaml
  cluster/base/flux-system/repositories/helm/k8s-gateway-charts.yaml
  cluster/base/flux-system/repositories/helm/kubernetes-dashboard-charts.yaml
  cluster/base/flux-system/repositories/helm/kyverno-charts.yaml
  cluster/base/flux-system/repositories/helm/longhorn-charts.yaml
  cluster/base/flux-system/repositories/helm/metallb-charts.yaml
  cluster/base/flux-system/repositories/helm/metrics-server-charts.yaml
  cluster/base/flux-system/repositories/helm/minecraft-server-charts.yaml
  cluster/base/flux-system/repositories/helm/node-feature-discovery-charts.yaml
  cluster/base/flux-system/repositories/helm/prometheus-community-charts.yaml
  cluster/base/flux-system/repositories/helm/stakater-charts.yaml
  cluster/base/flux-system/repositories/helm/tf-controller-charts.yaml
  cluster/base/flux-system/repositories/helm/traefik-charts.yaml
  cluster/base/flux-system/repositories/helm/vector-charts.yaml
  cluster/base/flux-system/repositories/helm/weave-gitops.yaml
Labels: area/cluster

feat(cloudflare): trigger oci build
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

feat(cloudflare): trigger oci build
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

Revert "feat(cloudflare): trigger oci build"
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

Revert "feat(cloudflare): trigger oci build"
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

fix(immich): update authentik url
  cluster/apps/home/immich/config-map.yaml
Labels: area/cluster

fix(immich): update authentik url
  cluster/apps/home/immich/config-map.yaml
Labels: area/cluster

fix: grafana oauth
  provision/terraform/authentik/main.tf
Labels: area/terraform

fix: grafana oauth
  provision/terraform/authentik/main.tf
Labels: area/terraform

fix(immich): update to ghcr
  .github/renovate.json5
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/github, area/cluster

fix(immich): update to ghcr
  .github/renovate.json5
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/github, area/cluster

fix(immich): update to ghcr
  .github/renovate.json5
Labels: area/github

fix(immich): update to ghcr
  .github/renovate.json5
Labels: area/github

fix(immich): update to ghcr
  .github/renovate.json5
Labels: area/github

fix(immich): update to ghcr
  .github/renovate.json5
Labels: area/github

chore: renovate update
  .github/renovate.json5
Labels: area/github

chore: renovate update
  .github/renovate.json5
Labels: area/github

chore: renovate update
  .github/renovate.json5
Labels: area/github

chore: renovate update
  .github/renovate.json5
Labels: area/github

chore: renovate update
  .github/renovate/allowedVersions.json5
Labels: area/github

chore: renovate update
  .github/renovate/allowedVersions.json5
Labels: area/github

chore(immich): update
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

chore(immich): update
  cluster/apps/home/immich/machine-learning/helm-release.yaml
  cluster/apps/home/immich/microservices/helm-release.yaml
  cluster/apps/home/immich/server/helm-release.yaml
  cluster/apps/home/immich/web/helm-release.yaml
Labels: area/cluster

chore(authentik): update hajimari icon
  cluster/apps/auth-system/authentik/helm-release.yaml
Labels: area/cluster

chore(authentik): update hajimari icon
  cluster/apps/auth-system/authentik/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
