Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: split cross seed
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/post-process.sh
Labels: area/kubernetes

fix: kps oci
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/oci/kube-prometheus-stack.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix: kps oci
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/oci/kube-prometheus-stack.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

fix: kps oci
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/oci/kube-prometheus-stack.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat: smartctl to oci
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/smartctl-exporter.yaml
Labels: area/kubernetes

feat: smartctl to oci
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/smartctl-exporter.yaml
Labels: area/kubernetes

feat: smartctl to oci
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/smartctl-exporter.yaml
Labels: area/kubernetes

fix: add back chart
  kubernetes/flux/meta/repositories/helm/deliveryhero.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind.yaml
Labels: area/kubernetes

fix: add back chart
  kubernetes/flux/meta/repositories/helm/deliveryhero.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind.yaml
Labels: area/kubernetes

fix: add back chart
  kubernetes/flux/meta/repositories/helm/deliveryhero.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrepository.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrepository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrepository.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrepository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/helmrepository.yaml
  kubernetes/apps/monitoring/exporters/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrepository.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/flux/meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrepository.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrepository.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: more helmrepos oci
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrepository.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
Labels: area/kubernetes

feat: action runner system
  .taskfiles/kubernetes/Taskfile.yml
  .vscode/settings.json
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/rbac.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: action runner system
  .taskfiles/kubernetes/Taskfile.yml
  .vscode/settings.json
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/rbac.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: action runner system
  .taskfiles/kubernetes/Taskfile.yml
  .vscode/settings.json
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/rbac.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/apps/actions-runner-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: add image puller workflow
  .github/workflows/image-pull.yaml
Labels: area/github

feat: add image puller workflow
  .github/workflows/image-pull.yaml
Labels: area/github

feat: add image puller workflow
  .github/workflows/image-pull.yaml
Labels: area/github

fix: update image
  .taskfiles/kubernetes/Taskfile.yml
  talos/controlplane.yaml.j2
Labels: area/taskfile, area/talos

fix: update image
  .taskfiles/kubernetes/Taskfile.yml
  talos/controlplane.yaml.j2
Labels: area/taskfile, area/talos

fix: update image
  .taskfiles/kubernetes/Taskfile.yml
  talos/controlplane.yaml.j2
Labels: area/taskfile, area/talos

feat: add irqbalance
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/apps/kube-system/irqbalance/app/kustomization.yaml
  kubernetes/apps/kube-system/irqbalance/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: add irqbalance
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/apps/kube-system/irqbalance/app/kustomization.yaml
  kubernetes/apps/kube-system/irqbalance/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: add irqbalance
  kubernetes/apps/kube-system/irqbalance/app/helmrelease.yaml
  kubernetes/apps/kube-system/irqbalance/app/kustomization.yaml
  kubernetes/apps/kube-system/irqbalance/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

fix: try node utilization descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: try node utilization descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: try node utilization descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: allow arc
  talos/controlplane.yaml.j2
Labels: area/talos

fix: allow arc
  talos/controlplane.yaml.j2
Labels: area/talos

fix: allow arc
  talos/controlplane.yaml.j2
Labels: area/talos

feat: helm repo sync wf
  .github/workflows/helm-repo-sync.yaml
Labels: area/github

feat: helm repo sync wf
  .github/workflows/helm-repo-sync.yaml
Labels: area/github

feat: helm repo sync wf
  .github/workflows/helm-repo-sync.yaml
Labels: area/github

remove: trim some workflows
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

remove: trim some workflows
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

remove: trim some workflows
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
Labels: area/github
