Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat: keep history on restart
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat: keep history on restart
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.72.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.72.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(helm): update helm release kube-prometheus-stack to v47.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v47.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.6.4
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.6.4
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook adrienverge/yamllint to v1.32.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.1
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

feat(github-release): update pre-commit hook zricethezav/gitleaks to v8.17.0
  .pre-commit-config.yaml
Labels: none

chore(container): update ghcr.io/mchestr/displex:main docker digest to 646631e
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 646631e
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/alertmanager-uptime-kuma-proxy docker tag to v0.1.6
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3642
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3642
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.6.4.7568
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.6.4.7568
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v16.1.22
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v16.1.22
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.22.1
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat(helm): update helm release tf-controller to v0.15.0
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.22.1
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.22.1
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat(helm): update helm release kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v47.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/alertmanager-uptime-kuma-proxy docker tag to v0.1.6
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/alertmanager-uptime-kuma-proxy docker tag to v0.1.6
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release tf-controller to v0.15.0
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release tf-controller to v0.15.0
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.66.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.66.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.66.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
