Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.6.8376
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.6.8376
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.4.4171
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.4.4171
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.4.4171
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.11
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.5
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.5
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.5
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update jdx/rtx-action digest to 61c1bfb
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(terraform): update terraform cloudflare to v4.21.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.86
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.4
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.58
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update jdx/rtx-action digest to 61c1bfb
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update jdx/rtx-action digest to 61c1bfb
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): update jdx/rtx-action digest to 61c1bfb
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(container): update ghcr.io/authelia/authelia:master docker digest to c9a635e
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update public.ecr.aws/docker/library/redis:7.2.3 docker digest to a7cee7c
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update docker.io/kpetrem/mqtt-exporter:latest docker digest to e5b5a02
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to c9a635e
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to c9a635e
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to c9a635e
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update public.ecr.aws/docker/library/redis:7.2.3 docker digest to a7cee7c
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update public.ecr.aws/docker/library/redis:7.2.3 docker digest to a7cee7c
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update public.ecr.aws/docker/library/redis:7.2.3 docker digest to a7cee7c
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: update wf
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update wf
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update wf
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(container): update docker.io/kpetrem/mqtt-exporter:latest docker digest to e5b5a02
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update docker.io/kpetrem/mqtt-exporter:latest docker digest to e5b5a02
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update docker.io/kpetrem/mqtt-exporter:latest docker digest to e5b5a02
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.58
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.58
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.58
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.4
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.4
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.4
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.4
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes
