Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix(container): update ghcr.io/unpoller/unpoller docker tag to v2.9.5
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/unpoller/unpoller docker tag to v2.9.5
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release ingress-nginx to v4.8.4"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release ingress-nginx to v4.8.4"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release ingress-nginx to v4.8.4"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore: add template task for new apps
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

chore: add template task for new apps
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

chore: add template task for new apps
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/externalsecret.tmpl.yaml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

feat: add kromgo
  kubernetes/apps/default/kromgo/app/gatus.yaml
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/app/resources/config.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add kromgo
  kubernetes/apps/default/kromgo/app/gatus.yaml
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/app/resources/config.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add kromgo
  kubernetes/apps/default/kromgo/app/gatus.yaml
  kubernetes/apps/default/kromgo/app/helmrelease.yaml
  kubernetes/apps/default/kromgo/app/kustomization.yaml
  kubernetes/apps/default/kromgo/app/resources/config.yaml
  kubernetes/apps/default/kromgo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add kromgo
  README.md
Labels: none

feat: add kromgo
  README.md
Labels: none

feat: add kromgo
  README.md
Labels: none

fix(helm): update rook-ceph group to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/rancher/kubectl docker tag to v1.28.5
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update allenporter/flux-local action to v4
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to v4
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to v4
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action)!: Update allenporter/flux-local action to v4
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update docker.io/rancher/kubectl docker tag to v1.28.5
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/rancher/kubectl docker tag to v1.28.5
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/rancher/kubectl docker tag to v1.28.5
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.13.1
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update gatus.yaml
  kubernetes/apps/default/kromgo/app/gatus.yaml
Labels: area/kubernetes

Update gatus.yaml
  kubernetes/apps/default/kromgo/app/gatus.yaml
Labels: area/kubernetes

Update gatus.yaml
  kubernetes/apps/default/kromgo/app/gatus.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.3.4163
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.3.4163
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.3.4163
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.12.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.12.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.12.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update allenporter/flux-local action to v4.1.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to v4.1.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to v4.1.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to v4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-action): update allenporter/flux-local action to v4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
