Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

feat: rejig pmm
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/plex/meta-manager/configs/config.yml
  kubernetes/apps/default/plex/meta-manager/externalsecret.yaml
  kubernetes/apps/default/plex/meta-manager/helmrelease.yaml
  kubernetes/apps/default/plex/meta-manager/kustomization.yaml
  kubernetes/apps/default/plex/meta-manager/scripts/run.sh
  kubernetes/apps/default/plex/tools/kustomization.yaml
  kubernetes/apps/default/plex/tools/meta-manager/pvc.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4203
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4203
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4203
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

add hass lb
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add hass lb
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add hass lb
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add multus
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/networkattachment.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/kubernetes, area/talos

feat: add multus
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/networkattachment.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/kubernetes, area/talos

feat: add multus
  ansible/playbooks/roles/config.router/tasks/interfaces.yml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/networking/kustomization.yaml
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/config/kustomization.yaml
  kubernetes/apps/networking/multus/config/networkattachment.yaml
  kubernetes/apps/networking/multus/ks.yaml
  kubernetes/flux/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/kubernetes, area/talos

Fix vlans
  talos/talconfig.yaml
Labels: area/talos

Fix vlans
  talos/talconfig.yaml
Labels: area/talos

Fix vlans
  talos/talconfig.yaml
Labels: area/talos

feat: hass multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: hass multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: hass multus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

cilium fix maybe
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

cilium fix maybe
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

cilium fix maybe
  kubernetes/apps/kube-system/cilium/app/values.yaml
Labels: area/kubernetes

fix bootstrap
  talos/kustomization.yaml
Labels: area/talos

fix bootstrap
  talos/kustomization.yaml
Labels: area/talos

fix bootstrap
  talos/kustomization.yaml
Labels: area/talos

fix ns
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/kubernetes

fix ns
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/kubernetes

fix ns
  kubernetes/apps/networking/multus/ks.yaml
Labels: area/kubernetes

feat: pin hass test
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: pin hass test
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: pin hass test
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.6
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.6
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.6
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4206
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4206
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.2.4206
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.7.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.7.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.7.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
