Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(immich): fix names maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): fix names maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): add rest of services maybe
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): fix anchor
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): fix anchor
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): combine ingress
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(immich): combine ingress
  cluster/apps/home/immich/helm-release.yaml
Labels: area/cluster

fix(renovate): automerge digest whenever
  .github/renovate/autoMerge.json5
Labels: area/github

fix(renovate): automerge digest whenever
  .github/renovate/autoMerge.json5
Labels: area/github

fix(cluster): fix maybe
  cluster/core/longhorn-system/helm-release.yaml
  provision/ansible/requirements.yml
Labels: area/ansible, area/cluster

fix(cluster): fix maybe
  cluster/core/longhorn-system/helm-release.yaml
  provision/ansible/requirements.yml
Labels: area/ansible, area/cluster

fix(cluster): fix maybe
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

fix(cluster): fix maybe
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

fix(longhorn): update chart to latest to break broken 1.25 k3s
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

fix(longhorn): update chart to latest to break broken 1.25 k3s
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

fix(k3s): downgrade k3s fix longhorn
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

fix(k3s): downgrade k3s fix longhorn
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

Revert "fix(longhorn): update chart to latest to break broken 1.25 k3s"
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

Revert "fix(longhorn): update chart to latest to break broken 1.25 k3s"
  cluster/core/longhorn-system/helm-release.yaml
Labels: area/cluster

fix(k3s): downgrade k3s
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

fix(k3s): downgrade k3s
  cluster/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  cluster/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

feat(kopia): add to test
  cluster/apps/kustomization.yaml
  cluster/apps/storage/kopia-web/config/repository.config
  cluster/apps/storage/kopia-web/helm-release.yaml
  cluster/apps/storage/kopia-web/kustomization.yaml
  cluster/apps/storage/kustomization.yaml
Labels: area/cluster

feat(kopia): add to test
  cluster/apps/kustomization.yaml
  cluster/apps/storage/kopia-web/config/repository.config
  cluster/apps/storage/kopia-web/helm-release.yaml
  cluster/apps/storage/kopia-web/kustomization.yaml
  cluster/apps/storage/kustomization.yaml
Labels: area/cluster

feat(kopia): fix annotations
  cluster/apps/storage/kopia-web/helm-release.yaml
Labels: area/cluster

feat(kopia): fix annotations
  cluster/apps/storage/kopia-web/helm-release.yaml
Labels: area/cluster

feat(kyverno): add kyverno
  cluster/apps/kustomization.yaml
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/kustomization.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kyverno/rbac.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

feat(kyverno): add kyverno
  cluster/apps/kustomization.yaml
  cluster/apps/kyverno/helm-release.yaml
  cluster/apps/kyverno/kustomization.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/apps/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kyverno/rbac.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

fix(kyverno): bootstrap
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

fix(kyverno): bootstrap
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

Revert "fix(kyverno): bootstrap"
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

Revert "fix(kyverno): bootstrap"
  cluster/apps/kyverno/kustomization.yaml
Labels: area/cluster

fix(kyverno): add chart
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster

fix(kyverno): add chart
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/cluster
