Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(helm): update helm release prometheus-snmp-exporter to v1.6.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release prometheus-snmp-exporter to v1.6.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.0.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.0.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.0.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.0.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v47.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/cloudflare/cloudflared docker tag to v2023.7.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/cloudflare/cloudflared docker tag to v2023.7.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.10.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.10.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update ghcr.io/jacobalberty/unifi-docker docker tag to v7.4.162
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/jacobalberty/unifi-docker docker tag to v7.4.162
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v38.1.13
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to bd48c35
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to bd48c35
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 8b2b17b
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 8b2b17b
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3700
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3700
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.559
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.559
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm)!: Update Helm release kube-prometheus-stack to v48
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/maxmind/geoipupdate Docker tag to v6
  kubernetes/apps/monitoring/vector/aggregator/patches/geoip.yaml
Labels: area/kubernetes

feat(github-action)!: Update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update renovatebot/github-action action to v39
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm)!: Update Helm release kube-prometheus-stack to v48
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v48
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/maxmind/geoipupdate Docker tag to v6
  kubernetes/apps/monitoring/vector/aggregator/patches/geoip.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/maxmind/geoipupdate Docker tag to v6
  kubernetes/apps/monitoring/vector/aggregator/patches/geoip.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.8.0
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3701
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3701
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.20.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.20.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kubelet-csr-approver to v1.0.2
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
