Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: radarr pvc
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/radarr/ks.yaml
Labels: area/kubernetes

fix: radarr pvc
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/radarr/ks.yaml
Labels: area/kubernetes

fix: radarr pvc
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/radarr/ks.yaml
Labels: area/kubernetes

fix: radarr
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: radarr
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: radarr
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: sonarr
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

fix: sonarr
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

fix: sonarr
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/ks.yaml
Labels: area/kubernetes

feat: new suc
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat: new suc
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat: new suc
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat: localpath errwhere
  talos/talconfig.yaml
Labels: area/talos

feat: localpath errwhere
  talos/talconfig.yaml
Labels: area/talos

feat: localpath errwhere
  talos/talconfig.yaml
Labels: area/talos

fix: disaster recovery
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: disaster recovery
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: add dependsOn
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix: add dependsOn
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix: add dependsOn
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

reconcile
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

reconcile
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

reconcile
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

latest disaster recovery
  .taskfiles/bootstrap/Taskfile.yaml
  hack/clean-ceph.sh
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/wipe-rook.yaml.gotmpl
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
Labels: area/kubernetes, area/taskfile, area/hack

latest disaster recovery
  .taskfiles/bootstrap/Taskfile.yaml
  hack/clean-ceph.sh
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/wipe-rook.yaml.gotmpl
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
Labels: area/kubernetes, area/taskfile, area/hack

latest disaster recovery
  .taskfiles/bootstrap/Taskfile.yaml
  hack/clean-ceph.sh
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/apps/templates/wipe-rook.yaml.gotmpl
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
Labels: area/kubernetes, area/taskfile, area/hack

uncomment
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

uncomment
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

uncomment
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

remove: ycl, seems its deprecated... time to figure out somethin else
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
  kubernetes/apps/kube-system/k8s-ycl/app/kustomization.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

remove: ycl, seems its deprecated... time to figure out somethin else
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
  kubernetes/apps/kube-system/k8s-ycl/app/kustomization.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

remove: ycl, seems its deprecated... time to figure out somethin else
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
  kubernetes/apps/kube-system/k8s-ycl/app/kustomization.yaml
  kubernetes/apps/kube-system/k8s-ycl/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

add: kyverno to yeet cpu limits
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

add: kyverno to yeet cpu limits
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

add: kyverno to yeet cpu limits
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  kubernetes/apps/kyverno/namespace.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
Labels: area/kubernetes

fix: emqx is supa
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

fix: emqx is supa
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

fix: emqx is supa
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
Labels: area/kubernetes

feat: stagger volsync backup times
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/unifi/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat: stagger volsync backup times
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/unifi/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
