Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat(github-release): update dependency siderolabs/kubelet to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: add suc group
  .github/renovate/groups.json5
Labels: area/github

fix: add suc group
  .github/renovate/groups.json5
Labels: area/github

fix: add suc group
  .github/renovate/groups.json5
Labels: area/github

feat(github-release): update dependency siderolabs/kubelet to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: update agtus flux
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
Labels: area/kubernetes

fix: update agtus flux
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
Labels: area/kubernetes

fix: update agtus flux
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9453588
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9453588
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9453588
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.2.4154
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.2.4154
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.2.4154
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.17
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.17
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.17
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to 411c748
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to 411c748
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to 411c748
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.3
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to c0724b0
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to c0724b0
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to c0724b0
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update kube-prometheus-stack docker tag to v55.4.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix version extract
  .github/renovate.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/github, area/kubernetes

fix version extract
  .github/renovate.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/github, area/kubernetes

fix version extract
  .github/renovate.json5
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/github, area/kubernetes

feat(github-release): update system-upgrade-controller group to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(container): update ghcr.io/siderolabs/talosctl docker tag to v1.6.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes
