Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update ghcr.io/mchestr/vector docker tag to v0.32.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/onepassword-connect-api docker tag to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/onepassword-connect-api docker tag to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/onepassword-sync docker tag to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/patches/sync.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/onepassword-sync docker tag to v1.7.2
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/patches/sync.yaml
Labels: area/kubernetes

fix(helm): update helm release vector to v0.24.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release vector to v0.24.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set-controller docker tag to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set-controller docker tag to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set docker tag to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set docker tag to v0.5.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.3.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.3.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/theme-park:1.13.10 docker digest to 1a6c230
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/theme-park:1.13.10 docker digest to 1a6c230
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.4.3883
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.4.3883
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.645
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.645
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release prometheus-snmp-exporter to v1.8.0
  kubernetes/apps/monitoring/snmp-exporter/edgerouter/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/lochnas/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/theme-park docker tag to v1.13.11
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.13.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(github-action)!: Update tj-actions/changed-files action to v38
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.646
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.646
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.23.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.23.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/cloudflare/cloudflared docker tag to v2023.8.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update redis docker tag to v17.16.0
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.0.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.4.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/thanos/thanos docker tag to v0.32.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.3.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.15.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.4.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.4.0
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tj-actions/changed-files action to v38
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v38
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
