Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: yoink
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat: yoink
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix: restore time
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: restore time
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

Revert "feat: new adapter who dis"
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

Revert "feat: new adapter who dis"
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

Revert "feat: new adapter who dis"
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

fix: add retention policy
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: add retention policy
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: remove
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

fix: remove
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

fix: remove
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

fix: use default schedule
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix: use default schedule
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix: use default schedule
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix: wups
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: wups
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: set deterministic password?
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix: set deterministic password?
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix: set deterministic password?
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

fix: not needed anymore
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: not needed anymore
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: not needed anymore
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: set this env var
  .envrc
Labels: none

fix: set this env var
  .envrc
Labels: none

fix: set this env var
  .envrc
Labels: none

fix: update license
  LICENSE
Labels: none

fix: update license
  LICENSE
Labels: none

fix: update license
  LICENSE
Labels: none

fix: spring cleaning
  .editorconfig
  .envrc
  .gitattributes
  .mise.toml
  .yamllint.yaml
Labels: none

fix: spring cleaning
  .editorconfig
  .envrc
  .gitattributes
  .mise.toml
  .yamllint.yaml
Labels: none

fix: spring cleaning
  .editorconfig
  .envrc
  .gitattributes
  .mise.toml
  .yamllint.yaml
Labels: none

fix: spring cleaning
  .mise.toml
Labels: none

fix: spring cleaning
  .mise.toml
Labels: none

fix: spring cleaning
  .mise.toml
Labels: none

fix: update some icons
  .vscode/settings.json
Labels: none

fix: update some icons
  .vscode/settings.json
Labels: none

fix: update some icons
  .vscode/settings.json
Labels: none

feat: split cross seed
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/post-process.sh
Labels: area/kubernetes

feat: split cross seed
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/kustomization.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/post-process.sh
Labels: area/kubernetes
