Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update wordpress docker tag to v16.1.25
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3673
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3673
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.306.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.1
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.1
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.1
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.306.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.306.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 5958f88
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 5958f88
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3678
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3678
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3684
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.1.3684
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/shlinkio/shlink-web-client docker tag to v3.10.2
  kubernetes/apps/default/shlink/web/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to cccd47f
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to cccd47f
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.0.7588
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.0.7588
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v37.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(helm): update helm release snapshot-validation-webhook to v1.7.3
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.6.5
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.6.5
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3685
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.2.3685
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(github-action): update actions/labeler action to v4.3.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

feat(helm): update helm release kube-prometheus-stack to v47.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.73.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to f5aea87
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.0.12
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat: add the lounge
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/thelounge/app/gatus.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat: add the lounge
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/thelounge/app/gatus.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.0.12
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.0.12
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
