Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix: update
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: update
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.16.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.16.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release democratic-csi to v0.14.2
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release democratic-csi to v0.14.2
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.50
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.50
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release grafana to v7
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release grafana to v7
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/theme-park docker tag to v1.14.1
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/theme-park docker tag to v1.14.1
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cert-manager to v1.13.2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cert-manager to v1.13.2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

add mover
  kubernetes/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

add mover
  kubernetes/apps/default/jellyfin/app/volsync.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/vector docker tag to v0.33.1
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

chore: some readmes for future me
  kubernetes/apps/rook-ceph/rook-ceph/README.md
  talos/README.md
Labels: area/kubernetes, area/talos

chore: some readmes for future me
  kubernetes/apps/rook-ceph/rook-ceph/README.md
  talos/README.md
Labels: area/kubernetes, area/talos

remove: stephk.co wordpress baleted
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging-issuer.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/apps/web/namespace.yaml
  kubernetes/apps/web/wordpress-0/app/externalsecret.yaml
  kubernetes/apps/web/wordpress-0/app/gatus.yaml
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/pvc.yaml
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
  terraform/cloudflare/main.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/waf.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/kubernetes, area/terraform

remove: stephk.co wordpress baleted
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging-issuer.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/apps/web/namespace.yaml
  kubernetes/apps/web/wordpress-0/app/externalsecret.yaml
  kubernetes/apps/web/wordpress-0/app/gatus.yaml
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/pvc.yaml
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
  terraform/cloudflare/main.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/waf.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/kubernetes, area/terraform

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 0e81f2f
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 0e81f2f
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.27.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat: enable some ceph things
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: enable some ceph things
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: downgrade
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix: downgrade
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

disable crashcollector
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

disable crashcollector
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: tune cnpg
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix: tune cnpg
  kubernetes/apps/default/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix: tune cnpg
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix: tune cnpg
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix: no bootstrap
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: no bootstrap
  kubernetes/apps/default/cloudnative-pg/cluster/cluster.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

use non-root
  kubernetes/apps/default/shlink/api/externalsecret.yaml
  kubernetes/apps/default/shlink/api/helmrelease.yaml
Labels: area/kubernetes

use non-root
  kubernetes/apps/default/shlink/api/externalsecret.yaml
  kubernetes/apps/default/shlink/api/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
