Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

feat: add whisper
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/kustomization.yaml
  kubernetes/apps/default/bazarr/whisper/pvc.yaml
Labels: area/kubernetes

feat: add whisper
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/kustomization.yaml
  kubernetes/apps/default/bazarr/whisper/pvc.yaml
Labels: area/kubernetes

feat: test out flux managed coredns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/values.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio-charts.yaml
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: test out flux managed coredns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/values.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio-charts.yaml
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: test out flux managed coredns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/coredns/app/values.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio-charts.yaml
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix: unplanned bootstrap testing
  .taskfiles/workstation/Taskfile.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes, area/taskfile

fix: unplanned bootstrap testing
  .taskfiles/workstation/Taskfile.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes, area/taskfile

fix: unplanned bootstrap testing
  .taskfiles/workstation/Taskfile.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes, area/taskfile

fix: remove unused bootstrap stuff, use new 1password way
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

fix: remove unused bootstrap stuff, use new 1password way
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

fix: remove unused bootstrap stuff, use new 1password way
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

feat: make graph look purdy
  kubernetes/apps/default/bazarr/ks.yaml
Labels: area/kubernetes

feat: make graph look purdy
  kubernetes/apps/default/bazarr/ks.yaml
Labels: area/kubernetes

feat: make graph look purdy
  kubernetes/apps/default/bazarr/ks.yaml
Labels: area/kubernetes

Add some random network thoughts
  docs/src/SUMMARY.md
  docs/src/notes/networking.md
Labels: none

Add some random network thoughts
  docs/src/SUMMARY.md
  docs/src/notes/networking.md
Labels: none

Add some random network thoughts
  docs/src/SUMMARY.md
  docs/src/notes/networking.md
Labels: none

fix: update setting
  .vscode/settings.json
Labels: none

fix: update setting
  .vscode/settings.json
Labels: none

fix: update setting
  .vscode/settings.json
Labels: none

feat: volsync to component
  .taskfiles/VolSync/Taskfile.yml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/kustomization.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/flux/components/volsync/kustomization.yaml
  kubernetes/flux/components/volsync/pvc.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/kustomization.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

feat: volsync to component
  .taskfiles/VolSync/Taskfile.yml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/kustomization.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/flux/components/volsync/kustomization.yaml
  kubernetes/flux/components/volsync/pvc.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/kustomization.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

feat: volsync to component
  .taskfiles/VolSync/Taskfile.yml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/kustomization.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/flux/components/volsync/kustomization.yaml
  kubernetes/flux/components/volsync/pvc.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/kustomization.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

feat: schedule localpath on all nodes
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

feat: schedule localpath on all nodes
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

feat: schedule localpath on all nodes
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

Increase frigate cache
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/kustomization.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

Increase frigate cache
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/kustomization.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

Increase frigate cache
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/kustomization.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/app/helmrelease.yaml
  kubernetes/apps/default/maintainerr/app/kustomization.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/app/kustomization.yaml
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

fix: update app name
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: update app name
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: update app name
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: paperless volsync component
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: paperless volsync component
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: paperless volsync component
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: jellyserr app name update
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: jellyserr app name update
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: jellyserr app name update
  kubernetes/apps/default/jellyseerr/ks.yaml
Labels: area/kubernetes

fix: jellfin remove kustomization
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
Labels: area/kubernetes

fix: jellfin remove kustomization
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
