Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(container): update ghcr.io/mchestr/vector docker tag to v0.32.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/mchestr/vector docker tag to v0.32.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v17.15.4
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v17.15.4
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.78.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.78.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(helm): update helm release external-secrets to v0.9.3
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.3
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.73.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.73.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release cilium to v1.14.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat(ansible): update dependency community.general to v7.3.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency community.general to v7.3.0
  ansible/requirements.yml
Labels: area/ansible

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.629
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.629
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v1.17.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v1.17.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.58.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.58.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.13.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v37.6.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v37.6.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix: update vs plex
  kubernetes/apps/default/plex/app/volsync.yaml
Labels: area/kubernetes

fix: update vs plex
  kubernetes/apps/default/plex/app/volsync.yaml
Labels: area/kubernetes

fix: add sm
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: add sm
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: add sm
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: add sm
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add flaresolverr
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/kustomization.yaml
  kubernetes/apps/default/flaresolverr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add flaresolverr
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/default/flaresolverr/app/kustomization.yaml
  kubernetes/apps/default/flaresolverr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add new indexer
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

feat: add new indexer
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

fix: update reloader annotations
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: update reloader annotations
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat: update displex with overseerr integration
  kubernetes/apps/default/displex/app/externalsecret.yaml
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

feat: update displex with overseerr integration
  kubernetes/apps/default/displex/app/externalsecret.yaml
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.0.6
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.0.6
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.8.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
