Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat: add more apps
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  hack/volsync-restore.sh
  kubernetes/apps/default/immich/app/server/helm-release.yaml
  kubernetes/apps/default/paperless/app/helm-release.yaml
Labels: area/hack

feat: add more apps
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  hack/volsync-restore.sh
  kubernetes/apps/default/immich/app/server/helm-release.yaml
  kubernetes/apps/default/paperless/app/helm-release.yaml
Labels: area/hack

add monitoring
  cluster/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

add monitoring
  cluster/apps/monitoring/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

feat: add more apps
  kubernetes/apps/networking/static-routes/ks.yaml
  kubernetes/apps/networking/static-routes/minio/ingress.yaml
  kubernetes/apps/networking/static-routes/minio/kustomization.yaml
  kubernetes/apps/networking/static-routes/minio/service.yaml
Labels: none

feat: add more apps
  kubernetes/apps/networking/static-routes/ks.yaml
  kubernetes/apps/networking/static-routes/minio/ingress.yaml
  kubernetes/apps/networking/static-routes/minio/kustomization.yaml
  kubernetes/apps/networking/static-routes/minio/service.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

feat: add more apps
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: none

feat: add more apps
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/immich/app/config-map.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/immich/app/config-map.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/sonarr/ks.yaml
Labels: none

feat: add more apps
  kubernetes/apps/default/sonarr/ks.yaml
Labels: none

fix ns
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  cluster/apps/media/kustomization.yaml
  cluster/base/apps.yaml
  cluster/base/core.yaml
  cluster/base/crds.yaml
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/gotk-patches.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/base/flux-system/kustomization.yaml
  cluster/base/flux-system/repositories/kustomization.yaml
  hack/volsync-restore.sh
  kubernetes/apps/default/recyclarr/app/recyclarr.yml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster, area/hack

fix ns
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  cluster/apps/media/kustomization.yaml
  cluster/base/apps.yaml
  cluster/base/core.yaml
  cluster/base/crds.yaml
  cluster/base/flux-system/gotk-components.yaml
  cluster/base/flux-system/gotk-patches.yaml
  cluster/base/flux-system/gotk-sync.yaml
  cluster/base/flux-system/kustomization.yaml
  cluster/base/flux-system/repositories/kustomization.yaml
  hack/volsync-restore.sh
  kubernetes/apps/default/recyclarr/app/recyclarr.yml
  kubernetes/apps/monitoring/grafana/app/helm-release.yaml
  kubernetes/apps/monitoring/loki/app/helm-release.yaml
Labels: area/cluster, area/hack

feat: add more apps
  hack/restore-job.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/replication-source.yaml
Labels: area/hack

feat: add more apps
  hack/restore-job.yaml
  kubernetes/apps/monitoring/uptime-kuma/app/replication-source.yaml
Labels: area/hack

feat: add more apps
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: none

feat: add more apps
  kubernetes/apps/monitoring/uptime-kuma/app/helm-release.yaml
Labels: none

fix: update renovate
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix: update renovate
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix: update webhook triggers
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: none

fix: update webhook triggers
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: none

fix: update webhook triggers
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: none

fix: update webhook triggers
  kubernetes/apps/flux-system/addons/webhooks/github/receiver.yaml
Labels: none

feat: add more apps
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.sops.yaml
Labels: none

feat: add more apps
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helm-release.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/secret.sops.yaml
Labels: none

tune renovate
  .github/renovate/allowedVersions.json5
Labels: area/github

tune renovate
  .github/renovate/allowedVersions.json5
Labels: area/github

tune renovate
  .github/renovate/allowedVersions.json5
Labels: area/github

tune renovate
  .github/renovate/allowedVersions.json5
Labels: area/github

tune renovate
  kubernetes/apps/default/unifi/app/helm-release.yaml
Labels: none

tune renovate
  kubernetes/apps/default/unifi/app/helm-release.yaml
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none
