Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: no vaapi
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: no vaapi
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: use vip
  talos/controlplane.yaml.j2
Labels: area/talos

fix: use vip
  talos/controlplane.yaml.j2
Labels: area/talos

fix: use vip
  talos/controlplane.yaml.j2
Labels: area/talos

feat: enable ceph ring network
  docs/src/assets/thunderbolt.png
  docs/src/notes/networking.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane/m0.yaml
  talos/controlplane/m1.yaml
Labels: area/kubernetes, area/talos

feat: enable ceph ring network
  docs/src/assets/thunderbolt.png
  docs/src/notes/networking.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane/m0.yaml
  talos/controlplane/m1.yaml
Labels: area/kubernetes, area/talos

feat: enable ceph ring network
  docs/src/assets/thunderbolt.png
  docs/src/notes/networking.md
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/controlplane/m0.yaml
  talos/controlplane/m1.yaml
Labels: area/kubernetes, area/talos

feat: reset cluster
  .taskfiles/volsync/Taskfile.yml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes, area/taskfile

feat: reset cluster
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

feat: reset cluster
  .taskfiles/volsync/Taskfile.yml
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes, area/taskfile

fix: more bootstrap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: more bootstrap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: more bootstrap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: rate limited
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix: rate limited
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix: rate limited
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix: cleanup some taskfiles
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: cleanup some taskfiles
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: cleanup some taskfiles
  .taskfiles/ansible/Taskfile.yml
  .taskfiles/rook/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: update 1password too
  .taskfiles/rook/Taskfile.yml
Labels: area/taskfile

fix: update 1password too
  .taskfiles/rook/Taskfile.yml
Labels: area/taskfile

fix: update 1password too
  .taskfiles/rook/Taskfile.yml
Labels: area/taskfile

feat: its over 9000
  talos/controlplane.yaml.j2
Labels: area/talos

feat: its over 9000
  talos/controlplane.yaml.j2
Labels: area/talos

feat: its over 9000
  talos/controlplane.yaml.j2
Labels: area/talos

feat: add silence operator
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/crds/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/crds/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/ks.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind-charts.yaml
Labels: area/kubernetes

feat: add silence operator
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/crds/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/crds/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/ks.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind-charts.yaml
Labels: area/kubernetes

feat: add silence operator
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/app/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/crds/helmrelease.yaml
  kubernetes/apps/monitoring/silence-operator/crds/kustomization.yaml
  kubernetes/apps/monitoring/silence-operator/ks.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/wiremind-charts.yaml
Labels: area/kubernetes

fix: silence mtu idk why
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: silence mtu idk why
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: silence mtu idk why
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: rename back
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix: rename back
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix: rename back
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor update to helm
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor update to helm
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor update to helm
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix: stfu
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

fix: stfu
  kubernetes/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
