Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: use scrypted nest
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

remove: nest-trsp no longer needed with scrypted
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/frigate/nest-rtsp/externalsecret.yaml
  kubernetes/apps/default/frigate/nest-rtsp/gatus.yaml
  kubernetes/apps/default/frigate/nest-rtsp/helmrelease.yaml
  kubernetes/apps/default/frigate/nest-rtsp/kustomization.yaml
Labels: area/kubernetes

remove: nest-trsp no longer needed with scrypted
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/frigate/nest-rtsp/externalsecret.yaml
  kubernetes/apps/default/frigate/nest-rtsp/gatus.yaml
  kubernetes/apps/default/frigate/nest-rtsp/helmrelease.yaml
  kubernetes/apps/default/frigate/nest-rtsp/kustomization.yaml
Labels: area/kubernetes

fix: use kustomize wait
  kubernetes/apps/default/frigate/ks.yaml
Labels: area/kubernetes

fix: use kustomize wait
  kubernetes/apps/default/frigate/ks.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.30
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/cloudflare/cloudflared docker tag to v2023.7.1
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.3.3720
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.7.3.3720
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency community.general to v7.2.0
  ansible/requirements.yml
Labels: area/ansible

fix(terraform): update terraform google to v4.73.2
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat: add amcrest doorbell
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
Labels: area/kubernetes

feat: add amcrest doorbell
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
Labels: area/kubernetes

fix(terraform): update terraform google to v4.73.2
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(terraform): update terraform google to v4.73.2
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat: add amcrest doorbell
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: add amcrest doorbell
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

remove: scrypted
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/scrypted/app/gatus.yaml
  kubernetes/apps/default/scrypted/app/helmrelease.yaml
  kubernetes/apps/default/scrypted/app/kustomization.yaml
  kubernetes/apps/default/scrypted/app/volsync.yaml
  kubernetes/apps/default/scrypted/ks.yaml
Labels: area/kubernetes

remove: scrypted
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/scrypted/app/gatus.yaml
  kubernetes/apps/default/scrypted/app/helmrelease.yaml
  kubernetes/apps/default/scrypted/app/kustomization.yaml
  kubernetes/apps/default/scrypted/app/volsync.yaml
  kubernetes/apps/default/scrypted/ks.yaml
Labels: area/kubernetes

remove: scrypted
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

remove: scrypted
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix: update config
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix: update config
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: move ha away from frigate node
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: move ha away from frigate node
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add doorbell static ip
  ansible/inventory/group_vars/router/static-ips.yml
Labels: area/ansible

feat: add doorbell static ip
  ansible/inventory/group_vars/router/static-ips.yml
Labels: area/ansible

feat: update config to make button work
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: update config to make button work
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: record with audio
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: record with audio
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: use dahau integ
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: use dahau integ
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

feat: record with audio
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes
