Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

chore: update domain
  cluster/apps/networking/blocky/helm-release.yaml
Labels: area/cluster

chore: move external-dns to kube system and update
  cluster/apps/kube-system/external-dns/helm-release.yaml
  cluster/apps/kube-system/external-dns/kustomization.yaml
  cluster/apps/kube-system/external-dns/secret.sops.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster

chore: move external-dns to kube system and update
  cluster/apps/kube-system/external-dns/helm-release.yaml
  cluster/apps/kube-system/external-dns/kustomization.yaml
  cluster/apps/kube-system/external-dns/secret.sops.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster

chore: update domain
  cluster/apps/default/smtp-relay/helm-release.yaml
Labels: area/cluster

chore: update domain
  cluster/apps/default/smtp-relay/helm-release.yaml
Labels: area/cluster

feat: add wildcard cert
  cluster/apps/kube-system/cert-manager/certificates/helm-release.yaml
  cluster/apps/kube-system/cert-manager/certificates/kustomization.yaml
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: add wildcard cert
  cluster/apps/kube-system/cert-manager/certificates/helm-release.yaml
  cluster/apps/kube-system/cert-manager/certificates/kustomization.yaml
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update domain
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update domain
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update domain
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

feat: update domain
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

chore: add cert manager cleanup
  hack/clean-orphans.sh
Labels: area/hack

chore: add cert manager cleanup
  hack/clean-orphans.sh
Labels: area/hack

chore: update cert-manager
  cluster/apps/kube-system/cert-manager/certificates/helm-release.yaml
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: update cert-manager
  cluster/apps/kube-system/cert-manager/certificates/helm-release.yaml
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: update cert-manager
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: update cert-manager
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: update retry
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: update retry
  cluster/apps/kube-system/cert-manager/helm-release.yaml
Labels: area/cluster

chore: use helm crd
  cluster/crds/cert-manager/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/cluster

chore: use helm crd
  cluster/crds/cert-manager/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/cluster

chore: move to hr for issuers
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/cluster

chore: move to hr for issuers
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  cluster/apps/auth-system/glauth/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/github, area/cluster

chore: move to hr for issuers
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  cluster/apps/auth-system/glauth/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/helm-release.yaml
Labels: area/github, area/cluster

feat(kyverno): move ns
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/kyverno/helm-release.yaml
  cluster/apps/kube-system/kyverno/kustomization.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/delete-cpu-limits.yaml
  cluster/apps/kube-system/kyverno/policies/kustomization.yaml
  cluster/apps/kube-system/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kube-system/kyverno/policies/sync-postgres-secrets.yaml
  cluster/apps/kube-system/kyverno/rbac.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

feat(kyverno): move ns
  cluster/apps/kube-system/kustomization.yaml
  cluster/apps/kube-system/kyverno/helm-release.yaml
  cluster/apps/kube-system/kyverno/kustomization.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kube-system/kyverno/policies/delete-cpu-limits.yaml
  cluster/apps/kube-system/kyverno/policies/kustomization.yaml
  cluster/apps/kube-system/kyverno/policies/snapshot-cronjob-controller.yaml
  cluster/apps/kube-system/kyverno/policies/sync-postgres-secrets.yaml
  cluster/apps/kube-system/kyverno/rbac.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/kyverno.yaml
Labels: area/cluster

feat(kyverno): move ns
  cluster/apps/kustomization.yaml
Labels: area/cluster

feat(kyverno): move ns
  cluster/apps/kustomization.yaml
Labels: area/cluster

chore: go
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

chore: go
  cluster/apps/networking/ingress-nginx/helm-release.yaml
Labels: area/cluster

chore: move kube dashboard
  cluster/apps/kube-system/kubernetes-dashboard/cluster-role-binding.yaml
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
  cluster/apps/kube-system/kubernetes-dashboard/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/core/kustomization.yaml
  cluster/core/namespaces/kubernetes-dashboard.yaml
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

chore: move kube dashboard
  cluster/apps/kube-system/kubernetes-dashboard/cluster-role-binding.yaml
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
  cluster/apps/kube-system/kubernetes-dashboard/kustomization.yaml
  cluster/apps/kube-system/kustomization.yaml
  cluster/core/kustomization.yaml
  cluster/core/namespaces/kubernetes-dashboard.yaml
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

chore: create ns true
  cluster/apps/kube-system/kyverno/helm-release.yaml
Labels: area/cluster

chore: create ns true
  cluster/apps/kube-system/kyverno/helm-release.yaml
Labels: area/cluster

chore: go
  cluster/apps/kube-system/kubernetes-dashboard/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
