Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

Revert "Update autoMerge.json5"
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "Update autoMerge.json5"
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "Update autoMerge.json5"
  .github/renovate/autoMerge.json5
Labels: area/github

Revert "Update autoMerge.json5"
  .github/renovate/autoMerge.json5
Labels: area/github

add emptydir?
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

add emptydir?
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

add emptydir?
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: add pvc cache for *arr
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
Labels: area/kubernetes

fix: add pvc cache for *arr
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
Labels: area/kubernetes

fix: add pvc cache for *arr
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/pvc.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/pvc.yaml
Labels: area/kubernetes

fix: update env
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix: update env
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix: update env
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix: update loki
  kubernetes/apps/monitoring/loki/app/configmap.yaml
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/loki/app/prometheusrule.yaml
Labels: area/kubernetes

fix: update loki
  kubernetes/apps/monitoring/loki/app/configmap.yaml
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/loki/app/prometheusrule.yaml
Labels: area/kubernetes

fix: update loki
  kubernetes/apps/monitoring/loki/app/configmap.yaml
  kubernetes/apps/monitoring/loki/app/externalsecret.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/apps/monitoring/loki/app/prometheusrule.yaml
Labels: area/kubernetes

feat: add obj store, where did ti go?
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: add obj store, where did ti go?
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: add obj store, where did ti go?
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: use correct sc
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct sc
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct sc
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: loki rules
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

feat: loki rules
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

feat: loki rules
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/resources/config.js
  kubernetes/apps/default/qbittorrent/app/resources/cross-seed.sh
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: use upstream kubectl
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: use upstream kubectl
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: use upstream kubectl
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

revert k8s too soon
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

revert k8s too soon
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

revert k8s too soon
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

Revert "feat(github-release): update system-upgrade-controller group to v1.30.0"
  README.md
  talos/talconfig.yaml
Labels: area/talos

Revert "feat(github-release): update system-upgrade-controller group to v1.30.0"
  README.md
  talos/talconfig.yaml
Labels: area/talos

Revert "feat(github-release): update system-upgrade-controller group to v1.30.0"
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix: update group
  .github/renovate/groups.json5
Labels: area/github

fix: update group
  .github/renovate/groups.json5
Labels: area/github

fix: update group
  .github/renovate/groups.json5
Labels: area/github

fixup renovate config groups
  .github/renovate/groups.json5
Labels: area/github

fixup renovate config groups
  .github/renovate/groups.json5
Labels: area/github

fixup renovate config groups
  .github/renovate/groups.json5
Labels: area/github

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
