Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: update vector version
  ansible/playbooks/roles/vector.octoprint/tasks/main.yml
  ansible/playbooks/roles/vector.octoprint/vars/main.yml
  talos/talconfig.yaml
Labels: area/ansible

fix: update vector version
  ansible/playbooks/roles/vector.octoprint/tasks/main.yml
  ansible/playbooks/roles/vector.octoprint/vars/main.yml
  talos/talconfig.yaml
Labels: area/ansible

feat(prom): add ender scrape
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

feat(prom): add ender scrape
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

fix: update scraper target for https
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: update scraper target for https
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

gitRevert "fix: update scraper target for https"
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

gitRevert "fix: update scraper target for https"
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: update scraper target for https
  ansible/playbooks/roles/haproxy.octoprint/templates/haproxy.cfg.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/ansible, area/cluster

fix: update scraper target for https
  ansible/playbooks/roles/haproxy.octoprint/templates/haproxy.cfg.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/ansible, area/cluster

feat(prom): put prom metrics behind haproxy and basic auth
  ansible/inventory/host_vars/ender/ender.sops.yml
  ansible/playbooks/roles/haproxy.octoprint/templates/haproxy.cfg.j2
  ansible/playbooks/roles/node_exporter.octoprint/tasks/main.yml
  ansible/playbooks/roles/node_exporter.octoprint/templates/config.yaml.j2
  ansible/playbooks/roles/node_exporter.octoprint/templates/node-exporter.service.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/ansible, area/cluster

feat(prom): put prom metrics behind haproxy and basic auth
  ansible/inventory/host_vars/ender/ender.sops.yml
  ansible/playbooks/roles/haproxy.octoprint/templates/haproxy.cfg.j2
  ansible/playbooks/roles/node_exporter.octoprint/tasks/main.yml
  ansible/playbooks/roles/node_exporter.octoprint/templates/config.yaml.j2
  ansible/playbooks/roles/node_exporter.octoprint/templates/node-exporter.service.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/ansible, area/cluster

fix(prom): fix label
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(prom): fix label
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: remove prom auth to keep it simple, use router for external routes
  ansible/inventory/host_vars/ender/ender.sops.yml
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/node_exporter.octoprint/tasks/main.yml
  ansible/playbooks/roles/node_exporter.octoprint/templates/config.yaml.j2
  ansible/playbooks/roles/node_exporter.octoprint/templates/node-exporter.service.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/lochnas/ingress.yaml
  cluster/apps/networking/static-routes/lochnas/kustomization.yaml
  cluster/apps/networking/static-routes/lochnas/service.yaml
Labels: area/ansible, area/cluster

fix: remove prom auth to keep it simple, use router for external routes
  ansible/inventory/host_vars/ender/ender.sops.yml
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/node_exporter.octoprint/tasks/main.yml
  ansible/playbooks/roles/node_exporter.octoprint/templates/config.yaml.j2
  ansible/playbooks/roles/node_exporter.octoprint/templates/node-exporter.service.j2
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/lochnas/ingress.yaml
  cluster/apps/networking/static-routes/lochnas/kustomization.yaml
  cluster/apps/networking/static-routes/lochnas/service.yaml
Labels: area/ansible, area/cluster

chore: add static routes to haji
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore: add static routes to haji
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

fix: remove static routes
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/minio/kustomization.yaml
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

fix: remove static routes
  cluster/apps/networking/kustomization.yaml
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/minio/kustomization.yaml
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

fix: adguard update
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

fix: adguard update
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

fix: use http
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: use http
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix routes
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

fix schemes
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix routes
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

Revert "fix: remove static routes"
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/minio/kustomization.yaml
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

Revert "fix: remove static routes"
  cluster/apps/networking/static-routes/kustomization.yaml
  cluster/apps/networking/static-routes/minio/ingress.yaml
  cluster/apps/networking/static-routes/minio/kustomization.yaml
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

fix schemes
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: port
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: port
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: domain
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

fix: domain
  cluster/apps/networking/static-routes/minio/service.yaml
Labels: area/cluster

fix: try relable
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: try relable
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: try relabel
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix: try relabel
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

chore: update v1beta2
  cluster/apps/flux-system/notifications/alert-manager/notification.yaml
  cluster/apps/flux-system/notifications/github/notification.yaml
  cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: area/cluster

chore: update v1beta2
  cluster/apps/flux-system/notifications/alert-manager/notification.yaml
  cluster/apps/flux-system/notifications/github/notification.yaml
  cluster/apps/flux-system/webhook/github/receiver.yaml
Labels: area/cluster
