Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(nut): move to nas, use nut on talos and update exporter
  .taskfiles/ClusterTasks.yml
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/prometheus-nut-exporter/ks.yaml
Labels: none

feat(nut): move to nas, use nut on talos and update exporter
  .taskfiles/ClusterTasks.yml
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
  kubernetes/apps/monitoring/prometheus-nut-exporter/ks.yaml
Labels: none

feat(nut): try n fix sm
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
Labels: none

feat(nut): try n fix sm
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
Labels: none

fix: update nut to work better with synology
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
Labels: none

fix: update nut to work better with synology
  kubernetes/apps/monitoring/prometheus-nut-exporter/app/helm-release.yaml
Labels: none

feat(ansible): add wake-on-lan to router to run on boot
  ansible/inventory/group_vars/router/wake_on_lan.yml
  ansible/playbooks/roles/config.router/tasks/main.yml
  ansible/playbooks/roles/config.router/templates/wake-on-lan.sh.j2
Labels: area/ansible

feat(ansible): add wake-on-lan to router to run on boot
  ansible/inventory/group_vars/router/wake_on_lan.yml
  ansible/playbooks/roles/config.router/tasks/main.yml
  ansible/playbooks/roles/config.router/templates/wake-on-lan.sh.j2
Labels: area/ansible

feat(upsmon): add to worker nodes as well
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

feat(upsmon): add to worker nodes as well
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

fix: add talso dir to renovate
  .github/renovate.json5
Labels: area/github

fix: add talso dir to renovate
  .github/renovate.json5
Labels: area/github

fix: add more talos to renovate
  .github/renovate.json5
  talos/talconfig.yaml
Labels: area/github

fix: add more talos to renovate
  .github/renovate.json5
  talos/talconfig.yaml
Labels: area/github

fix: automerge prowlarr
  .github/renovate/autoMerge.json5
Labels: area/github

fix: automerge prowlarr
  .github/renovate/autoMerge.json5
Labels: area/github

feat(upsmon): orchestrate cloister bringup a bit more smartly maybe
  ansible/inventory/group_vars/router/wake_on_lan.yml
  ansible/playbooks/roles/config.router/templates/wake-on-lan.sh.j2
Labels: area/ansible

feat(upsmon): orchestrate cloister bringup a bit more smartly maybe
  ansible/inventory/group_vars/router/wake_on_lan.yml
  ansible/playbooks/roles/config.router/templates/wake-on-lan.sh.j2
Labels: area/ansible

feat(upsmon): orchestrate cloister bringup a bit more smartly maybe
  ansible/inventory/group_vars/router/wake_on_lan.yml
Labels: area/ansible

feat(upsmon): orchestrate cloister bringup a bit more smartly maybe
  ansible/inventory/group_vars/router/wake_on_lan.yml
Labels: area/ansible

fix: update wireguard settings
  ansible/inventory/group_vars/router/wireguard.yml
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

fix: update wireguard settings
  ansible/inventory/group_vars/router/wireguard.yml
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

chore: add ender cam sources
  kubernetes/apps/default/home-assistant/app/secret.sops.yaml
Labels: none

chore: add ender cam sources
  kubernetes/apps/default/home-assistant/app/secret.sops.yaml
Labels: none

Revert "chore: add ender cam sources"
  kubernetes/apps/default/home-assistant/app/secret.sops.yaml
Labels: none

Revert "chore: add ender cam sources"
  kubernetes/apps/default/home-assistant/app/secret.sops.yaml
Labels: none

Revert "fix(helm): update helm release emqx to v5.0.13 (#1017)"
  kubernetes/apps/default/emqx/app/helm-release.yaml
Labels: none

Revert "fix(helm): update helm release emqx to v5.0.13 (#1017)"
  kubernetes/apps/default/emqx/app/helm-release.yaml
Labels: none

Revert "Revert "fix(helm): update helm release emqx to v5.0.13 (#1017)""
  kubernetes/apps/default/emqx/app/helm-release.yaml
Labels: none

Revert "Revert "fix(helm): update helm release emqx to v5.0.13 (#1017)""
  kubernetes/apps/default/emqx/app/helm-release.yaml
Labels: none

fix: add quotes to fix renovate
  talos/talconfig.yaml
Labels: none

fix: add quotes to fix renovate
  talos/talconfig.yaml
Labels: none

fix: add more talos matching
  .github/renovate.json5
Labels: area/github

fix: add more talos matching
  .github/renovate.json5
Labels: area/github

fix: add more talos matching
  .github/renovate.json5
Labels: area/github

fix: add more talos matching
  .github/renovate.json5
Labels: area/github

fix hajimari url
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

fix hajimari url
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

fix hajimari url
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

fix hajimari url
  kubernetes/apps/default/immich/app/web/helm-release.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
