Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.8.3
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.18.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.18.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.18.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.40
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.40
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.77.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.77.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/paperless-ngx/tika docker tag to v2.9.0
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/paperless-ngx/tika docker tag to v2.9.0
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.14.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.14.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.81.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.81.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(helm): update helm release node-problem-detector to v2.3.8
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release node-problem-detector to v2.3.8
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.3
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.11
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.11
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3938
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3938
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.25.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.25.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.1.7
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.1.7
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency ansible.utils to v2.11.0
  ansible/requirements.yml
Labels: area/ansible

fix(helm): update helm release node-problem-detector to v2.3.10
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.14.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.1
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.309.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix: tweak retain
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix: tweak retain
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.309.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
