Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

add task to regen certs
  .taskfiles/talos/Taskfile.yml
Labels: area/taskfile

Revert "fix(container): update rook-ceph group ( v1.19.1 → v1.19.2 )"
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrepository.yaml
Labels: area/kubernetes

pin to version
  kubernetes/apps/media/jellyseerr-fin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

Update autoMerge.json5
  .github/renovate/autoMerge.json5
Labels: area/github

fix(talos): write talosconfig to correct path and regen kubeconfig on cert rotation
  .taskfiles/talos/Taskfile.yml
Labels: area/taskfile

fix(recyclarr): migrate to v8 guide-backed quality profiles, remove deprecated include templates
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

fix(recyclarr): remove deprecated option and invalid EVO trash_id, use profile trash_ids in assign_scores_to
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

more space
  kubernetes/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes

more space
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes

fix: expect 200
  kubernetes/apps/observability/kromgo/app/helmrelease.yaml
Labels: area/kubernetes

no ac-lite
  kubernetes/apps/observability/exporters/snmp-exporter/app/helmrelease.yaml
Labels: area/kubernetes

try fix
  kubernetes/apps/default/govee2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

Revert "try fix"
  kubernetes/apps/default/govee2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

add netpol
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes

feat: remove homerp deployment
  .github/workflows/renovate.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging-issuer.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/homerp.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/homerp/app/externalsecret.yaml
  kubernetes/apps/default/homerp/app/helmrelease.yaml
  kubernetes/apps/default/homerp/app/kustomization.yaml
  kubernetes/apps/default/homerp/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/envoy-gateway/app/certificate.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/github, area/kubernetes

bump pvc
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes

fix: downgrade gha-runner-scale-set to 0.13.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/ocirepository.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-cluster/ocirepository.yaml
Labels: area/kubernetes

bump
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes

Update talos.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talos.yaml
Labels: area/kubernetes

feat(openclaw): add openclaw operator and instance
  kubernetes/apps/openclaw/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/helmrelease.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/ocirepository.yaml
  kubernetes/apps/openclaw/openclaw-operator/ks.yaml
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
  kubernetes/apps/openclaw/openclaw/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw/app/networkpolicy.yaml
  kubernetes/apps/openclaw/openclaw/app/route.yaml
  kubernetes/apps/openclaw/openclaw/ks.yaml
Labels: area/kubernetes

fix(openclaw): add operator-system namespace, drop managed gateway token
  kubernetes/apps/openclaw/openclaw-operator/app/kustomization.yaml
  kubernetes/apps/openclaw/openclaw-operator/app/namespace.yaml
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): restore gateway token to externalsecret and instance
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(govee2mqtt): remove email/password credentials to fix broken undoc API login
  kubernetes/apps/default/govee2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

fix(openclaw): switch channel from signal to whatsapp
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): switch channel from whatsapp to signal
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

feat(openclaw): add Signal sidecar, home-assistant skill, and phone secret
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

feat(openclaw): add Signal sidecar, home-assistant skill, and phone secret
  kubernetes/apps/openclaw/openclaw/app/externalsecret.yaml
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

remove skll
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): skip signal-cli usermod/groupmod by setting PUID/PGID=1000
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): add securityContext to signal-cli sidecar to allow groupmod
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): replace signal-cli REST sidecar with native binary via initContainer
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(openclaw): fix signal-cli tar extraction path
  kubernetes/apps/openclaw/openclaw/app/instance.yaml
Labels: area/kubernetes

fix(rook-ceph): remove osd_class_update_on_start option removed in newer Ceph
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(dragonfly): add create verb to networkpolicies rbac
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes

fix(dragonfly): add patch, update, delete verbs to networkpolicies rbac
  kubernetes/apps/database/dragonfly/app/rbac.yaml
Labels: area/kubernetes

chore(media): remove ersatztv, jellyseerr-fin, pinchflat
  kubernetes/apps/media/ersatztv/app/helmrelease.yaml
  kubernetes/apps/media/ersatztv/app/kustomization.yaml
  kubernetes/apps/media/ersatztv/ks.yaml
  kubernetes/apps/media/jellyseerr-fin/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr-fin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr-fin/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr-fin/app/pvc.yaml
  kubernetes/apps/media/jellyseerr-fin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/pinchflat/app/helmrelease.yaml
  kubernetes/apps/media/pinchflat/app/kustomization.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
Labels: area/kubernetes

chore: reduce memory limits for plex, qbittorrent, postgres17
  kubernetes/apps/database/cloudnative-pg/cluster/cluster17.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(dragonfly): add networkpolicy to allow prometheus metrics scraping
  kubernetes/components/dragonfly/kustomization.yaml
  kubernetes/components/dragonfly/networkpolicy.yaml
Labels: area/kubernetes

fix(dragonfly): add control-plane=controller-manager label to operator pod
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes

chore: disable jellystat and openclaw kustomizations
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/openclaw/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
