Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix: put qbit on new node
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: put qbit on new node
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: add missing node
  .taskfiles/TalosTasks.yml
Labels: none

fix: add missing node
  .taskfiles/TalosTasks.yml
Labels: none

fix: add peer
  ansible/playbooks/roles/bgp.router/tasks/bgp.yml
Labels: area/ansible

fix: add peer
  ansible/playbooks/roles/bgp.router/tasks/bgp.yml
Labels: area/ansible

feat(container): update immich group to v1.86.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: lets try removing metallb, what could go wrong"
  kubernetes/apps/metallb-system/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
  kubernetes/apps/metallb-system/metallb/app/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/ipaddresspool.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ks.yaml
  kubernetes/apps/metallb-system/namespace.yaml
Labels: area/kubernetes

Revert "feat: lets try removing metallb, what could go wrong"
  kubernetes/apps/metallb-system/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
  kubernetes/apps/metallb-system/metallb/app/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/ipaddresspool.yaml
  kubernetes/apps/metallb-system/metallb/ip-address-pool/kustomization.yaml
  kubernetes/apps/metallb-system/metallb/ks.yaml
  kubernetes/apps/metallb-system/namespace.yaml
Labels: area/kubernetes

use separate service for metallb
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/service.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/kustomization.yaml
  kubernetes/apps/default/unifi/app/service.yaml
Labels: area/ansible, area/kubernetes

use separate service for metallb
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/service.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/kustomization.yaml
  kubernetes/apps/default/unifi/app/service.yaml
Labels: area/ansible, area/kubernetes

chore: copy pasta descheduler configs
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

chore: copy pasta descheduler configs
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.12
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.1
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.4.4078
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.4.4078
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/twin/gatus docker tag to v5.7.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/twin/gatus docker tag to v5.7.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/theme-park:1.14.1 docker digest to 84d3de5
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/theme-park:1.14.1 docker digest to 84d3de5
  kubernetes/apps/default/theme-park/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.3.3
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.19.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update grafana/grafana docker tag to v10.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.2.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.3.3
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.3.3
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.1
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release snapshot-controller to v2.0.1
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.12
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.12
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.86.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.86.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.10
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.10
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat: cluster must grow
  README.md
Labels: none

feat: cluster must grow
  README.md
Labels: none
