Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

remove: bazarr
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/gatus.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat(helm): update helm release grafana to v6.60.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release grafana to v6.60.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: copy latest n greatest
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

chore: copy latest n greatest
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct icon
  kubernetes/apps/default/homepage/app/config/bookmarks.yaml
Labels: area/kubernetes

chore: rename tasks
  .taskfiles/KuberneteTasks.yml
  Taskfile.yml
  hack/volsync-restore.sh
Labels: area/hack

chore: rename tasks
  .taskfiles/KuberneteTasks.yml
  Taskfile.yml
  hack/volsync-restore.sh
Labels: area/hack

fix: use correct icon
  kubernetes/apps/default/homepage/app/config/bookmarks.yaml
Labels: area/kubernetes

fix: lets be dynamic
  kubernetes/apps/default/homepage/app/config/settings.yaml
Labels: area/kubernetes

fix: lets be dynamic
  kubernetes/apps/default/homepage/app/config/settings.yaml
Labels: area/kubernetes

chore: more tools
  kubernetes/apps/default/qbittorrent/tools/config/config.yaml
  kubernetes/apps/default/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/kustomization.yaml
Labels: area/kubernetes

chore: more tools
  kubernetes/apps/default/qbittorrent/tools/config/config.yaml
  kubernetes/apps/default/qbittorrent/tools/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/kustomization.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/kustomization.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.1.11
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v17.1.11
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.84.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.4
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.6.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release intel-device-plugins-gpu to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release intel-device-plugins-operator to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix: just retain motion for now
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix: just retain motion for now
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.6.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.6.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.4
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbittools docker tag to v0.9.4
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-expired/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-prune-unregistered/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.84.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.84.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(helm): update helm release intel-device-plugins-gpu to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release intel-device-plugins-gpu to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release intel-device-plugins-operator to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release intel-device-plugins-operator to v0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
