Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

chore(container): update ghcr.io/mchestr/displex:main docker digest to 2e266b2
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 2e266b2
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 2e266b2
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.4.4035
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.4.4035
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.4.4035
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to 229b918
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 229b918
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 229b918
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.2.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.2.3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update immich group to v1.82.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.700
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.700
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.700
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.0.4045
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.0.4045
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.0.4045
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update dependency siderolabs/talos to v1.5.4
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9e7ce88
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9e7ce88
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 9e7ce88
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.32.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.12.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v51.9.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.12.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.12.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.12.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/miniflux/miniflux docker tag to v2.0.49
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/miniflux/miniflux docker tag to v2.0.49
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/miniflux/miniflux docker tag to v2.0.49
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.6
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.6
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
