Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.3.7731
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3807
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3807
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/autobrr/autobrr docker tag to v1.28.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/autobrr/autobrr docker tag to v1.28.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/autobrr/autobrr docker tag to v1.28.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/unpackerr docker tag to v0.12.0
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/unpackerr docker tag to v0.12.0
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency budimanjojo/talhelper to v1.8.1
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.8.1
  .taskfiles/TalosTasks.yml
Labels: none

fix: rename
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix: rename
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix: update runas
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix: update runas
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix: update runas
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix: update runas
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  kubernetes/apps/web/wordpress-0/app/volsync.yaml
Labels: area/kubernetes

fix(helm): update helm release kyverno to v3.0.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3816
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3816
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.585
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.585
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update dependency community.general to v7.2.1
  ansible/requirements.yml
Labels: area/ansible

fix(container): update ghcr.io/coder/code-server docker tag to v4.16.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/coder/code-server docker tag to v4.16.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/coder/code-server docker tag to v4.16.1
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kyverno to v3.0.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kyverno to v3.0.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update dependency community.general to v7.2.1
  ansible/requirements.yml
Labels: area/ansible

fix(ansible): update dependency community.general to v7.2.1
  ansible/requirements.yml
Labels: area/ansible

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 967dc36
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/koenkk/zigbee2mqtt:latest-dev docker digest to 967dc36
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.7.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.7.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3817
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.1.3817
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v16.1.35
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update wordpress docker tag to v16.1.35
  kubernetes/apps/web/wordpress-0/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release emqx to v5.1.4
  kubernetes/apps/default/emqx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v48.2.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.22.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes
