Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

chore(ansible): cleanup ansible not used
  .taskfiles/AnsibleTasks.yml
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml 
  .taskfiles/VolSync/Tasks.yml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  README.md
  ansible/inventory/hosts.yml
  ansible/playbooks/k3s-install.yml
  ansible/playbooks/k3s-nuke.yml
  ansible/playbooks/roles/ubuntu/tasks/checks.yml
  ansible/playbooks/roles/ubuntu/tasks/filesystem.yml
  ansible/playbooks/roles/ubuntu/tasks/kernel.yml
  ansible/playbooks/roles/ubuntu/tasks/locale.yml
  ansible/playbooks/roles/ubuntu/tasks/main.yml
  ansible/playbooks/roles/ubuntu/tasks/network.yml
  ansible/playbooks/roles/ubuntu/tasks/packages.yml
  ansible/playbooks/roles/ubuntu/tasks/unattended-upgrades.yml
  ansible/playbooks/roles/ubuntu/tasks/user.yml
  ansible/playbooks/templates/calico-installation.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/ubuntu-prepare.yml
  ansible/playbooks/ubuntu-upgrade.yml
  ansible/requirements.yml
Labels: area/ansible

chore(ansible): cleanup ansible not used
  .taskfiles/AnsibleTasks.yml
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml 
  .taskfiles/VolSync/Tasks.yml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  README.md
  ansible/inventory/hosts.yml
  ansible/playbooks/k3s-install.yml
  ansible/playbooks/k3s-nuke.yml
  ansible/playbooks/roles/ubuntu/tasks/checks.yml
  ansible/playbooks/roles/ubuntu/tasks/filesystem.yml
  ansible/playbooks/roles/ubuntu/tasks/kernel.yml
  ansible/playbooks/roles/ubuntu/tasks/locale.yml
  ansible/playbooks/roles/ubuntu/tasks/main.yml
  ansible/playbooks/roles/ubuntu/tasks/network.yml
  ansible/playbooks/roles/ubuntu/tasks/packages.yml
  ansible/playbooks/roles/ubuntu/tasks/unattended-upgrades.yml
  ansible/playbooks/roles/ubuntu/tasks/user.yml
  ansible/playbooks/templates/calico-installation.yaml.j2
  ansible/playbooks/templates/kube-vip-daemonset.yaml.j2
  ansible/playbooks/ubuntu-prepare.yml
  ansible/playbooks/ubuntu-upgrade.yml
  ansible/requirements.yml
Labels: area/ansible

chore: update readme
  README.md
Labels: none

chore: update readme
  README.md
Labels: none

fix: remove osd not working
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: remove osd not working
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: ingress fix
  cluster/apps/home/radicale/helm-release.yaml
Labels: area/cluster

fix: ingress fix
  cluster/apps/home/radicale/helm-release.yaml
Labels: area/cluster

chore: add more talos tasks
  .taskfiles/TalosTasks.yml
  Taskfile.yml
Labels: none

chore: add more talos tasks
  .taskfiles/TalosTasks.yml
  Taskfile.yml
Labels: none

fix(kyverno): 2 replicas
  cluster/apps/kyverno/helm-release.yaml
Labels: area/cluster

fix(kyverno): 2 replicas
  cluster/apps/kyverno/helm-release.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/README.md
  cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/README.md
  cluster/apps/media/kustomization.yaml
Labels: area/cluster

fix(kyverno): 2 replicas
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/kyverno/helm-release.yaml
Labels: area/cluster

fix(kyverno): 2 replicas
  cluster/apps/home/esphome/helm-release.yaml
  cluster/apps/kyverno/helm-release.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

go
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

go
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

fix(kopia): remake
  cluster/apps/default/kopia-web/helm-release.yaml
Labels: area/cluster

fix(kopia): remake
  cluster/apps/default/kopia-web/helm-release.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

fix: enable jellyfin
  cluster/apps/media/jellyfin/helm-release.yaml
Labels: area/cluster

Revert "fix(kopia): remake"
  cluster/apps/default/kopia-web/helm-release.yaml
Labels: area/cluster

Revert "fix(kopia): remake"
  cluster/apps/default/kopia-web/helm-release.yaml
Labels: area/cluster

fix: emqx behind auth
  cluster/apps/databases/emqx/helm-release.yaml
Labels: area/cluster

fix: emqx behind auth
  cluster/apps/databases/emqx/helm-release.yaml
Labels: area/cluster

chore: update hajimari
  cluster/apps/home/appdaemon/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: update hajimari
  cluster/apps/home/appdaemon/helm-release.yaml
  cluster/apps/home/zigbee2mqtt/helm-release.yaml
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: update hajimari
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: update hajimari
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: add more rook things
  .taskfiles/RookTasks.yml
  Taskfile.yml
  cluster/core/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/kustomization.yaml
  cluster/core/rook-ceph/add-ons/direct-mount/deployment.yaml
  cluster/core/rook-ceph/add-ons/direct-mount/kustomization.yaml
  cluster/core/rook-ceph/add-ons/kustomization.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: add more rook things
  .taskfiles/RookTasks.yml
  Taskfile.yml
  cluster/core/rook-ceph/add-ons/dashboard/ceph-cluster-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/ceph-osd-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/ceph-pools-dashboard.json
  cluster/core/rook-ceph/add-ons/dashboard/kustomization.yaml
  cluster/core/rook-ceph/add-ons/direct-mount/deployment.yaml
  cluster/core/rook-ceph/add-ons/direct-mount/kustomization.yaml
  cluster/core/rook-ceph/add-ons/kustomization.yaml
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

chore: add more rook things
  cluster/core/rook-ceph/add-ons/direct-mount/deployment.yaml
Labels: area/cluster

chore: add more rook things
  cluster/core/rook-ceph/add-ons/direct-mount/deployment.yaml
Labels: area/cluster

fix: remove auth since it is built in
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: remove auth since it is built in
  cluster/core/rook-ceph/cluster/helm-release.yaml
Labels: area/cluster

fix: grafana sidecar needs basic auth I think
  .taskfiles/TalosTasks.yml
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

fix: grafana sidecar needs basic auth I think
  .taskfiles/TalosTasks.yml
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
