Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(hyperion): expose http?
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): expose http?
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): expose http?
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): expose http?
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): expose http
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): expose http
  cluster/apps/home/hyperion/helm-release.yaml
Labels: area/cluster

fix(hyperion): remove for a sec
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

fix(hyperion): remove for a sec
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

Revert "fix(hyperion): remove for a sec"
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

Revert "fix(hyperion): remove for a sec"
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/hyperion/helm-release.yaml
  cluster/apps/home/hyperion/kustomization.yaml
  cluster/apps/home/hyperion/pvc.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/hyperion/helm-release.yaml
  cluster/apps/home/hyperion/kustomization.yaml
  cluster/apps/home/hyperion/pvc.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/hyperion-ng/helm-release.yaml
  cluster/apps/home/hyperion-ng/kustomization.yaml
  cluster/apps/home/hyperion-ng/pvc.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/hyperion-ng/helm-release.yaml
  cluster/apps/home/hyperion-ng/kustomization.yaml
  cluster/apps/home/hyperion-ng/pvc.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(hyperion): rename
  cluster/apps/home/kustomization.yaml
Labels: area/cluster

feat(hyperion): expose jsonserver
  cluster/apps/home/hyperion-ng/helm-release.yaml
  provision/terraform/authentik/applications.tf
Labels: area/cluster, area/terraform

feat(hyperion): expose jsonserver
  cluster/apps/home/hyperion-ng/helm-release.yaml
  provision/terraform/authentik/applications.tf
Labels: area/cluster, area/terraform

feat(hyperion): update service
  cluster/apps/home/hyperion-ng/helm-release.yaml
Labels: area/cluster

feat(hyperion): update service
  cluster/apps/home/hyperion-ng/helm-release.yaml
Labels: area/cluster

feat(renovate): update to json5, tweak settings to test
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

feat(renovate): update to json5, tweak settings to test
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(renovate): update schedule, testing successful
  .github/renovate/autoMerge.json5
Labels: area/github

fix(renovate): update schedule, testing successful
  .github/renovate/autoMerge.json5
Labels: area/github

feat(postgres-backup): give it a whirl
  cluster/apps/database-system/kustomization.yaml
  cluster/apps/database-system/postgres-backup/cron-job.yaml
  cluster/apps/database-system/postgres-backup/kustomization.yaml
Labels: area/cluster

feat(postgres-backup): give it a whirl
  cluster/apps/database-system/kustomization.yaml
  cluster/apps/database-system/postgres-backup/cron-job.yaml
  cluster/apps/database-system/postgres-backup/kustomization.yaml
Labels: area/cluster

feat(postgres-backup): give it a whirl
  cluster/apps/database-system/postgres-backup/kustomization.yaml
Labels: area/cluster

feat(postgres-backup): give it a whirl
  cluster/apps/database-system/postgres-backup/kustomization.yaml
Labels: area/cluster

feat(redis): use basic redis image, bitnami seems overkill
  cluster/apps/auth-system/authentik/helm-release.yaml
  cluster/apps/auth-system/authentik/secret.sops.yaml
  cluster/apps/database-system/redis/datasource.yaml
  cluster/apps/database-system/redis/helm-release.yaml
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

feat(redis): use basic redis image, bitnami seems overkill
  cluster/apps/auth-system/authentik/helm-release.yaml
  cluster/apps/auth-system/authentik/secret.sops.yaml
  cluster/apps/database-system/redis/datasource.yaml
  cluster/apps/database-system/redis/helm-release.yaml
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

fix(paperless): add depends on redis
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

fix(paperless): add depends on redis
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

fix(paperless): add depends on postgres
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

fix(paperless): add depends on postgres
  cluster/apps/home/paperless/helm-release.yaml
Labels: area/cluster

feat(postgres-backup): update user
  cluster/apps/database-system/postgres-backup/cron-job.yaml
Labels: area/cluster

feat(postgres-backup): update user
  cluster/apps/database-system/postgres-backup/cron-job.yaml
Labels: area/cluster

fix(bazaar): fix backup directory
  cluster/apps/media/bazarr/helm-release.yaml
Labels: area/cluster

fix(bazaar): fix backup directory
  cluster/apps/media/bazarr/helm-release.yaml
Labels: area/cluster

feat(postgres): upgrade to v15
  cluster/apps/database-system/postgres/helm-release.yaml
  cluster/apps/database-system/postgres/persistent-volume-claim.yaml
Labels: area/cluster

feat(postgres): upgrade to v15
  cluster/apps/database-system/postgres/helm-release.yaml
  cluster/apps/database-system/postgres/persistent-volume-claim.yaml
Labels: area/cluster
