Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat: fix policy
  kubernetes/apps/networking/ingress-nginx/app/policies/apply-ingress-auth-annotations.yaml
Labels: none

feat: fix policy
  kubernetes/apps/networking/ingress-nginx/app/policies/apply-ingress-auth-annotations.yaml
Labels: none

fix: bump
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: none

fix: bump
  kubernetes/apps/networking/ingress-nginx/app/helm-release.yaml
Labels: none

fix name wups
  kubernetes/apps/networking/ingress-nginx/app/policies/apply-ingress-whitelist-annotations.yaml
Labels: none

fix name wups
  kubernetes/apps/networking/ingress-nginx/app/policies/apply-ingress-whitelist-annotations.yaml
Labels: none

feat: remove port forward, use cf
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
Labels: area/ansible

feat: remove port forward, use cf
  ansible/playbooks/roles/config.router/tasks/port-forward.yml
Labels: area/ansible

fix: domain routing maybe
  ansible/playbooks/roles/config.router/tasks/dns.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging-issuer.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/external-secret.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/dns-endpoint.yaml
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/variables.tf
Labels: area/ansible, area/terraform

fix: domain routing maybe
  ansible/playbooks/roles/config.router/tasks/dns.yml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-production-issuer.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/letsencrypt-staging-issuer.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/external-secret.yaml
  kubernetes/apps/networking/cloudflared/app/config/config.yaml
  kubernetes/apps/networking/cloudflared/app/dns-endpoint.yaml
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/variables.tf
Labels: area/ansible, area/terraform

feat: add google cloud terraform
  .taskfiles/TerraformTasks.yml
  ansible/inventory/host_vars/edgerouter.sops.yml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/terraform

feat: add google cloud terraform
  .taskfiles/TerraformTasks.yml
  ansible/inventory/host_vars/edgerouter.sops.yml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/terraform

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: remove dns
  terraform/cloudflare/dns_records.tf
Labels: area/terraform

fix: remove dns
  terraform/cloudflare/dns_records.tf
Labels: area/terraform

feat: add gc
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/external-secret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/networking/cloudflared/app/external-secret.yaml
  terraform/cloudflare/ruleset.tf
  terraform/cloudflare/zone_settings.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat: add gc
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/external-secret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/networking/cloudflared/app/external-secret.yaml
  terraform/cloudflare/ruleset.tf
  terraform/cloudflare/zone_settings.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat: fix wireguard
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/terraform

feat: fix wireguard
  ansible/playbooks/roles/wireguard.router/tasks/main.yml
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/terraform

chore: simplify cf
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/terraform

chore: simplify cf
  terraform/cloudflare/main.tf
  terraform/cloudflare/providers.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/terraform

chore: simplify cf
  terraform/cloudflare/waf.tf
Labels: area/terraform

chore: simplify cf
  terraform/cloudflare/waf.tf
Labels: area/terraform

fix: catch tf dir
  .github/renovate.json5
Labels: area/github

fix: catch tf dir
  .github/renovate.json5
Labels: area/github

remove cf ip wf
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

remove cf ip wf
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
Labels: area/github

feat: use mirror
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helm-release.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/patches/sync.yaml
Labels: none

feat: use mirror
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helm-release.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/patches/sync.yaml
Labels: none

fix: add mover stuff.. not sure why its failing now
  kubernetes/apps/default/bazarr/app/backups/replication-source.yaml
Labels: none

fix: add mover stuff.. not sure why its failing now
  kubernetes/apps/default/bazarr/app/backups/replication-source.yaml
Labels: none

fix: use tf ext
  .github/renovate.json5
Labels: area/github

fix: use tf ext
  .github/renovate.json5
Labels: area/github

fix: use my mirrors
  kubernetes/apps/default/glauth/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: none

fix: use my mirrors
  kubernetes/apps/default/glauth/app/helm-release.yaml
  kubernetes/apps/monitoring/vector/agent/helm-release.yaml
  kubernetes/apps/monitoring/vector/aggregator/helm-release.yaml
Labels: none

try and make renovate work for this
  terraform/google-cloud/compute.tf
Labels: area/terraform

try and make renovate work for this
  terraform/google-cloud/compute.tf
Labels: area/terraform

use my own image
  terraform/google-cloud/compute.tf
  terraform/google-cloud/variables.tf
Labels: area/terraform

use my own image
  terraform/google-cloud/compute.tf
  terraform/google-cloud/variables.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
