Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat: only need once a day
  kubernetes/apps/default/appdaemon/app/volsync.yaml
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/ledfx/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

chore: add self documenting comments
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

chore: add self documenting comments
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

chore: use monolith method
  .taskfiles/Postgres/BackupJob.tmpl.yaml
  .taskfiles/Postgres/CreateDatabaseJob.tmpl.yaml
  .taskfiles/Postgres/RestoreJob.tmpl.yaml
  .taskfiles/Postgres/Tasks.yaml
Labels: none

chore: use monolith method
  .taskfiles/Postgres/BackupJob.tmpl.yaml
  .taskfiles/Postgres/CreateDatabaseJob.tmpl.yaml
  .taskfiles/Postgres/RestoreJob.tmpl.yaml
  .taskfiles/Postgres/Tasks.yaml
Labels: none

chore: use monolith method
  .taskfiles/Postgres/BackupJob.tmpl.yaml
  .taskfiles/Postgres/CreateDatabaseJob.tmpl.yaml
  .taskfiles/Postgres/RestoreJob.tmpl.yaml
  .taskfiles/Postgres/Tasks.yaml
Labels: none

feat(github-action): update allenporter/flux-local action to v3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to v3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(github-action): update allenporter/flux-local action to v3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: new zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zigbee.yaml
Labels: area/kubernetes

feat: new zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zigbee.yaml
Labels: area/kubernetes

feat: new zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zigbee.yaml
Labels: area/kubernetes

feat: remove old zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/prometheusrule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

feat: remove old zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/prometheusrule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

feat: remove old zigbee
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/gatus.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt-v2/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/prometheusrule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.5.4091
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.5.4091
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.5.4091
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.2.8288
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.2.8288
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.2.8288
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.731
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.731
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.731
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/goofball222/unifi Docker tag to v8
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/goofball222/unifi Docker tag to v8
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/goofball222/unifi Docker tag to v8
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/goofball222/unifi Docker tag to v8
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.88.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: new zooz
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zwave.yaml
Labels: area/kubernetes

feat: new zooz
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zwave.yaml
Labels: area/kubernetes

feat: new zooz
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/zwave.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.88.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.88.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.88.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: bye bye immich web
  kubernetes/apps/default/immich/app/kustomization.yaml
  kubernetes/apps/default/immich/app/server/gatus.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/kustomization.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
