Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/authelia/secret.sops.yaml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/authelia/secret.sops.yaml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/authelia/secret.sops.yaml
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/authelia/secret.sops.yaml
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

chore: latest vscode settings;
  .vscode/settings.json
Labels: none

chore: latest vscode settings;
  .vscode/settings.json
Labels: none

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

fix(authelia): update
  cluster/apps/auth-system/glauth/config/users.sops.toml
Labels: area/cluster

feat(nginx): add nginx ingress to slowly transition (or not)
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  cluster/apps/networking/ingress-nginx/cloudflare-proxied-networks.txt
  cluster/apps/networking/ingress-nginx/dashboard/kustomization.yaml
  cluster/apps/networking/ingress-nginx/helm-release.yaml
  cluster/apps/networking/ingress-nginx/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
  cluster/base/cluster-settings.yaml
  cluster/base/flux-system/repositories/helm/ingress-nginx-charts.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
Labels: area/github, area/cluster

feat(nginx): add nginx ingress to slowly transition (or not)
  .github/workflows/schedule-cloudflare-proxied-networks-update.yaml
  cluster/apps/networking/ingress-nginx/cloudflare-proxied-networks.txt
  cluster/apps/networking/ingress-nginx/dashboard/kustomization.yaml
  cluster/apps/networking/ingress-nginx/helm-release.yaml
  cluster/apps/networking/ingress-nginx/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
  cluster/base/cluster-settings.yaml
  cluster/base/flux-system/repositories/helm/ingress-nginx-charts.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
Labels: area/github, area/cluster

feat(cert-manager): move to apps/kube-system, add some kyverno things
  cluster/apps/kube-system/cert-manager/dashboard/kustomization.yaml
  cluster/apps/kube-system/cert-manager/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/kustomization.yaml
  cluster/apps/kube-system/cert-manager/prometheus-rule.yaml
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/core/cert-manager/kustomization.yaml
  cluster/core/kustomization.yaml
  cluster/core/namespaces/cert-manager.yaml
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system, add some kyverno things
  cluster/apps/kube-system/cert-manager/dashboard/kustomization.yaml
  cluster/apps/kube-system/cert-manager/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/kustomization.yaml
  cluster/apps/kube-system/cert-manager/prometheus-rule.yaml
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
  cluster/apps/kyverno/policies/kustomization.yaml
  cluster/core/cert-manager/kustomization.yaml
  cluster/core/kustomization.yaml
  cluster/core/namespaces/cert-manager.yaml
  cluster/core/namespaces/kustomization.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system, add some kyverno things
  cluster/apps/kustomization.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system, add some kyverno things
  cluster/apps/kustomization.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system
  cluster/apps/kube-system/cert-manager/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/kustomization.yaml
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system
  cluster/apps/kube-system/cert-manager/helm-release.yaml
  cluster/apps/kube-system/cert-manager/issuers/kustomization.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/kustomization.yaml
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system
  cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

feat(cert-manager): move to apps/kube-system
  cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

fix(kyverno): update policy
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
Labels: area/cluster

fix(kyverno): update policy
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
Labels: area/cluster

chore(nginx): test waters with nginx
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore(nginx): test waters with nginx
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

feat: add second domain to transition to
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

feat: add second domain to transition to
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-production.yaml
  cluster/apps/kube-system/cert-manager/issuers/letsencrypt-staging.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

chore: update tf for new domain
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
  provision/terraform/cloudflare/dns_records.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/variables.tf
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/cluster, area/terraform

chore: update tf for new domain
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/secret.sops.yaml
  cluster/apps/kube-system/cert-manager/issuers/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
  provision/terraform/cloudflare/dns_records.tf
  provision/terraform/cloudflare/main.tf
  provision/terraform/cloudflare/variables.tf
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/cluster, area/terraform

chore: update tf for new domain
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

chore: update tf for new domain
  provision/terraform/cloudflare/.terraform.lock.hcl
  provision/terraform/cloudflare/zone_settings.tf
Labels: area/terraform

chore: update kyverno with new domain
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/cluster

chore: update kyverno with new domain
  cluster/apps/kyverno/policies/apply-ingress-auth-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-external-dns-annotations.yaml
  cluster/apps/kyverno/policies/apply-ingress-whitelist-annotations.yaml
Labels: area/cluster

chore: update domain
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore: update domain
  cluster/apps/auth-system/authelia/helm-release.yaml
Labels: area/cluster

chore: update domain
  cluster/apps/networking/blocky/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
