Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.75
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

feat: try volsync volume populator
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/appdaemon/app/volsync.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
Labels: area/kubernetes

feat: try volsync volume populator
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/appdaemon/app/volsync.yaml
  kubernetes/apps/default/esphome/app/helmrelease.yaml
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/radicale/app/helmrelease.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
Labels: area/kubernetes

feat: move volsync
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
  kubernetes/apps/default/ledfx/app/kustomization.yaml
  kubernetes/apps/default/ledfx/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/pvc.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat: move volsync
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
  kubernetes/apps/default/ledfx/app/kustomization.yaml
  kubernetes/apps/default/ledfx/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/pvc.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/helmrelease.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.75
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.75
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

run as 0
  kubernetes/apps/default/unifi/app/volsync.yaml
Labels: area/kubernetes

run as 0
  kubernetes/apps/default/unifi/app/volsync.yaml
Labels: area/kubernetes

fix
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yml
  kubernetes/apps/default/unifi/app/volsync.yaml
Labels: area/kubernetes

fix
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yml
  kubernetes/apps/default/unifi/app/volsync.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.11.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.11.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.52
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/paperless/app/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/paperless/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.52
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.52
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.76
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set-controller docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.76
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/mchestr/ledfx docker tag to v2.0.76
  kubernetes/apps/default/ledfx/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set-controller docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set-controller docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update gha-runner-scale-set docker tag to v0.7.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 42ed702
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 42ed702
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update dependency siderolabs/talos to v1.5.5
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/talos to v1.5.5
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat(github-release): update dependency budimanjojo/talhelper to v1.15.0
  .taskfiles/TalosTasks.yml
Labels: none

feat: lets try r2
  kubernetes/apps/default/appdaemon/app/volsync.yaml
Labels: area/kubernetes

feat: lets try r2
  kubernetes/apps/default/appdaemon/app/volsync.yaml
Labels: area/kubernetes

feat: cloudflare r2 seems to work nice
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/ledfx/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
  kubernetes/apps/volsync/volsync/README.md
Labels: area/kubernetes

feat: cloudflare r2 seems to work nice
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/ledfx/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
  kubernetes/apps/volsync/volsync/README.md
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
