Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix: add homepage flux
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix: add homepage flux
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix: add homepage flux
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update rook-ceph group to v1.13.0
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: add flux gatus
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

feat: add flux gatus
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

feat: add flux gatus
  kubernetes/apps/flux-system/weave-gitops/app/gatus.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
Labels: area/kubernetes

feat: suc for k8s
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: suc for k8s
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: suc for k8s
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: remove k8s upgrade script, done by nuc now
  .taskfiles/TalosTasks.yml
Labels: none

fix: remove k8s upgrade script, done by nuc now
  .taskfiles/TalosTasks.yml
Labels: none

fix: remove k8s upgrade script, done by nuc now
  .taskfiles/TalosTasks.yml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
