Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

fix: remove annotation
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes

fix: remove annotation
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
Labels: area/kubernetes

fix(container): update kube-prometheus-stack docker tag to v55.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kubelet-csr-approver to v1.0.6
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.6
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.6
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.6
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(container): update kube-prometheus-stack docker tag to v55.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update kube-prometheus-stack docker tag to v55.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update kube-prometheus-stack docker tag to v55.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.9.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.740
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.740
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.740
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v2.2.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v2.2.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v2.2.1
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to b0ce43a
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to b0ce43a
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to b0ce43a
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.2.4
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.9.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.9.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.9.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(github-action): update micalevisk/last-issue-action action to v2.3.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(github-release): update dependency louislam/uptime-kuma to v1.23.11
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.746
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.746
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.746
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.0.4178
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.0.4178
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.0.4178
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: rejig localpath to be worker only
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: rejig localpath to be worker only
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: rejig localpath to be worker only
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: remake cluster
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes
