Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

Revert "feat(github-release): update dependency siderolabs/kubelet to v1.27.1"
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

Revert "feat(github-release): update dependency siderolabs/kubelet to v1.27.1"
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

Revert "fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3217"
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
Labels: none

Revert "fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3217"
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
Labels: none

Revert "feat(github-release): update dependency siderolabs/talos to v1.4.0"
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

Revert "feat(github-release): update dependency siderolabs/talos to v1.4.0"
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

Revert "Revert "fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3217""
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
Labels: none

Revert "Revert "fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.3.3.3217""
  kubernetes/apps/default/prowlarr/app/helm-release.yaml
Labels: none

Revert "Revert "feat(github-release): update dependency siderolabs/talos to v1.4.0""
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

Revert "Revert "feat(github-release): update dependency siderolabs/talos to v1.4.0""
  .taskfiles/TalosTasks.yml
  talos/talconfig.yaml
Labels: none

fix: resume without wait
  .taskfiles/ClusterTasks.yml
Labels: none

fix: resume without wait
  .taskfiles/ClusterTasks.yml
Labels: none

bump
  kubernetes/apps/flux-system/tf-controller/app/helm-release.yaml
Labels: none

bump
  kubernetes/apps/flux-system/tf-controller/app/helm-release.yaml
Labels: none

bump
  kubernetes/flux/config/flux.yaml
Labels: none

bump
  kubernetes/flux/config/flux.yaml
Labels: none

fix limits
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: none

fix limits
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helm-release.yaml
Labels: none

fix terraform
  terraform/cloudflare/ruleset.tf
Labels: area/terraform

fix terraform
  terraform/cloudflare/ruleset.tf
Labels: area/terraform

fix rulesets
  terraform/cloudflare/ruleset.tf
Labels: area/terraform

fix rulesets
  terraform/cloudflare/ruleset.tf
Labels: area/terraform

use ghct
  kubernetes/apps/default/radicale/app/helm-release.yaml
Labels: none

use ghct
  kubernetes/apps/default/radicale/app/helm-release.yaml
Labels: none

add psc
  kubernetes/apps/default/radicale/app/helm-release.yaml
Labels: none

add psc
  kubernetes/apps/default/radicale/app/helm-release.yaml
Labels: none

fix: remove 4xx error codes
  kubernetes/apps/default/plex/app/helm-release.yaml
Labels: none

fix: remove 4xx error codes
  kubernetes/apps/default/plex/app/helm-release.yaml
Labels: none

feat: merge faster on *arr
  .github/renovate/autoMerge.json5
Labels: area/github

feat: merge faster on *arr
  .github/renovate/autoMerge.json5
Labels: area/github

update ansible for vyos
  ansible/inventory/group_vars/router/static-ips.yml
  ansible/playbooks/roles/adguard_home.router/handlers/main.yml
  ansible/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.service.j2
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/router-install.yml
Labels: area/ansible

update ansible for vyos
  ansible/inventory/group_vars/router/static-ips.yml
  ansible/playbooks/roles/adguard_home.router/handlers/main.yml
  ansible/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.service.j2
  ansible/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/router-install.yml
Labels: area/ansible

update ansible for vyos
  ansible/inventory/group_vars/router/adguard_home.yml
Labels: area/ansible

update ansible for vyos
  ansible/inventory/group_vars/router/adguard_home.yml
Labels: area/ansible

update ansible for vyos
  ansible/playbooks/roles/config.router/tasks/services.yml
Labels: area/ansible

update ansible for vyos
  ansible/playbooks/roles/config.router/tasks/services.yml
Labels: area/ansible

fix: reorder node upgrade
  .taskfiles/TalosTasks.yml
Labels: none

fix: reorder node upgrade
  .taskfiles/TalosTasks.yml
Labels: none

feat: remove adguard, add pikvm
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

feat: remove adguard, add pikvm
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
