Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

[README] update more
  README.md
Labels: none

feat(container): update helm values zwavejs/zwavejs2mqtt to v6.10.0
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(container): update helm values zwavejs/zwavejs2mqtt to v6.10.0
  cluster/apps/home/zwavejs2mqtt/helm-release.yaml
Labels: area/cluster

feat(container)!: Update dependency k8s.gcr.io/sig-storage/snapshot-controller to v6
  cluster/core/kube-system/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

feat(container)!: Update dependency k8s.gcr.io/sig-storage/snapshot-controller to v6
  cluster/core/kube-system/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/plex to v1.26.2.5797-5bd057d2b
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update helm values ghcr.io/k8s-at-home/plex to v1.26.2.5797-5bd057d2b
  cluster/apps/media/plex/helm-release.yaml
Labels: area/cluster

fix(container): update helm values esphome/esphome to v2022.5.1
  cluster/apps/home/esphome/helm-release.yaml
Labels: area/cluster

fix(container): update helm values esphome/esphome to v2022.5.1
  cluster/apps/home/esphome/helm-release.yaml
Labels: area/cluster

fix(github-release): update pre-commit hook k8s-at-home/sops-pre-commit to v2.1.1
  .pre-commit-config.yaml
Labels: none

fix(github-release): update pre-commit hook k8s-at-home/sops-pre-commit to v2.1.1
  .pre-commit-config.yaml
Labels: none

chore(github-action): update cloudflare proxied networks
  cluster/apps/networking/traefik/addons/middleware/cloudflare-only.yaml
Labels: area/cluster

chore(github-action): update cloudflare proxied networks
  cluster/apps/networking/traefik/addons/middleware/cloudflare-only.yaml
Labels: area/cluster

[Authentik] add depends on
  .taskfiles/ClusterTasks.yml
  cluster/apps/auth-system/authentik/helm-release.yaml
Labels: area/cluster

[Authentik] add depends on
  .taskfiles/ClusterTasks.yml
  cluster/apps/auth-system/authentik/helm-release.yaml
Labels: area/cluster

[Homer] fix link
  cluster/apps/home/homer/pages/links.yaml
Labels: area/cluster

[Homer] fix link
  cluster/apps/home/homer/pages/links.yaml
Labels: area/cluster

[Ansible] add 4th node :D
  provision/ansible/inventory/host_vars/k8s-3.sops.yml
  provision/ansible/inventory/hosts.yml
Labels: area/ansible

[Ansible] add 4th node :D
  provision/ansible/inventory/host_vars/k8s-3.sops.yml
  provision/ansible/inventory/hosts.yml
Labels: area/ansible

[Ansible] add command to install netaddr
  .taskfiles/AnsibleTasks.yml
Labels: none

[Ansible] add command to install netaddr
  .taskfiles/AnsibleTasks.yml
Labels: none

[HomeAssistant] remove backup nfs, rely on longhorn and git
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

[HomeAssistant] remove backup nfs, rely on longhorn and git
  cluster/apps/home/home-assistant/helm-release.yaml
Labels: area/cluster

[Minio] add minio helm release
  cluster/apps/database-system/kustomization.yaml
  cluster/apps/database-system/minio/helm-release.yaml
  cluster/apps/database-system/minio/kustomization.yaml
  cluster/apps/database-system/minio/persistent-volume-claim.yaml
  cluster/apps/database-system/minio/persistent-volume.yaml
  cluster/apps/database-system/minio/secret.sops.yaml
Labels: area/cluster

[Minio] add minio helm release
  cluster/apps/database-system/kustomization.yaml
  cluster/apps/database-system/minio/helm-release.yaml
  cluster/apps/database-system/minio/kustomization.yaml
  cluster/apps/database-system/minio/persistent-volume-claim.yaml
  cluster/apps/database-system/minio/persistent-volume.yaml
  cluster/apps/database-system/minio/secret.sops.yaml
Labels: area/cluster

[Minio] fix pv sc
  cluster/apps/database-system/minio/persistent-volume.yaml
Labels: area/cluster

[Minio] fix pv sc
  cluster/apps/database-system/minio/persistent-volume.yaml
Labels: area/cluster

[Minio] Add root user/pass to env
  cluster/apps/database-system/minio/helm-release.yaml
  cluster/apps/database-system/minio/secret.sops.yaml
Labels: area/cluster

[Minio] Add root user/pass to env
  cluster/apps/database-system/minio/helm-release.yaml
  cluster/apps/database-system/minio/secret.sops.yaml
Labels: area/cluster

[Thanos] add thanos for long term storage w/ minio
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/monitoring/thanos/dashboard/kustomization.yaml
  cluster/apps/monitoring/thanos/helm-release.yaml
  cluster/apps/monitoring/thanos/kustomization.yaml
  cluster/apps/monitoring/thanos/secret.sops.yaml
Labels: area/cluster

[Thanos] add thanos for long term storage w/ minio
  cluster/apps/monitoring/kustomization.yaml
  cluster/apps/monitoring/thanos/dashboard/kustomization.yaml
  cluster/apps/monitoring/thanos/helm-release.yaml
  cluster/apps/monitoring/thanos/kustomization.yaml
  cluster/apps/monitoring/thanos/secret.sops.yaml
Labels: area/cluster

[Terraform/Authentik] add minio oidc
  provision/terraform/authentik/.terraform.lock.hcl
  provision/terraform/authentik/applications.tf
  provision/terraform/authentik/customization.tf
  provision/terraform/authentik/secret.sops.yaml
Labels: area/terraform

[Terraform/Authentik] add minio oidc
  provision/terraform/authentik/.terraform.lock.hcl
  provision/terraform/authentik/applications.tf
  provision/terraform/authentik/customization.tf
  provision/terraform/authentik/secret.sops.yaml
Labels: area/terraform

[Minio] remove TODO, use odic instead
  cluster/apps/database-system/minio/helm-release.yaml
Labels: area/cluster

[Minio] remove TODO, use odic instead
  cluster/apps/database-system/minio/helm-release.yaml
Labels: area/cluster

[Thanos] it would help to add the kustomization too...
  cluster/apps/monitoring/thanos/kustomization.yaml
Labels: area/cluster

[Thanos] it would help to add the kustomization too...
  cluster/apps/monitoring/thanos/kustomization.yaml
Labels: area/cluster

[Prometheus] enable thanos
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

[Prometheus] enable thanos
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

[Thanos] add grafana datasource as default
  cluster/apps/monitoring/kube-prometheus-stack/datasource.yaml
  cluster/apps/monitoring/thanos/kustomization.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
