Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

Delete '
  '
Labels: none

Delete '
  '
Labels: none

Delete '
  '
Labels: none

fix: dns dont work if router ded
  talos/talconfig.yaml
Labels: area/talos

fix: dns dont work if router ded
  talos/talconfig.yaml
Labels: area/talos

fix: dns dont work if router ded
  talos/talconfig.yaml
Labels: area/talos

tweak
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

tweak
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

tweak
  kubernetes/apps/default/qbittorrent/app/externalsecret.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm)!: Update Helm release snapshot-controller to v4"
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm)!: Update Helm release snapshot-controller to v4"
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm)!: Update Helm release snapshot-controller to v4"
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

update
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

update
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

update
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: retrigger pvc
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

use default images
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

use default images
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

use default images
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: arg update
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: arg update
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: arg update
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release ingress-nginx to v4.12.0"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release ingress-nginx to v4.12.0"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release ingress-nginx to v4.12.0"
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: disaster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: disaster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: disaster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Update helmrelease.yaml
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

Update helmrelease.yaml
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

Update helmrelease.yaml
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

fix: remove unused
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

fix: remove unused
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

fix: remove unused
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

fix: upgrade some config snippets to make work
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes
