Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore: housekeeping
  ansible/inventory/group_vars/kubernetes/k3s.yml
  ansible/inventory/group_vars/kubernetes/kube-vip.yml
  ansible/inventory/group_vars/kubernetes/ubuntu.yml
  ansible/inventory/group_vars/master/k3s.yml
  ansible/inventory/group_vars/worker/k3s.yml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yml
Labels: area/ansible

chore: housekeeping
  ansible/inventory/group_vars/kubernetes/k3s.yml
  ansible/inventory/group_vars/kubernetes/kube-vip.yml
  ansible/inventory/group_vars/kubernetes/ubuntu.yml
  ansible/inventory/group_vars/master/k3s.yml
  ansible/inventory/group_vars/worker/k3s.yml
  ansible/inventory/host_vars/k8s-0.sops.yml
  ansible/inventory/host_vars/k8s-1.sops.yml
  ansible/inventory/host_vars/k8s-2.sops.yml
  ansible/inventory/host_vars/k8s-3.sops.yml
Labels: area/ansible

feat: re-add ss controller
  cluster/core/snapshot-controller/kustomization.yaml
  cluster/core/snapshot-controller/rbac-snapshot-controller.yaml
  cluster/core/snapshot-controller/setup-snashot-controller.yaml
Labels: area/cluster

feat: re-add ss controller
  cluster/core/snapshot-controller/kustomization.yaml
  cluster/core/snapshot-controller/rbac-snapshot-controller.yaml
  cluster/core/snapshot-controller/setup-snashot-controller.yaml
Labels: area/cluster

feat: re-add ss controller
  cluster/core/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

feat: re-add ss controller
  cluster/core/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

feat: remove
  cluster/core/kustomization.yaml
Labels: area/cluster

feat: remove
  cluster/core/kustomization.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/controller/helm-release.yaml
  cluster/apps/kube-system/snapshot-controller/controller/kustomization.yaml
  cluster/apps/kube-system/snapshot-controller/kustomization.yaml
  cluster/apps/kube-system/snapshot-controller/webhook/helm-relrease.yaml
  cluster/apps/kube-system/snapshot-controller/webhook/kustomization.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/piraeus-charts.yaml
  cluster/core/snapshot-controller/rbac-snapshot-controller.yaml
  cluster/core/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/controller/helm-release.yaml
  cluster/apps/kube-system/snapshot-controller/controller/kustomization.yaml
  cluster/apps/kube-system/snapshot-controller/kustomization.yaml
  cluster/apps/kube-system/snapshot-controller/webhook/helm-relrease.yaml
  cluster/apps/kube-system/snapshot-controller/webhook/kustomization.yaml
  cluster/base/flux-system/repositories/helm/kustomization.yaml
  cluster/base/flux-system/repositories/helm/piraeus-charts.yaml
  cluster/core/snapshot-controller/rbac-snapshot-controller.yaml
  cluster/core/snapshot-controller/setup-snapshot-controller.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/kustomization.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/webhook/helm-relrease.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/webhook/helm-relrease.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/webhook/helm-release.yaml
Labels: area/cluster

feat: use helm for snapshot controller
  cluster/apps/kube-system/snapshot-controller/webhook/helm-release.yaml
Labels: area/cluster

feat(volsync): lets give it a whirl x2
  cluster/apps/volsync/kustomization.yaml
  cluster/apps/volsync/snapscheduler/helm-release.yaml
  cluster/apps/volsync/snapscheduler/kustomization.yaml
  cluster/apps/volsync/snapscheduler/schedules.yaml
  cluster/apps/volsync/volsync/helm-release.yaml
  cluster/apps/volsync/volsync/kustomization.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/volsync.yaml
Labels: area/cluster

feat(volsync): lets give it a whirl x2
  cluster/apps/volsync/kustomization.yaml
  cluster/apps/volsync/snapscheduler/helm-release.yaml
  cluster/apps/volsync/snapscheduler/kustomization.yaml
  cluster/apps/volsync/snapscheduler/schedules.yaml
  cluster/apps/volsync/volsync/helm-release.yaml
  cluster/apps/volsync/volsync/kustomization.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/volsync.yaml
Labels: area/cluster

fix: add volsync to kustomize... always forget
  cluster/apps/kustomization.yaml
Labels: area/cluster

fix: add volsync to kustomize... always forget
  cluster/apps/kustomization.yaml
Labels: area/cluster

fix: one of these days ill add a chart with no fixes needed...
  cluster/apps/volsync/snapscheduler/schedules.yaml
  cluster/apps/volsync/volsync/helm-release.yaml
Labels: area/cluster

fix: one of these days ill add a chart with no fixes needed...
  cluster/apps/volsync/snapscheduler/schedules.yaml
  cluster/apps/volsync/volsync/helm-release.yaml
Labels: area/cluster

fix: one of these days ill add a chart with no fixes needed...
  cluster/apps/volsync/snapscheduler/schedules.yaml
Labels: area/cluster

fix: one of these days ill add a chart with no fixes needed...
  cluster/apps/volsync/snapscheduler/schedules.yaml
Labels: area/cluster

feat(vaultwarden): add volsync backup
  cluster/apps/auth-system/vaultwarden/kustomization.yaml
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
  cluster/apps/auth-system/vaultwarden/secret.sops.yaml
Labels: area/cluster

feat(vaultwarden): add volsync backup
  cluster/apps/auth-system/vaultwarden/kustomization.yaml
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
  cluster/apps/auth-system/vaultwarden/secret.sops.yaml
Labels: area/cluster

feat(vaultwarden): add volsync backup
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
Labels: area/cluster

feat(vaultwarden): add volsync backup
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
Labels: area/cluster

feat(vaultwarden): fix schedule
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
Labels: area/cluster

feat(vaultwarden): fix schedule
  cluster/apps/auth-system/vaultwarden/replication-source.yaml
Labels: area/cluster

feat(home-assistant): enable volsync
  cluster/apps/home/home-assistant/kustomization.yaml
  cluster/apps/home/home-assistant/replication-source.yaml
  cluster/apps/home/home-assistant/secret.sops.yaml
Labels: area/cluster

feat(volsync): add volsync tasks
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  Taskfile.yml
Labels: none

feat(appdaemon): enable volsync
  cluster/apps/home/appdaemon/kustomization.yaml
  cluster/apps/home/appdaemon/replication-source.yaml
  cluster/apps/home/appdaemon/secret.sops.yaml
Labels: area/cluster

feat(esphome): enable volsync
  cluster/apps/home/esphome/kustomization.yaml
  cluster/apps/home/esphome/replication-source.yaml
  cluster/apps/home/esphome/secret.sops.yaml
Labels: area/cluster

feat(esphome): enable volsync
  cluster/apps/home/esphome/kustomization.yaml
  cluster/apps/home/esphome/replication-source.yaml
  cluster/apps/home/esphome/secret.sops.yaml
Labels: area/cluster

feat(appdaemon): enable volsync
  cluster/apps/home/appdaemon/kustomization.yaml
  cluster/apps/home/appdaemon/replication-source.yaml
  cluster/apps/home/appdaemon/secret.sops.yaml
Labels: area/cluster

feat(home-assistant): enable volsync
  cluster/apps/home/home-assistant/kustomization.yaml
  cluster/apps/home/home-assistant/replication-source.yaml
  cluster/apps/home/home-assistant/secret.sops.yaml
Labels: area/cluster

feat(volsync): add volsync tasks
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  Taskfile.yml
Labels: none

feat(radicale): enable volsync
  cluster/apps/home/radicale/kustomization.yaml
  cluster/apps/home/radicale/replication-source.yaml
  cluster/apps/home/radicale/secret.sops.yaml
Labels: area/cluster

feat(radicale): enable volsync
  cluster/apps/home/radicale/kustomization.yaml
  cluster/apps/home/radicale/replication-source.yaml
  cluster/apps/home/radicale/secret.sops.yaml
Labels: area/cluster
