Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v4.7.5.7809
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.625
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.625
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.308.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3866
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3866
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.308.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.308.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.77.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.77.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.12.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.12.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat: add miniflux
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/apps/default/miniflux/app/gatus.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/kustomization.yaml
  kubernetes/apps/default/miniflux/ks.yaml
Labels: area/kubernetes

feat: add miniflux
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/apps/default/miniflux/app/gatus.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/kustomization.yaml
  kubernetes/apps/default/miniflux/ks.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.11.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.11.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency community.general to v7.3.0
  ansible/requirements.yml
Labels: area/ansible

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3867
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3867
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release external-secrets to v0.9.3
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.73.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.78.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update redis docker tag to v17.15.4
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/mchestr/vector docker tag to v0.32.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/typesense/typesense docker tag to v0.25.0
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.24.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.2
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.24.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.24.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/typesense/typesense docker tag to v0.25.0
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/typesense/typesense docker tag to v0.25.0
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
