Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

[Readarr] bump pvc size
  cluster/apps/media/readarr/helm-release.yaml
Labels: area/cluster

[Readarr] bump pvc size
  cluster/apps/media/readarr/helm-release.yaml
Labels: area/cluster

[traefik] Use dockerhub for image
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

[traefik] Use dockerhub for image
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

[traefik] Use dockerhub for image
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

[traefik] Use dockerhub for image
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

[traefik] Update replicas
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

[traefik] Update replicas
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Revert "feat(github-release): update dependency fluxcd/flux2 to v0.34.0"
  cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

Revert "feat(github-release): update dependency fluxcd/flux2 to v0.34.0"
  cluster/base/flux-system/gotk-components.yaml
Labels: area/cluster

bump crds
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

bump crds
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

Revert "feat(helm)!: Update Helm release loki to v3"
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

Revert "feat(helm)!: Update Helm release loki to v3"
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

remove weaveworks due to failures
  cluster/base/flux-system/charts/helm/kustomization.yaml
  cluster/base/flux-system/charts/helm/weaveworks-kured-charts.yaml
Labels: area/cluster

remove weaveworks due to failures
  cluster/base/flux-system/charts/helm/kustomization.yaml
  cluster/base/flux-system/charts/helm/weaveworks-kured-charts.yaml
Labels: area/cluster

rollback some stuff
  cluster/apps/networking/traefik/helm-release.yaml
  provision/ansible/requirements.yml
Labels: area/ansible, area/cluster

rollback some stuff
  cluster/apps/networking/traefik/helm-release.yaml
  provision/ansible/requirements.yml
Labels: area/ansible, area/cluster

Re-apply traefik upgrade
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Re-apply traefik upgrade
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

enable rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

enable rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

enable rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

enable rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Add reconcile to manually trigger update
  .taskfiles/ClusterTasks.yml
Labels: none

Add reconcile to manually trigger update
  .taskfiles/ClusterTasks.yml
Labels: none

Revert "enable rollback"
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Revert "enable rollback"
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Revert "enable rollback"
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

Revert "enable rollback"
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

add rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

add rollback
  cluster/apps/networking/traefik/helm-release.yaml
Labels: area/cluster

bump
  .taskfiles/ClusterTasks.yml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

bump
  .taskfiles/ClusterTasks.yml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

[Vector-Agent] update
  cluster/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/cluster

[Vector-Agent] update
  cluster/apps/monitoring/vector/agent/helm-release.yaml
Labels: area/cluster

bump loki interval
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

bump loki interval
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

update CRDS
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

update CRDS
  cluster/crds/kube-prometheus-stack/crds.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
