Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.1.3967
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.676
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.676
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.83.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(github-action): update tj-actions/changed-files action to v39.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v39.1.0
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update grafana/grafana docker tag to v10.1.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.18
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.1.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update grafana/grafana docker tag to v10.1.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.83.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.83.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/onedr0p/postgres-init docker tag to v14.9
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.2
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.23.2
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.18
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.18
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat: add lldap dep
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat: add lldap dep
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.2
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(github-release): update dependency siderolabs/kubelet to v1.28.2
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

Revert "feat(helm): update external snapshotter group"
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update external snapshotter group"
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

feat: rename volsync ks
  kubernetes/apps/default/appdaemon/ks.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/unifi/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
Labels: area/kubernetes

feat: rename volsync ks
  kubernetes/apps/default/appdaemon/ks.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/unifi/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
Labels: area/kubernetes

feat: fixup ks deps
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/shlink/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes

feat: fixup ks deps
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/autobrr/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/shlink/ks.yaml
  kubernetes/apps/monitoring/gatus/ks.yaml
Labels: area/kubernetes

feat(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/webhook/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kubelet-csr-approver to v1.0.5
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/talos

chore(container): update ghcr.io/wizarrrr/wizarr:dev docker digest to fc8391b
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/wizarrrr/wizarr:dev docker digest to fc8391b
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.1.3972
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.1.3972
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.682
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.682
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency fluxcd/flux2 to v2.1.1
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
