Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix: add volume template processing
  hack/app-template-upgrade.py
Labels: area/hack

fix: add volume template processing
  hack/app-template-upgrade.py
Labels: area/hack

fix: max split once
  hack/app-template-upgrade.py
Labels: area/hack

fix: max split once
  hack/app-template-upgrade.py
Labels: area/hack

fix: max split once
  hack/app-template-upgrade.py
Labels: area/hack

feat(mosquitto): upgrade app-template
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(mosquitto): upgrade app-template
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(mosquitto): upgrade app-template
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix: replace file contents as its quicker
  hack/app-template-upgrade.py
Labels: area/hack

fix: replace file contents as its quicker
  hack/app-template-upgrade.py
Labels: area/hack

fix: replace file contents as its quicker
  hack/app-template-upgrade.py
Labels: area/hack

feat(zwave-js-ui): upgrade app-template
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat(zwave-js-ui): upgrade app-template
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat(zwave-js-ui): upgrade app-template
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat(thelounge): upgrade app-template
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat(thelounge): upgrade app-template
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat(thelounge): upgrade app-template
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

fix: handle commands
  hack/app-template-upgrade.py
Labels: area/hack

fix: handle commands
  hack/app-template-upgrade.py
Labels: area/hack

fix: handle commands
  hack/app-template-upgrade.py
Labels: area/hack

feat(postgres-backups): upgrade app-template
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/kubernetes

feat(postgres-backups): upgrade app-template
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/kubernetes

feat(postgres-backups): upgrade app-template
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/kubernetes

fix: put in right spot
  hack/app-template-upgrade.py
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/hack, area/kubernetes

fix: put in right spot
  hack/app-template-upgrade.py
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/hack, area/kubernetes

fix: put in right spot
  hack/app-template-upgrade.py
  kubernetes/apps/default/cloudnative-pg/postgres-backups/helmrelease.yaml
Labels: area/hack, area/kubernetes

feat(smtp-relay): upgrade app-template
  kubernetes/apps/default/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

feat(smtp-relay): upgrade app-template
  kubernetes/apps/default/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

feat(smtp-relay): upgrade app-template
  kubernetes/apps/default/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): upgrade app-template
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): upgrade app-template
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): upgrade app-template
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(homepage): upgrade app-template
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(homepage): upgrade app-template
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(homepage): upgrade app-template
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/benphelps/homepage docker tag to v0.7.1
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix: make script more flexible, add yeet option
  hack/app-template-upgrade.py
Labels: area/hack

fix: make script more flexible, add yeet option
  hack/app-template-upgrade.py
Labels: area/hack

fix: make script more flexible, add yeet option
  hack/app-template-upgrade.py
Labels: area/hack

fix: add yeet option, skip on error
  hack/app-template-upgrade.py
Labels: area/hack
