Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: stagger volsync backup times
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/esphome/ks.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/maintainerr/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/radarr/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/sonarr/ks.yaml
  kubernetes/apps/default/tautulli/ks.yaml
  kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/unifi/ks.yaml
  kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

fix: coredns oci
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
Labels: area/kubernetes

fix: coredns oci
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
Labels: area/kubernetes

fix: coredns oci
  kubernetes/flux/meta/repositories/helm/coredns-charts.yaml
Labels: area/kubernetes

fix: external dns oci
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
Labels: area/kubernetes

fix: external dns oci
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
Labels: area/kubernetes

fix: external dns oci
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
Labels: area/kubernetes

fix: stakater oci
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
Labels: area/kubernetes

fix: stakater oci
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
Labels: area/kubernetes

fix: stakater oci
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
Labels: area/kubernetes

fix: minor tweaks
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: minor tweaks
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: minor tweaks
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix: remove -r2 suffix, add docs, add snapshot
  .taskfiles/VolSync/Taskfile.yml
  docs/src/SUMMARY.md
  docs/src/notes/bootstrap.md
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: remove -r2 suffix, add docs, add snapshot
  .taskfiles/VolSync/Taskfile.yml
  docs/src/SUMMARY.md
  docs/src/notes/bootstrap.md
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: remove -r2 suffix, add docs, add snapshot
  .taskfiles/VolSync/Taskfile.yml
  docs/src/SUMMARY.md
  docs/src/notes/bootstrap.md
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

rename
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: area/taskfile

rename
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: area/taskfile

rename
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
Labels: area/taskfile

fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.tmpl.yaml
  .taskfiles/volsync/templates/replicationdestination.tmpl.yaml
  .taskfiles/volsync/templates/unlock.tmpl.yaml
  .taskfiles/volsync/templates/wipe.tmpl.yaml
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fixup! fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

fixup! fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

fixup! fix: update scripts
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
Labels: area/taskfile

fix: script tweaks
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.yaml.j2
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: script tweaks
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.yaml.j2
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: script tweaks
  .taskfiles/VolSync/Taskfile.yml
  .taskfiles/volsync/Taskfile.yml
  .taskfiles/volsync/templates/list.yaml.j2
  .taskfiles/volsync/templates/replicationdestination.yaml.j2
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: script tweaks
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/templates/list.yaml.j2
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: script tweaks
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/templates/list.yaml.j2
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

fix: script tweaks
  .taskfiles/_scripts/wait-for-k8s-job.sh
  .taskfiles/volsync/templates/list.yaml.j2
  kubernetes/flux/components/volsync/r2/externalsecret.yaml
  kubernetes/flux/components/volsync/r2/replicationdestination.yaml
  kubernetes/flux/components/volsync/r2/replicationsource.yaml
Labels: area/kubernetes, area/taskfile

Delete .taskfiles/VolSync directory
  .taskfiles/VolSync/Taskfile.yml
Labels: area/taskfile

Delete .taskfiles/VolSync directory
  .taskfiles/VolSync/Taskfile.yml
Labels: area/taskfile

Delete .taskfiles/VolSync directory
  .taskfiles/VolSync/Taskfile.yml
Labels: area/taskfile

fix: more scripts
  .taskfiles/kubernetes/Taskfile.yml
Labels: area/taskfile

fix: more scripts
  .taskfiles/kubernetes/Taskfile.yml
Labels: area/taskfile

fix: more scripts
  .taskfiles/kubernetes/Taskfile.yml
Labels: area/taskfile

feat: add talos link to doc
  docs/src/notes/bootstrap.md
Labels: none

feat: add talos link to doc
  docs/src/notes/bootstrap.md
Labels: none

feat: add talos link to doc
  docs/src/notes/bootstrap.md
Labels: none
