Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

feat(container): update ghcr.io/koenkk/zigbee2mqtt docker tag to v1.35.0
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency community.general to v8.2.0
  ansible/requirements.yml
Labels: area/ansible

fix: remove typesense ref
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

fix: remove typesense ref
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

fix: remove typesense ref
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
Labels: area/kubernetes

fix: remove waiting for immich ks
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

fix: remove waiting for immich ks
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

fix: remove waiting for immich ks
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

feat: good to have multiple backups...
  .taskfiles/Repo/Tasks.yml
  kubernetes/apps/default/cloudnative-pg/ks.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: good to have multiple backups...
  .taskfiles/Repo/Tasks.yml
  kubernetes/apps/default/cloudnative-pg/ks.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: good to have multiple backups...
  .taskfiles/Repo/Tasks.yml
  kubernetes/apps/default/cloudnative-pg/ks.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/externalsecret.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/cloudnative-pg/postgres-backup/kustomization.yaml
Labels: area/kubernetes, area/taskfile

chore(deps): update dependency helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

feat(container): update app-template docker tag to v2.4.0
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

feat: immich pub
  kubernetes/apps/default/immich/app/server/gatus.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: immich pub
  kubernetes/apps/default/immich/app/server/gatus.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat: immich pub
  kubernetes/apps/default/immich/app/server/gatus.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

feat(container): update app-template docker tag to v2.4.0
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

feat(container): update app-template docker tag to v2.4.0
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

feat(container): update app-template docker tag to v2.4.0
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.11
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.23.11
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.23.11
  terraform/google-cloud/variables.tf
Labels: area/terraform

chore(deps): update dependency helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update dependency helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update dependency helmrelease to helm.toolkit.fluxcd.io/v2beta2
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency community.general to v8.2.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency community.general to v8.2.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency community.general to v8.2.0
  ansible/requirements.yml
Labels: area/ansible

fix: add backup for immich
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix: add backup for immich
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix: add backup for immich
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix: increase warn threshold to 15
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: increase warn threshold to 15
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: increase warn threshold to 15
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: fix name unique
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix: fix name unique
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix: fix name unique
  kubernetes/apps/default/cloudnative-pg/cluster/scheduled-backup.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.749
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.749
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.749
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
