Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

fix(github-action): update allenporter/flux-local action to v4.1.1
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.3
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.3
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.12.3
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.6.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix: update wf?
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update wf?
  .github/workflows/flux-diff.yaml
Labels: area/github

fix: update wf?
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin allenporter/flux-local action to fbbc4c3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(container): update gha-runner-scale-set docker tag to v0.8.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.8.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/goofball222/unifi docker tag to v8.0.24
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/siderolabs/talosctl docker tag to v1.6.1
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.20.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/talos to v1.6.1
  .taskfiles/TalosTasks.yml
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, area/talos

fix(helm): update helm release kubelet-csr-approver to v1.0.6
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  talos/kubelet-csr-approver/kustomization.yaml
Labels: area/kubernetes, area/talos

feat(container): update docker.io/rancher/kubectl docker tag to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.20.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release ingress-nginx to v4.9.0
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.15.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): pin allenporter/flux-local action to fbbc4c3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin allenporter/flux-local action to fbbc4c3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin allenporter/flux-local action to fbbc4c3
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(deps): pin dependencies
  .github/workflows/flux-diff.yaml
Labels: area/github

feat(helm): update helm release node-feature-discovery to v0.15.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.15.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.15.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.8.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.8.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update gha-runner-scale-set-controller docker tag to v0.8.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.20.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.20.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cloudnative-pg to v0.20.0
  kubernetes/apps/default/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/goofball222/unifi docker tag to v8.0.24
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/goofball222/unifi docker tag to v8.0.24
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes
