Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: try make work
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix: try make work
  kubernetes/apps/default/unifi/app/helmrelease.yaml
Labels: area/kubernetes

fix: no wonder this doesnt work
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: no wonder this doesnt work
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: no wonder this doesnt work
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

try something
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

try something
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

try something
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix: nuke and pave
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

fix: nuke and pave
  kubernetes/apps/default/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

Add stargazers cause why not
  README.md
Labels: none

Add stargazers cause why not
  README.md
Labels: none

Add stargazers cause why not
  README.md
Labels: none

Remove uptime-kuma not used and costs me money
  .taskfiles/TerraformTasks.yml
  README.md
  ansible/playbooks/roles/config.router/tasks/dns.yml
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/kubernetes, area/taskfile, area/terraform

Remove uptime-kuma not used and costs me money
  .taskfiles/TerraformTasks.yml
  README.md
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/ping.sh.j2
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/wg-ping.sh.j2
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/kubernetes, area/taskfile, area/terraform

Remove uptime-kuma not used and costs me money
  .taskfiles/TerraformTasks.yml
  README.md
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/ping.sh.j2
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/wg-ping.sh.j2
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/kubernetes, area/taskfile, area/terraform

Remove uptime-kuma not used and costs me money
  .taskfiles/TerraformTasks.yml
  README.md
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/ping.sh.j2
  ansible/playbooks/roles/uptime-kuma-ping.router/templates/wg-ping.sh.j2
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/google-cloud/terraform.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/compute.tf
  terraform/google-cloud/main.tf
  terraform/google-cloud/tunnel.tf
  terraform/google-cloud/variables.tf
Labels: area/ansible, area/kubernetes, area/taskfile, area/terraform

fix: update auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: add netpol frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

feat: add netpol frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

feat: add netpol frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fixup! fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fixup! fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fixup! fix: update netpols
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat: add hass netpol
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat: add hass netpol
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat: add hass netpol
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: use tautulli ghcr
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/pvc.yaml
Labels: area/kubernetes

fix: use tautulli ghcr
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/pvc.yaml
Labels: area/kubernetes

fix: use tautulli ghcr
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/pvc.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release loki to v6.7.2"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release loki to v6.7.2"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release loki to v6.7.2"
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: no wait
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

fix: no wait
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
