Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

add probes
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

env time
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

chore: migration over
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/components/cnpg/cronjob.yaml
Labels: area/kubernetes

add www
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

try pickup beta versions
  .github/renovate/allowedVersions.json5
Labels: area/github

fix renovate
  .github/renovate/allowedVersions.json5
Labels: area/github

configure genai
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

prolly need this
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

detect on
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

Add some masks and zones
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix package zone
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

add inertia
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

remove radarr-4k
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

gatus 404
  kubernetes/apps/default/saidcompany/ks.yaml
Labels: area/kubernetes

Remove legacy gatus stuff
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/radicale/ks.yaml
  kubernetes/apps/default/saidcompany/app/helmrelease.yaml
  kubernetes/apps/default/saidcompany/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/plex/ks.yaml
  kubernetes/apps/networking/echo-server/ks.yaml
  kubernetes/apps/observability/kromgo/ks.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/guarded/config.yaml
  kubernetes/components/gatus/guarded/kustomization.yaml
Labels: area/kubernetes

update threshold
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

add www redirect
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

Add homerp backup
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

Try and prune some images
  talos/controlplane.yaml
Labels: area/talos

fix: add httproute
  kubernetes/apps/flux-system/flux-operator/app/httproute.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/resources/values.yaml
Labels: area/kubernetes

bump
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

Add some docs
  docs/src/SUMMARY.md
  docs/src/introduction.md
  docs/src/notes/application-deployment.md
  docs/src/notes/bootstrap.md
  docs/src/notes/disaster-recovery.md
  docs/src/notes/networking.md
  docs/src/notes/node-management.md
  docs/src/notes/observability.md
  docs/src/notes/secrets-management.md
  docs/src/notes/storage-operations.md
  docs/src/notes/troubleshooting.md
  docs/src/notes/upgrade-procedures.md
  docs/src/notes/workstation-setup.md
Labels: none

docs: add mermaid network diagrams
  docs/src/notes/networking.md
Labels: none

fix email
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

not used
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

add github
  kubernetes/apps/default/homerp/app/externalsecret.yaml
Labels: area/kubernetes

bump capacity
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes

Add jellyseerr for jellyfin testing
  kubernetes/apps/media/jellyseerr-fin/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerr-fin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerr-fin/app/kustomization.yaml
  kubernetes/apps/media/jellyseerr-fin/app/pvc.yaml
  kubernetes/apps/media/jellyseerr-fin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Add play
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix ublish url
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix authelia
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

feat: add ersatztv
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/media/ersatztv/app/helmrelease.yaml
  kubernetes/apps/media/ersatztv/app/kustomization.yaml
  kubernetes/apps/media/ersatztv/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

idk
  talos/controlplane.yaml
Labels: area/talos

feat: more mems
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat: add pinchflat
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/pinchflat/app/helmrelease.yaml
  kubernetes/apps/media/pinchflat/app/kustomization.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
Labels: area/kubernetes

update renovate
  .github/renovate/autoMerge.json5
Labels: area/github

update to ocirepo
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
Labels: area/kubernetes

Update dragonfly
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

remove: nut stuff
  .taskfiles/kubernetes/Taskfile.yml
  .taskfiles/kubernetes/resources/nfs-debug-pod.yaml
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/nut-exporter/ks.yaml
  kubernetes/apps/observability/gatus/app/resources/config.yaml
  talos/controlplane.yaml
Labels: area/kubernetes, area/taskfile, area/talos

fix: try default route on mutlus
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes
