Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

fix: fix name
  kubernetes/apps/default/shlink/web/helm-release.yaml
Labels: none

chore: add laptop public key
  ansible/inventory/group_vars/router/wireguard.yml
Labels: area/ansible

fix: fix name
  kubernetes/apps/default/shlink/web/helm-release.yaml
Labels: none

chore: add laptop public key
  ansible/inventory/group_vars/router/wireguard.yml
Labels: area/ansible

fix: update pushover link
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

fix: update pushover link
  kubernetes/apps/default/hajimari/app/helm-release.yaml
Labels: none

fix: update names
  kubernetes/apps/default/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/default/zwave-js-ui/app/helm-release.yaml
Labels: none

fix: update names
  kubernetes/apps/default/zigbee2mqtt/app/helm-release.yaml
  kubernetes/apps/default/zwave-js-ui/app/helm-release.yaml
Labels: none

feat: add wordpress website for fam
  .github/workflows/build-terraform-oci.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/secret.sops.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/terraform.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/apps/web/namespace.yaml
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/pvc.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/terraform-cloudflare-oci.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/ruleset.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/github, area/terraform

feat: add wordpress website for fam
  .github/workflows/build-terraform-oci.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/secret.sops.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/cloudflare/terraform.yaml
  kubernetes/apps/web/kustomization.yaml
  kubernetes/apps/web/namespace.yaml
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/pvc.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
  kubernetes/apps/web/wordpress-0/ks.yaml
  kubernetes/flux/repositories/kustomization.yaml
  kubernetes/flux/repositories/oci/terraform-cloudflare-oci.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
  terraform/cloudflare/dns_records.tf
  terraform/cloudflare/main.tf
  terraform/cloudflare/ruleset.tf
  terraform/cloudflare/variables.tf
  terraform/cloudflare/zone_settings.tf
Labels: area/github, area/terraform

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
Labels: none

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/kustomization.yaml
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
Labels: none

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
Labels: none

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
  kubernetes/apps/web/wordpress-0/app/secret.sops.yaml
Labels: none

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

feat: add replication to cloud storage
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

fix: update talos path for files:https://www.talos.dev/v1.3/talos-guides/configuration/containerd/
  talos/talconfig.yaml
Labels: none

fix: update talos path for files:https://www.talos.dev/v1.3/talos-guides/configuration/containerd/
  talos/talconfig.yaml
Labels: none

fix: add www subdomain
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

fix: add www subdomain
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

fix: add www subdomain
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

fix: add www subdomain
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

fix: forgot to add new domain to external dns doh
  kubernetes/apps/kube-system/external-dns/app/helm-release.yaml
Labels: none

fix: forgot to add new domain to external dns doh
  kubernetes/apps/kube-system/external-dns/app/helm-release.yaml
Labels: none

chore: add haji annotations for wordpress
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

chore: add haji annotations for wordpress
  kubernetes/apps/web/wordpress-0/app/helm-release.yaml
Labels: none

fix: typo
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

fix: typo
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

fix: update secret name
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

fix: update secret name
  kubernetes/apps/web/wordpress-0/app/replication-source.yaml
Labels: none

feat: add gaps to test out
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/gaps/app/kustomization.yaml
  kubernetes/apps/default/gaps/app/pvc.yaml
  kubernetes/apps/default/gaps/app/replication-source.yaml
  kubernetes/apps/default/gaps/app/secret.sops.yaml
  kubernetes/apps/default/gaps/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: none

feat: add gaps to test out
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/gaps/app/kustomization.yaml
  kubernetes/apps/default/gaps/app/pvc.yaml
  kubernetes/apps/default/gaps/app/replication-source.yaml
  kubernetes/apps/default/gaps/app/secret.sops.yaml
  kubernetes/apps/default/gaps/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: none

Revert "feat: add gaps to test out"
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/gaps/app/kustomization.yaml
  kubernetes/apps/default/gaps/app/pvc.yaml
  kubernetes/apps/default/gaps/app/replication-source.yaml
  kubernetes/apps/default/gaps/app/secret.sops.yaml
  kubernetes/apps/default/gaps/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: none

Revert "feat: add gaps to test out"
  kubernetes/apps/default/gaps/app/helm-release.yaml
  kubernetes/apps/default/gaps/app/kustomization.yaml
  kubernetes/apps/default/gaps/app/pvc.yaml
  kubernetes/apps/default/gaps/app/replication-source.yaml
  kubernetes/apps/default/gaps/app/secret.sops.yaml
  kubernetes/apps/default/gaps/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: none

feat: add dyndns for wordpress domain updating
  ansible/inventory/host_vars/edgerouter.sops.yml
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

feat: add dyndns for wordpress domain updating
  ansible/inventory/host_vars/edgerouter.sops.yml
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

fix: remove toolbox, not used
  .taskfiles/RookTasks.yml
Labels: none

fix: remove toolbox, not used
  .taskfiles/RookTasks.yml
Labels: none

fix: update mac
  ansible/inventory/group_vars/router/static-ips.yml
Labels: area/ansible

fix: update mac
  ansible/inventory/group_vars/router/static-ips.yml
Labels: area/ansible

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
