Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix: try again
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

fix: try again
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

fix: try again
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.16.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.16.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.16.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.16.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(container)!: Update ghcr.io/paperless-ngx/paperless-ngx Docker tag to v2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/paperless-ngx/paperless-ngx Docker tag to v2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/paperless-ngx/paperless-ngx Docker tag to v2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.20.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.20.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to v4.20.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.3
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.3
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/kiwigrid/k8s-sidecar docker tag to v1.25.3
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.4
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.4
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.4
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4124
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4124
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4124
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: make work
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: make work
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: make work
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix mask
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix mask
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix mask
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix(container): update spegel docker tag to v0.0.16
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release descheduler to v0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform onepassword to v1.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

track bike
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

track bike
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
