Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

fix(helm): update windmill ( 4.0.258 → 4.0.267 )
  kubernetes/apps/default/windmill/app/helmrelease.yaml
Labels: area/kubernetes

fix(networking): migrate external-dns annotations to external-dns.kubernetes.io prefix
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/dnsendpoint.yaml
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
Labels: area/kubernetes

feat(mqtt): replace EMQX with Mosquitto
  docs/src/notes/networking.md
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/grafanadashboard.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/cluster/cluster.yaml
  kubernetes/apps/default/emqx/cluster/httproute.yaml
  kubernetes/apps/default/emqx/cluster/kustomization.yaml
  kubernetes/apps/default/emqx/cluster/podmonitor.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/govee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/govee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/govee2mqtt/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/apps/default/mosquitto/ks.yaml
  kubernetes/apps/default/teslamate/app/externalsecret.yaml
  kubernetes/apps/default/teslamate/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/flux/meta/repositories/helm/emqx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(renovate): automerge minor/patch by default with core-infra denylist
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore(renovate): automerge minor/patch by default with core-infra denylist
  .github/renovate/autoMerge.json5
  .github/workflows/renovate.yaml
Labels: area/github

fix(rook-ceph): rotate cephx daemon keys for CVE-2025-30156
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(smartctl-exporter): stop noisy SSD temperature alerts
  kubernetes/apps/observability/exporters/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

feat(apps): add HTTP health probes so failed upgrades are detected
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(apps): add HTTP health probes so failed upgrades are detected
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(flux): keep chart CRDs current and stop litellm-operator OOMs
  CLAUDE.md
  kubernetes/apps/ai/litellm-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix(flux): keep chart CRDs current and stop litellm-operator OOMs
  CLAUDE.md
  kubernetes/apps/ai/litellm-operator/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

ci: test Flux manifests before merge and make Renovate wait for it
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/grafanaDashboards.json5
  .github/workflows/flux-local.yaml
Labels: area/github

ci: test Flux manifests before merge and make Renovate wait for it
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/grafanaDashboards.json5
  .github/workflows/flux-local.yaml
Labels: area/github

fix(home-assistant): move code-server to envoy-internal only
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(home-assistant): remove code-server sidecar
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(authelia): require PKCE, relax liveness, add alerts
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/authelia/app/prometheusrule.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/paperless/app/externalsecret.yaml
Labels: area/kubernetes

docs: refresh agent guidance and README
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
Labels: none

docs: update upgrade and networking notes
  AGENTS.md
  docs/src/notes/networking.md
  docs/src/notes/upgrade-procedures.md
Labels: none

docs: update upgrade and networking notes
  AGENTS.md
  docs/src/notes/networking.md
  docs/src/notes/upgrade-procedures.md
Labels: none

docs: refresh agent guidance and README
  .gitignore
  AGENTS.md
  CLAUDE.md
  README.md
Labels: none

ci: assess Renovate update risk with Claude before automerge
  .github/renovate-risk/prompt.md
  .github/renovate-risk/schema.json
  .github/renovate/customManagers.json5
  .github/workflows/flux-local.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: run the risk assessment on hand-written PRs too
  .github/renovate-risk/prompt.md
  .github/renovate-risk/pull-request.md
  .github/workflows/flux-local.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: omit the package table when a change has no version bumps
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: make the risk assessment comment easier to scan
  .github/renovate-risk/prompt.md
  .github/renovate-risk/report.jq
  .github/renovate-risk/schema.json
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: require evidence for problems the risk assessment reports
  .github/renovate-risk/prompt.md
Labels: area/github

ci: make the risk assessment comment easier to scan
  .github/renovate-risk/prompt.md
  .github/renovate-risk/report.jq
  .github/renovate-risk/schema.json
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: require evidence for problems the risk assessment reports
  .github/renovate-risk/prompt.md
Labels: area/github

ci: omit the package table when a change has no version bumps
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: assess Renovate update risk with Claude before automerge
  .github/renovate-risk/prompt.md
  .github/renovate-risk/schema.json
  .github/renovate/customManagers.json5
  .github/workflows/flux-local.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: run the risk assessment on hand-written PRs too
  .github/renovate-risk/prompt.md
  .github/renovate-risk/pull-request.md
  .github/workflows/flux-local.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: send a daily merge digest and alert on blocked updates
  .github/renovate-risk/digest.sh
  .github/workflows/merge-digest.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

ci: send a daily merge digest and alert on blocked updates
  .github/renovate-risk/digest.sh
  .github/workflows/merge-digest.yaml
  .github/workflows/renovate-risk.yaml
Labels: area/github

feat(openclaw): offer the newly allowed OpenAI models
  kubernetes/apps/ai/openclaw/app/configmap.yaml
Labels: area/kubernetes

feat(openclaw): offer the newly allowed OpenAI models
  kubernetes/apps/ai/openclaw/app/configmap.yaml
Labels: area/kubernetes

chore(openclaw): remove the alert-adapter auto-triage
  kubernetes/apps/ai/openclaw/app/alert-adapter.yaml
  kubernetes/apps/ai/openclaw/app/configmap.yaml
  kubernetes/apps/ai/openclaw/app/externalsecret.yaml
  kubernetes/apps/ai/openclaw/app/helmrelease.yaml
  kubernetes/apps/ai/openclaw/app/kustomization.yaml
  kubernetes/apps/ai/openclaw/app/networkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

chore(openclaw): remove the alert-adapter auto-triage
  kubernetes/apps/ai/openclaw/app/alert-adapter.yaml
  kubernetes/apps/ai/openclaw/app/configmap.yaml
  kubernetes/apps/ai/openclaw/app/externalsecret.yaml
  kubernetes/apps/ai/openclaw/app/helmrelease.yaml
  kubernetes/apps/ai/openclaw/app/kustomization.yaml
  kubernetes/apps/ai/openclaw/app/networkpolicy.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/alertmanagerconfig.yaml
Labels: area/kubernetes

feat(openclaw): cap the OpenAI context window to stay under TPM limits
  kubernetes/apps/ai/openclaw/app/configmap.yaml
Labels: area/kubernetes

feat(openclaw): cap the OpenAI context window to stay under TPM limits
  kubernetes/apps/ai/openclaw/app/configmap.yaml
Labels: area/kubernetes

chore(frigate): remove catcam
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat(envoy-gateway): serve a friendly page for 502/503/504
  kubernetes/apps/networking/envoy-gateway/app/envoy.yaml
  kubernetes/apps/networking/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/networking/envoy-gateway/app/resources/error-page.html
Labels: area/kubernetes
