Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.5.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v9.5.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.8
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4128
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4128
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4128
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.8.4
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/autobrr/app/config/config.toml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/autobrr/app/config/config.toml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/autobrr/app/config/config.toml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.8.4
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.8.4
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.8.4
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.8
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.23.8
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency louislam/uptime-kuma to v1.23.8
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency budimanjojo/talhelper to v1.16.1
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.16.1
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.16.1
  .taskfiles/TalosTasks.yml
Labels: none

fix(terraform): update terraform onepassword to v1.3.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(terraform): update terraform onepassword to v1.3.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

fix(terraform): update terraform onepassword to v1.3.1
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(helm)!: Update Helm release kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v55
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/home-assistant:2023.11.3 docker digest to 7f07787
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/home-assistant:2023.11.3 docker digest to 7f07787
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/home-assistant:2023.11.3 docker digest to 7f07787
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbtools docker tag to v0.10.2
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbtools docker tag to v0.10.2
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbtools docker tag to v0.10.2
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/buroa/qbtools docker tag to v0.10.2
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

fix: remove unused
  kubernetes/apps/default/appdaemon/app/gatus.yaml
  kubernetes/apps/default/home-assistant/app/gatus.yaml
Labels: area/kubernetes

fix: remove unused
  kubernetes/apps/default/appdaemon/app/gatus.yaml
  kubernetes/apps/default/home-assistant/app/gatus.yaml
Labels: area/kubernetes

fix: remove unused
  kubernetes/apps/default/appdaemon/app/gatus.yaml
  kubernetes/apps/default/home-assistant/app/gatus.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix: update dns setting
  kubernetes/apps/default/homepage/app/gatus.yaml
Labels: area/kubernetes
