Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(github-release): update dependency fluxcd/flux2 to v2.1.0
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(github-release): update flux group to v2.1.0
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(helm): update helm release descheduler to v0.28.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/checkout action to v3.6.0
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update actions/checkout action to v3.6.0
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-release): update dependency siderolabs/kubelet to v1.28.1
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

chore(container): update ghcr.io/mchestr/displex:main docker digest to 81d3979
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 81d3979
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.6.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat: replace emqx with simple mosquitto
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/gatus.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/kustomization.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/volsync.yaml
  kubernetes/apps/default/mosquitto/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/patches/exporter.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove within 3d
  kubernetes/apps/default/appdaemon/app/volsync.yaml
  kubernetes/apps/default/bazarr/app/volsync.yaml
  kubernetes/apps/default/displex/app/volsync.yaml
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/prowlarr/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/radarr/app/volsync.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/sonarr/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat: replace emqx with simple mosquitto
  kubernetes/apps/default/emqx/app/externalsecret.yaml
  kubernetes/apps/default/emqx/app/gatus.yaml
  kubernetes/apps/default/emqx/app/helmrelease.yaml
  kubernetes/apps/default/emqx/app/kustomization.yaml
  kubernetes/apps/default/emqx/ks.yaml
  kubernetes/apps/default/frigate/app/config/config.yaml
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/config/mosquitto.conf
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/kustomization.yaml
  kubernetes/apps/default/mosquitto/app/volsync.yaml
  kubernetes/apps/default/mosquitto/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/patches/exporter.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove within 3d
  kubernetes/apps/default/appdaemon/app/volsync.yaml
  kubernetes/apps/default/bazarr/app/volsync.yaml
  kubernetes/apps/default/displex/app/volsync.yaml
  kubernetes/apps/default/esphome/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/paperless/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/prowlarr/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/radarr/app/volsync.yaml
  kubernetes/apps/default/radicale/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/sonarr/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/unifi/app/volsync.yaml
  kubernetes/apps/default/wizarr/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.17
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release descheduler to v0.28.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release descheduler to v0.28.0
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.17
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/eclipse-mosquitto docker tag to v2.0.17
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.8.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.6.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbittools docker tag to v0.6.1
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency fluxcd/flux2 to v2.1.0
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(github-release): update dependency fluxcd/flux2 to v2.1.0
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(github-release): update flux group to v2.1.0
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

feat(github-release): update flux group to v2.1.0
  kubernetes/bootstrap/flux/kustomization.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.4
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-secrets to v0.9.4
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v48.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update ghcr.io/wizarrrr/wizarr Docker tag to v3
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update args
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix: update args
  kubernetes/apps/default/qbittorrent/qbittools-tagging/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v1.17.2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/paperless-ngx/paperless-ngx docker tag to v1.17.2
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update dependency community.sops to v1.6.5
  ansible/requirements.yml
Labels: area/ansible

fix(github-action): update tj-actions/changed-files action to v38.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v38.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
