Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.0.1.7993
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3931
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3931
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.24.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.24.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/checkout action to v4
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 6321ae1
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 6321ae1
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v38.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v38.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v39
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat: add limits frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

feat: add limits frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.0.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update actions/checkout action to v4
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update actions/checkout action to v4
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v39
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update tj-actions/changed-files action to v39
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update redis docker tag to v18.0.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.0.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add jellyfin for offline play
  kubernetes/apps/default/jellyfin/app/gatus.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add jellyfin for offline play
  kubernetes/apps/default/jellyfin/app/gatus.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/kustomization.yaml
  kubernetes/apps/default/jellyfin/app/volsync.yaml
  kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.24.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.24.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.59.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.59.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release metallb to v0.13.11
  kubernetes/apps/metallb-system/metallb/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release kube-prometheus-stack to v50.3.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable hwaccel
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat: enable hwaccel
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.81.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform cloudflare to v4.14.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(container): update ghcr.io/paperless-ngx/tika docker tag to v2.9.0
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.77.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release node-problem-detector to v2.3.8
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.40
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.8.3
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes
