Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: nextdns better
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

feat: nextdns better
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

feat: nextdns better
  ansible/playbooks/roles/config.router/tasks/dns.yml
Labels: area/ansible

feat: moar nextdns stuff
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/services.yml
Labels: area/ansible

feat: moar nextdns stuff
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/services.yml
Labels: area/ansible

feat: moar nextdns stuff
  ansible/playbooks/roles/config.router/tasks/dns.yml
  ansible/playbooks/roles/config.router/tasks/services.yml
Labels: area/ansible

feat: ore
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

feat: ore
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

feat: ore
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

fix: no ssl
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: no ssl
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: no ssl
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: vs at night
  kubernetes/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix: vs at night
  kubernetes/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix: vs at night
  kubernetes/templates/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

feat: minecraft time
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/minecraft/gtnh/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/gtnh/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/gtnh/kustomization.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/game-system/minecraft/proxy/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/proxy/kustomization.yaml
  kubernetes/apps/game-system/minecraft/vanilla/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
  kubernetes/flux/repositories/helm/itzg-minecraft-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: minecraft time
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/minecraft/gtnh/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/gtnh/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/gtnh/kustomization.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/game-system/minecraft/proxy/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/proxy/kustomization.yaml
  kubernetes/apps/game-system/minecraft/vanilla/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
  kubernetes/flux/repositories/helm/itzg-minecraft-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: minecraft time
  .taskfiles/KuberneteTasks.yml
  kubernetes/apps/game-system/kustomization.yaml
  kubernetes/apps/game-system/minecraft/gtnh/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/gtnh/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/gtnh/kustomization.yaml
  kubernetes/apps/game-system/minecraft/ks.yaml
  kubernetes/apps/game-system/minecraft/proxy/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/proxy/kustomization.yaml
  kubernetes/apps/game-system/minecraft/vanilla/externalsecret.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/kustomization.yaml
  kubernetes/apps/game-system/namespace.yaml
  kubernetes/flux/repositories/helm/itzg-minecraft-charts.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, area/taskfile

feat: factorio time?
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

feat: factorio time?
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

feat: factorio time?
  kubernetes/apps/game-system/factorio/ir3/externalsecret.yaml
  kubernetes/apps/game-system/factorio/ir3/helmrelease.yaml
  kubernetes/apps/game-system/factorio/ir3/kustomization.yaml
  kubernetes/apps/game-system/factorio/ir3/resources/mod-list.json
  kubernetes/apps/game-system/factorio/ir3/resources/server-settings.json
  kubernetes/apps/game-system/factorio/ks.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

feat: add syncthing
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, area/taskfile

feat: add syncthing
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, area/taskfile

feat: add syncthing
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/helmrelease.tmpl.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
  kubernetes/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, area/taskfile

fix: add psc
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: add psc
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: add psc
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

feat: creative
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/kustomization.yaml
Labels: area/kubernetes

chore: allowlist peeps
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

feat: creative
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/kustomization.yaml
Labels: area/kubernetes

chore: allowlist peeps
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

chore: allowlist peeps
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

feat: creative
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla-creative/kustomization.yaml
Labels: area/kubernetes

fix: less ram
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

fix: less ram
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

fix: less ram
  kubernetes/apps/game-system/minecraft/vanilla-creative/helmrelease.yaml
  kubernetes/apps/game-system/minecraft/vanilla/helmrelease.yaml
Labels: area/kubernetes

fix: add ks
  kubernetes/apps/game-system/minecraft/ks.yaml
Labels: area/kubernetes

fix: add ks
  kubernetes/apps/game-system/minecraft/ks.yaml
Labels: area/kubernetes

fix: add ks
  kubernetes/apps/game-system/minecraft/ks.yaml
Labels: area/kubernetes

fix: update name
  kubernetes/apps/game-system/minecraft/proxy/helmrelease.yaml
Labels: area/kubernetes
