Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: upgrade some config snippets to make work
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: upgrade some config snippets to make work
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: stop auth prompt praise be
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: stop auth prompt praise be
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: stop auth prompt praise be
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: try n make webrtc work better
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: try n make webrtc work better
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: try n make webrtc work better
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: frigate 0.15-beta4
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

feat: frigate 0.15-beta4
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

feat: frigate 0.15-beta4
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

feat: enable gemini
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: enable semsearch
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: enable gemini
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: enable gemini
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: enable semsearch
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: enable semsearch
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable audio stream
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: disable audio stream
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: disable audio stream
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

bump up the ram big for semantic search
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

bump up the ram big for semantic search
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

bump up the ram big for semantic search
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: use 1 service
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: use 1 service
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: use 1 service
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

add port
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

add port
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

add port
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: new nic
  ansible/inventory/group_vars/router/static-ips.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/talos

fix: new nic
  ansible/inventory/group_vars/router/static-ips.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/talos

fix: new nic
  ansible/inventory/group_vars/router/static-ips.yaml
  talos/talconfig.yaml
Labels: area/ansible, area/talos

fix: add gatus widget ingress
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: add gatus widget ingress
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: add gatus widget ingress
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: apparently this is the thing to do now
  talos/talconfig.yaml
Labels: area/talos

fix: apparently this is the thing to do now
  talos/talconfig.yaml
Labels: area/talos

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
