Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

track bike
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix(helm): update helm release descheduler to v0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release descheduler to v0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release descheduler to v0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update spegel docker tag to v0.0.16
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update spegel docker tag to v0.0.16
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update spegel docker tag to v0.0.16
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform onepassword to v1.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform onepassword to v1.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(terraform): update terraform onepassword to v1.3.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: area/terraform

feat(container): update immich group to v1.89.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.5
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.84.2 docker digest to 2435bf0
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.84.2 docker digest to 2435bf0
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.84.2 docker digest to 2435bf0
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency ansible.utils to v2.12.0
  ansible/requirements.yml
Labels: area/ansible

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4125
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4125
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.0.4125
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/oriedge/k8s_gateway docker tag to v0.4.0
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.5
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.5
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.5
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency ansible.utils to v2.12.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency ansible.utils to v2.12.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency ansible.utils to v2.12.0
  ansible/requirements.yml
Labels: area/ansible

feat(container): update quay.io/oriedge/k8s_gateway docker tag to v0.4.0
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/oriedge/k8s_gateway docker tag to v0.4.0
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update quay.io/oriedge/k8s_gateway docker tag to v0.4.0
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible)!: Update dependency ansible.utils to v3
  ansible/requirements.yml
Labels: area/ansible

fix(helm): update rook-ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
