Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

feat(container): update ghcr.io/esphome/esphome docker tag to v2023.8.0
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.23.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/zwave-js/zwave-js-ui docker tag to v8.23.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.0
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency siderolabs/talos to v1.5.0
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix(container): update thanos docker tag to v12.11.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency louislam/uptime-kuma to v1.23.0
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(container): update redis docker tag to v17.15.5
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency louislam/uptime-kuma to v1.23.0
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat(github-release): update dependency louislam/uptime-kuma to v1.23.0
  terraform/google-cloud/variables.tf
Labels: area/terraform

feat(helm): update helm release loki to v5.13.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.13.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: split reannounce
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/kustomization.yaml
Labels: area/kubernetes

feat: split reannounce
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/kustomization.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.11.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.0
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.0
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v17.15.5
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v17.15.5
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency siderolabs/talos to v1.5.0
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

feat(github-release): update dependency siderolabs/talos to v1.5.0
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix: update hr
  .taskfiles/TalosTasks.yml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

fix: update hr
  .taskfiles/TalosTasks.yml
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

feat: add ability to skipp apply on upgrade
  .taskfiles/TalosTasks.yml
Labels: none

feat: add ability to skipp apply on upgrade
  .taskfiles/TalosTasks.yml
Labels: none

fix: update ns
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

fix: update ns
  kubernetes/apps/default/qbittorrent/qbittools-reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency budimanjojo/talhelper to v1.9.2
  .taskfiles/TalosTasks.yml
Labels: none

feat: update overseerr theme
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: update overseerr theme
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove overseerr theme
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove overseerr theme
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency budimanjojo/talhelper to v1.9.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.9.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.8.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/esphome/esphome docker tag to v2023.8.1
  kubernetes/apps/default/esphome/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3870
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3870
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.3.3872
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes
