Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

feat(container): update ghcr.io/actions/actions-runner docker tag to v2.309.0
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.14.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release node-feature-discovery to v0.14.0
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency ansible.utils to v2.11.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency ansible.utils to v2.11.0
  ansible/requirements.yml
Labels: area/ansible

fix(helm): update helm release node-problem-detector to v2.3.10
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release node-problem-detector to v2.3.10
  kubernetes/apps/kube-system/node-problem-detector/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.1
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.1
  kubernetes/apps/default/immich/redis/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable birdseye
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix: enable birdseye
  kubernetes/apps/default/frigate/app/config/config.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.664
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.664
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-dns to v1.13.1
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.20.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-dns to v1.13.1
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release external-dns to v1.13.1
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/unpoller/unpoller docker tag to v2.8.3
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tibdex/github-app-token action to v1.9.0
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update tibdex/github-app-token action to v1.9.0
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update ghcr.io/mchestr/displex:main docker digest to 59f37d7
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/displex:main docker digest to 59f37d7
  kubernetes/apps/default/displex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.0.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3939
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3939
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.665
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.665
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.59.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release grafana to v6.59.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3940
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.8.6.3940
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.7.2
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tibdex/github-app-token action to v2
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update helm release ingress-nginx to v4.7.2
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release ingress-nginx to v4.7.2
  kubernetes/apps/networking/ingress-nginx/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update tibdex/github-app-token action to v2
  .github/workflows/broken-link-check.yaml
  .github/workflows/build-terraform-oci.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/renovate.yaml
Labels: area/github
