Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

upgrade 1.7.4
  talos/talconfig.yaml
Labels: area/talos

fix: update annotations
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix: update annotations
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix: update annotations
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Add back AM notifications
  kubernetes/apps/flux-system/addons/notifications/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

Add back AM notifications
  kubernetes/apps/flux-system/addons/notifications/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

Add back AM notifications
  kubernetes/apps/flux-system/addons/notifications/alertmanager/kustomization.yaml
  kubernetes/apps/flux-system/addons/notifications/alertmanager/notification.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: update prowlarr env
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
Labels: area/kubernetes

fix: no wait
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

fix: no wait
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

fix: no wait
  kubernetes/apps/default/immich/ks.yaml
Labels: area/kubernetes

remove miniflux secret
  kubernetes/apps/default/authelia/app/externalsecret.yaml
Labels: area/kubernetes

remove miniflux secret
  kubernetes/apps/default/authelia/app/externalsecret.yaml
Labels: area/kubernetes

remove miniflux secret
  kubernetes/apps/default/authelia/app/externalsecret.yaml
Labels: area/kubernetes

remove typesense secret
  kubernetes/apps/default/immich/app/externalsecret.yaml
Labels: area/kubernetes

remove typesense secret
  kubernetes/apps/default/immich/app/externalsecret.yaml
Labels: area/kubernetes

remove typesense secret
  kubernetes/apps/default/immich/app/externalsecret.yaml
Labels: area/kubernetes

remove syncthing unused secret
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
Labels: area/kubernetes

remove syncthing unused secret
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
Labels: area/kubernetes

remove syncthing unused secret
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
Labels: area/kubernetes

fix: update immich deploy
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix: update immich deploy
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix: update immich deploy
  kubernetes/apps/default/immich/app/helmrelease.yaml
Labels: area/kubernetes

downgrade
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

downgrade
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

downgrade
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: update frigate config
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
