Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

feat: swap overseer with jellyseerr
  .github/renovate/autoMerge.json5
  kubernetes/apps/default/displex/app/externalsecret.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: swap overseer with jellyseerr
  .github/renovate/autoMerge.json5
  kubernetes/apps/default/displex/app/externalsecret.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: swap overseer with jellyseerr
  .github/renovate/autoMerge.json5
  kubernetes/apps/default/displex/app/externalsecret.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/overseerr/app/gatus.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/monitoring/exporters/overseerr-exporter/app/helmrelease.yaml
Labels: area/github, area/kubernetes

feat: enable pg for jellyseerr
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable pg for jellyseerr
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: enable pg for jellyseerr
  kubernetes/apps/default/cloudnative-pg/postgres-backup/helmrelease.yaml
  kubernetes/apps/default/jellyseerr/app/externalsecret.yaml
  kubernetes/apps/default/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update secret
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

fix: update secret
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

fix: update secret
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

revert: seems to break wal backups?
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

revert: seems to break wal backups?
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: use whatever is latest
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: use whatever is latest
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

Revert "fix: use whatever is latest"
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

Revert "fix: use whatever is latest"
  kubernetes/apps/default/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: update limits
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: update limits
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: update limits
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor tweaks to things
  .taskfiles/kubernetes/Taskfile.yml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/meta/repositories/helm/backube-charts.yaml
  kubernetes/flux/meta/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/meta/repositories/helm/bjw-s-charts.yaml
  kubernetes/flux/meta/repositories/helm/cilium-charts.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg-charts.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/meta/repositories/helm/deliveryhero-charts.yaml
  kubernetes/flux/meta/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/meta/repositories/helm/descheduler-charts.yaml
  kubernetes/flux/meta/repositories/helm/emqx-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
  kubernetes/flux/meta/repositories/helm/grafana-charts.yaml
  kubernetes/flux/meta/repositories/helm/hajimari-charts.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx-charts.yaml
  kubernetes/flux/meta/repositories/helm/intel-charts.yaml
  kubernetes/flux/meta/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/meta/repositories/helm/k8s-gateway-charts.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
  kubernetes/flux/meta/repositories/helm/metallb-charts.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/minecraft-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery-charts.yaml
  kubernetes/flux/meta/repositories/helm/nvidia-charts.yaml
  kubernetes/flux/meta/repositories/helm/piraeus-charts.yaml
  kubernetes/flux/meta/repositories/helm/postfinance-charts.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/meta/repositories/helm/spegel-charts.yaml
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
  kubernetes/flux/meta/repositories/helm/tofu-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/vector-charts.yaml
  kubernetes/flux/meta/repositories/helm/weaveworks-charts.yaml
  kubernetes/flux/meta/repositories/helm/xenitab-charts.yaml
Labels: area/kubernetes, area/taskfile

fix: minor tweaks to things
  .taskfiles/kubernetes/Taskfile.yml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/meta/repositories/helm/backube-charts.yaml
  kubernetes/flux/meta/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/meta/repositories/helm/bjw-s-charts.yaml
  kubernetes/flux/meta/repositories/helm/cilium-charts.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg-charts.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/meta/repositories/helm/deliveryhero-charts.yaml
  kubernetes/flux/meta/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/meta/repositories/helm/descheduler-charts.yaml
  kubernetes/flux/meta/repositories/helm/emqx-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
  kubernetes/flux/meta/repositories/helm/grafana-charts.yaml
  kubernetes/flux/meta/repositories/helm/hajimari-charts.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx-charts.yaml
  kubernetes/flux/meta/repositories/helm/intel-charts.yaml
  kubernetes/flux/meta/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/meta/repositories/helm/k8s-gateway-charts.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
  kubernetes/flux/meta/repositories/helm/metallb-charts.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/minecraft-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery-charts.yaml
  kubernetes/flux/meta/repositories/helm/nvidia-charts.yaml
  kubernetes/flux/meta/repositories/helm/piraeus-charts.yaml
  kubernetes/flux/meta/repositories/helm/postfinance-charts.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/meta/repositories/helm/spegel-charts.yaml
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
  kubernetes/flux/meta/repositories/helm/tofu-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/vector-charts.yaml
  kubernetes/flux/meta/repositories/helm/weaveworks-charts.yaml
  kubernetes/flux/meta/repositories/helm/xenitab-charts.yaml
Labels: area/kubernetes, area/taskfile

fix: minor tweaks to things
  .taskfiles/kubernetes/Taskfile.yml
  kubernetes/flux/meta/repositories/helm/actions-runner-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/angelnu-charts.yaml
  kubernetes/flux/meta/repositories/helm/backube-charts.yaml
  kubernetes/flux/meta/repositories/helm/bitnami-charts.yaml
  kubernetes/flux/meta/repositories/helm/bjw-s-charts.yaml
  kubernetes/flux/meta/repositories/helm/cilium-charts.yaml
  kubernetes/flux/meta/repositories/helm/cloudnative-pg-charts.yaml
  kubernetes/flux/meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/meta/repositories/helm/deliveryhero-charts.yaml
  kubernetes/flux/meta/repositories/helm/democratic-csi-charts.yaml
  kubernetes/flux/meta/repositories/helm/descheduler-charts.yaml
  kubernetes/flux/meta/repositories/helm/emqx-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-dns-charts.yaml
  kubernetes/flux/meta/repositories/helm/external-secrets-charts.yaml
  kubernetes/flux/meta/repositories/helm/grafana-charts.yaml
  kubernetes/flux/meta/repositories/helm/hajimari-charts.yaml
  kubernetes/flux/meta/repositories/helm/ingress-nginx-charts.yaml
  kubernetes/flux/meta/repositories/helm/intel-charts.yaml
  kubernetes/flux/meta/repositories/helm/jetstack-charts.yaml
  kubernetes/flux/meta/repositories/helm/k8s-gateway-charts.yaml
  kubernetes/flux/meta/repositories/helm/kyverno-charts.yaml
  kubernetes/flux/meta/repositories/helm/metallb-charts.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/minecraft-server-charts.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery-charts.yaml
  kubernetes/flux/meta/repositories/helm/nvidia-charts.yaml
  kubernetes/flux/meta/repositories/helm/piraeus-charts.yaml
  kubernetes/flux/meta/repositories/helm/postfinance-charts.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community-charts.yaml
  kubernetes/flux/meta/repositories/helm/rook-ceph-charts.yaml
  kubernetes/flux/meta/repositories/helm/spegel-charts.yaml
  kubernetes/flux/meta/repositories/helm/stakater-charts.yaml
  kubernetes/flux/meta/repositories/helm/tofu-controller-charts.yaml
  kubernetes/flux/meta/repositories/helm/vector-charts.yaml
  kubernetes/flux/meta/repositories/helm/weaveworks-charts.yaml
  kubernetes/flux/meta/repositories/helm/xenitab-charts.yaml
Labels: area/kubernetes, area/taskfile

feat: add bazarr
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add bazarr
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: add bazarr
  kubernetes/apps/default/bazarr/app/externalsecret.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/kustomization.yaml
  kubernetes/apps/default/bazarr/app/resources/subcleaner.sh
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable dlna
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable dlna
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable dlna
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

try multus
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

try multus
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

try multus
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try multus"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try multus"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "try multus"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix: enable dlna"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix: enable dlna"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix: enable dlna"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: add whisper
  kubernetes/apps/default/bazarr/ks.yaml
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
  kubernetes/apps/default/bazarr/whisper/kustomization.yaml
  kubernetes/apps/default/bazarr/whisper/pvc.yaml
Labels: area/kubernetes
