Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

feat(tf): add aws ses values
  provision/terraform/cloudflare/dns_records.tf
Labels: area/terraform

chore: update gitignore
  .gitignore
Labels: none

chore: update gitignore
  .gitignore
Labels: none

chore(recyclarr): fix
  cluster/apps/media/recyclarr/cron-job.yaml
  cluster/apps/media/recyclarr/recyclarr.yaml
  cluster/apps/monitoring/uptime-heartbeat/cron-job.yaml
Labels: area/cluster

chore(recyclarr): fix
  cluster/apps/media/recyclarr/cron-job.yaml
  cluster/apps/media/recyclarr/recyclarr.yaml
  cluster/apps/monitoring/uptime-heartbeat/cron-job.yaml
Labels: area/cluster

chore(recyclarr): fix
  cluster/apps/media/recyclarr/cron-job.yaml
  cluster/apps/media/recyclarr/kustomization.yaml
  cluster/apps/media/recyclarr/recyclarr.yaml
Labels: area/cluster

chore(recyclarr): fix
  cluster/apps/media/recyclarr/cron-job.yaml
  cluster/apps/media/recyclarr/kustomization.yaml
  cluster/apps/media/recyclarr/recyclarr.yaml
Labels: area/cluster

chore(recyclarr): fix
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore(recyclarr): fix
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore(recyclarr): update new format
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore(recyclarr): update new format
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore(recyclarr): remove missing formats
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore(recyclarr): remove missing formats
  cluster/apps/media/recyclarr/recyclarr.yml
Labels: area/cluster

chore: update blocky dns
  cluster/apps/networking/blocky/helm-release.yaml
  provision/ansible/roles/ubuntu/tasks/network.yml
Labels: area/ansible, area/cluster

chore: update blocky dns
  cluster/apps/networking/blocky/helm-release.yaml
  provision/ansible/roles/ubuntu/tasks/network.yml
Labels: area/ansible, area/cluster

chore: update blocky dns
  cluster/apps/networking/blocky/helm-release.yaml
Labels: area/cluster

chore: update blocky dns
  cluster/apps/networking/blocky/helm-release.yaml
Labels: area/cluster

remove(blocky): use adguard home on home router instead
  cluster/apps/networking/blocky/helm-release.yaml
  cluster/apps/networking/blocky/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster

remove(blocky): use adguard home on home router instead
  cluster/apps/networking/blocky/helm-release.yaml
  cluster/apps/networking/blocky/kustomization.yaml
  cluster/apps/networking/kustomization.yaml
Labels: area/cluster

chore(grafana): disable analytics, blocked by adguard anywho
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

chore(grafana): disable analytics, blocked by adguard anywho
  cluster/apps/monitoring/grafana/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "provision/terraform/**/*"
