Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.9.2
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/autobrr/autobrr docker tag to v1.29.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/autobrr/autobrr docker tag to v1.29.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible): update dependency community.general to v7.4.0
  ansible/requirements.yml
Labels: area/ansible

feat(ansible): update dependency community.general to v7.4.0
  ansible/requirements.yml
Labels: area/ansible

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.9.2
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/unpoller/unpoller docker tag to v2.9.2
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform google to v4.82.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

feat(terraform): update terraform google to v4.82.0
  terraform/google-cloud/.terraform.lock.hcl
  terraform/google-cloud/main.tf
Labels: area/terraform

fix(container): update docker.io/typesense/typesense docker tag to v0.25.1
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

fix(container): update docker.io/typesense/typesense docker tag to v0.25.1
  kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v51
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update Helm release kube-prometheus-stack to v51
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.0.4
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.0.4
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.20.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.20.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: add new
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

fix: add new
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.0.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.0.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update docker/login-action action to v3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.669
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.669
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 7dda018
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/intel-gpu-exporter:rolling docker digest to 7dda018
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v51.0.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/recyclarr/recyclarr docker tag to v5.4.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore: update
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

chore: update
  kubernetes/apps/default/qbittorrent/app/config/config.js
Labels: area/kubernetes

feat(helm): update helm release cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release cert-manager to v1.13.0
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action)!: Update docker/login-action action to v3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(github-action)!: Update docker/login-action action to v3
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update ghcr.io/recyclarr/recyclarr docker tag to v5.4.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/recyclarr/recyclarr docker tag to v5.4.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v51.0.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v51.0.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to 210588b
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
