Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

bump
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

try this fix maybe
  .github/workflows/renovate.yaml
Labels: area/github

renovate
  .github/workflows/renovate.yaml
Labels: area/github

to gitlab
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

we goin glowbal
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

external windmill
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/windmill/app/httproute.yaml
Labels: area/kubernetes

use .local
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

swap: to nebula
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

unas only v3 sads
  talos/controlplane.yaml
Labels: area/talos

frigate to subdir
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  talos/controlplane.yaml
Labels: area/kubernetes, area/talos

to nebula
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

to nebula
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

to nebula
  .taskfiles/kubernetes/Taskfile.yml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

mount nebula
  .taskfiles/kubernetes/resources/nfs-debug-pod.yaml
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

fix 3 replica strat
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

fix: antiaffinity update
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

try fix
  .github/workflows/renovate.yaml
Labels: area/github

back to github
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

Add test workflow for GHCR authentication debugging
  .github/workflows/test-ghcr.yaml
Labels: area/github

Test multiple auth methods for GHCR
  .github/workflows/test-ghcr.yaml
Labels: area/github

Use GITHUB_TOKEN for ghcr.io authentication in Renovate
  .github/workflows/renovate.yaml
Labels: area/github

Remove GHCR test workflow
  .github/workflows/test-ghcr.yaml
Labels: area/github

Add docker login step for GHCR before Renovate
  .github/workflows/renovate.yaml
Labels: area/github

Clean up redundant ghcr.io config from Renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

Revert "Clean up redundant ghcr.io config from Renovate workflow"
  .github/workflows/renovate.yaml
Labels: area/github

add requests
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: add radarr-4k
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/radarr-4k/app/externalsecret.yaml
  kubernetes/apps/media/radarr-4k/app/helmrelease.yaml
  kubernetes/apps/media/radarr-4k/app/kustomization.yaml
  kubernetes/apps/media/radarr-4k/app/pvc.yaml
  kubernetes/apps/media/radarr-4k/app/resources/pushover-notify.sh
  kubernetes/apps/media/radarr-4k/ks.yaml
Labels: area/kubernetes

fix dashes
  kubernetes/components/cnpg/externalsecret.yaml
Labels: area/kubernetes

radarr 4k
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
  kubernetes/apps/media/kometa/app/configs/config.yml
  kubernetes/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
  kubernetes/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/kustomization.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/radarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/app/prometheusrule.yaml
  kubernetes/apps/observability/exporters/sonarr-exporter/ks.yaml
Labels: area/kubernetes

fixup! radarr 4k
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

fixup! fixup! radarr 4k
  kubernetes/apps/media/tqm/app/resources/config.yaml
Labels: area/kubernetes

fixup! fixup! fixup! radarr 4k
  kubernetes/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct port
  kubernetes/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

add redis
  kubernetes/apps/default/homerp/app/helmrelease.yaml
  kubernetes/apps/default/homerp/ks.yaml
Labels: area/kubernetes

add allowed networks
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

10 credits
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

remove media from downloaders
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

add smtp
  kubernetes/apps/default/homerp/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

more domain
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

bump free credits
  kubernetes/apps/default/homerp/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
