Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

chore(container): update ghcr.io/onedr0p/qbittorrent:4.6.2 docker digest to fedb621
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/radarr-develop:5.2.3.8303 docker digest to bdc6980
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/radarr-develop:5.2.3.8303 docker digest to bdc6980
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/radarr-develop:5.2.3.8303 docker digest to bdc6980
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sabnzbd:4.1.0 docker digest to 1c16505
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sabnzbd:4.1.0 docker digest to 1c16505
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sabnzbd:4.1.0 docker digest to 1c16505
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sonarr-develop:4.0.0.733 docker digest to 7f14968
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sonarr-develop:4.0.0.733 docker digest to 7f14968
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/sonarr-develop:4.0.0.733 docker digest to 7f14968
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/tautulli:2.13.4 docker digest to 7682cdc
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/tautulli:2.13.4 docker digest to 7682cdc
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/onedr0p/tautulli:2.13.4 docker digest to 7682cdc
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4143
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4143
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4143
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.0 docker digest to 4028653
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.0 docker digest to 4028653
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.0 docker digest to 4028653
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency budimanjojo/talhelper to v1.16.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.2.2
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4146
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4146
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.11.1.4146
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.4.8328
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.4.8328
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/radarr-develop docker tag to v5.2.4.8328
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update k8s-ycl docker tag to v1.2.0
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency louislam/uptime-kuma to v1.23.9
  terraform/google-cloud/variables.tf
Labels: area/terraform

fix(github-release): update dependency budimanjojo/talhelper to v1.16.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.16.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(github-release): update dependency budimanjojo/talhelper to v1.16.2
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.3
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update k8s-ycl docker tag to v1.2.0
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update k8s-ycl docker tag to v1.2.0
  kubernetes/apps/kube-system/k8s-ycl/app/helmrelease.yaml
Labels: area/kubernetes
