Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

try
  .github/renovate-config.js
Labels: area/github

try2
  .github/renovate-config.js
Labels: area/github

to gitlab
  .github/renovate-config.js
  kubernetes/apps/default/websites/controlforensics.com/helmrelease.yaml
Labels: area/github, area/kubernetes

automerge my gitlab
  .github/renovate/autoMerge.json5
Labels: area/github

add root web
  kubernetes/apps/default/websites/decisions.chestr.dev/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/apps/networking/envoy-gateway/gateway/external/gateway.yaml
Labels: area/kubernetes

to vectorchord
  kubernetes/apps/database/cloudnative-pg/cluster/immich.yaml
Labels: area/kubernetes

add client_secret_post
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/kubernetes

enable cf stealth mode
  kubernetes/apps/default/websites/ks.yaml
Labels: area/kubernetes

green 60
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

update readme
  README.md
  kubernetes/apps/default/authelia/app/README.md
  kubernetes/apps/kube-system/cilium/config/README.md
  kubernetes/apps/media/displex/README.md
  kubernetes/apps/rook-ceph/rook-ceph/README.md
  kubernetes/components/cnpg/README.md
  terraform/README.md
Labels: area/kubernetes, area/terraform

remoe root
  kubernetes/apps/default/websites/decisions.chestr.dev/helmrelease.yaml
  kubernetes/apps/networking/envoy-gateway/gateway/external/gateway.yaml
Labels: area/kubernetes

maybe
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

fix service mon
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

Revert "chore(deps): update dependency ocirepository to source.toolkit.fluxcd.io/v1"
  kubernetes/apps/cert-manager/cert-manager/app/helmrepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/game-system/minecraft/gtnh/helmrepository.yaml
  kubernetes/apps/game-system/minecraft/mc-router/helmrepository.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/reloader/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/apps/networking/envoy-gateway/app/helmrepository.yaml
  kubernetes/apps/observability/exporters/smartctl-exporter/app/helmrepository.yaml
  kubernetes/apps/observability/grafana/app/helmrepository.yaml
  kubernetes/apps/observability/silence-operator/app/helmrepository.yaml
  kubernetes/apps/observability/silence-operator/crds/helmrepository.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrepository.yaml
  kubernetes/apps/observability/victoria-metrics/app/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrepository.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrepository.yaml
  kubernetes/apps/volsync-system/snapshot-controller/app/helmrepository.yaml
  kubernetes/components/common/repos/app-template/ocirepository.yaml
Labels: area/kubernetes

feat: add kubestats
  kubernetes/apps/default/kubestats/app/externalsecret.yaml
  kubernetes/apps/default/kubestats/app/helmrelease.yaml
  kubernetes/apps/default/kubestats/app/kustomization.yaml
  kubernetes/apps/default/kubestats/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

add token
  kubernetes/apps/default/kubestats/app/externalsecret.yaml
Labels: area/kubernetes

remove: kyverno - nodes powerful now
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/rbac.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
Labels: area/kubernetes

bump version
  kubernetes/apps/flux-system/flux-instance/app/resources/values.yaml
Labels: area/kubernetes

pump those numbers up
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

tune limits
  kubernetes/apps/media/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

try this
  kubernetes/apps/default/kubestats/app/helmrelease.yaml
Labels: area/kubernetes

3 reps forauthelia
  kubernetes/apps/default/authelia/ks.yaml
Labels: area/kubernetes

disable stuff
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

add probe
  kubernetes/apps/default/kubestats/app/helmrelease.yaml
Labels: area/kubernetes

limit concurrency
  kubernetes/apps/default/kubestats/app/helmrelease.yaml
Labels: area/kubernetes

try autoscale
  kubernetes/apps/default/kubestats/app/helmrelease.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/game-system/kustomization.yaml
Labels: area/kubernetes

Revert "feat(helm): update external-dns ( 1.16.1 → 1.17.0 )"
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

Revert "Revert "feat(helm): update external-dns ( 1.16.1 → 1.17.0 )""
  kubernetes/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

add new cam
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fixup! add new cam
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fixup! fixup! add new cam
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: try fix
  kubernetes/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

remove
  kubernetes/apps/media/jellyseerrfin/app/externalsecret.yaml
  kubernetes/apps/media/jellyseerrfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyseerrfin/app/kustomization.yaml
  kubernetes/apps/media/jellyseerrfin/app/pvc.yaml
  kubernetes/apps/media/jellyseerrfin/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

trim the fat
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/jellyseerr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/jellyseerr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/kustomization.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/prowlarr-exporter/ks.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/ks.yaml
  kubernetes/apps/observability/exporters/sabnzbd-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/sabnzbd-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/sabnzbd-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/sabnzbd-exporter/ks.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/tautulli-exporter/ks.yaml
Labels: area/kubernetes

Revert "feat(helm): update cilium ( 1.17.6 → 1.18.0 )"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

fix: use default tolerations
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

remove lochnas
  kubernetes/apps/observability/victoria-metrics/app/scrapeconfig.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
