Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

Update waf.tf
  terraform/cloudflare/waf.tf
Labels: area/terraform

fix: coral node ded, temp fix
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: coral node ded, temp fix
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: coral node ded, temp fix
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

bump frigate new
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

bump frigate new
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

bump frigate new
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

upgrade frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

upgrade frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

upgrade frigate
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
  kubernetes/apps/default/frigate/app/resources/version
Labels: area/kubernetes

feat: add auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: add auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: add auth
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

Add frigate to IoT
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate to IoT
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate to IoT
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

update
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

update
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

update
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate unsecure for homeass
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate unsecure for homeass
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

Add frigate unsecure for homeass
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

try fix
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
Labels: area/kubernetes

try fix
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
Labels: area/kubernetes

try fix
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
Labels: area/kubernetes

Revert "fix(container): update kubernetes group"
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Revert "fix(container): update kubernetes group"
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Revert "fix(container): update kubernetes group"
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: enable coral
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: enable coral
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: enable coral
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

Upgrade talos nvidia only
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

Upgrade talos nvidia only
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

Upgrade talos nvidia only
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

upgrade 1.7.4
  talos/talconfig.yaml
Labels: area/talos

upgrade 1.7.4
  talos/talconfig.yaml
Labels: area/talos
