Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/hack, area/terraform

bump
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/inventory/hosts.yaml
  ansible/router/playbooks/app.yml
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/ansible, area/cluster

bump
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/inventory/hosts.yaml
  ansible/router/playbooks/app.yml
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/ansible, area/cluster

bump
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/cluster

bump
  cluster/apps/monitoring/loki/secret.sops.yaml
Labels: area/cluster

feat(ansible): add uptime kuma configs
  ansible/router/inventory/hosts.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/templates/ping.sh.j2
Labels: area/ansible

feat(ansible): add uptime kuma configs
  ansible/router/inventory/hosts.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/templates/ping.sh.j2
Labels: area/ansible

feat(ansible): add uptime kuma configs
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
Labels: area/ansible

feat(ansible): add uptime kuma configs
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
Labels: area/ansible

feat(ansible): add router acme stuff
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/files/renew.acme.sh
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
Labels: area/ansible

feat(ansible): add router acme stuff
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/files/renew.acme.sh
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
Labels: area/ansible

feat(ansible): add wireguard, rotate passwords
  .gitignore
  ansible/router/inventory/group_vars/all/wireguard.yml
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/wireguard.router/tasks/main.yml
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/ansible, area/cluster

feat(ansible): add wireguard, rotate passwords
  .gitignore
  ansible/router/inventory/group_vars/all/wireguard.yml
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/wireguard.router/tasks/main.yml
  cluster/apps/flux-system/tf-controller/terraform/cloudflare/secret.sops.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/ansible, area/cluster

feat(analytics): disable more analytics? something keeps tryin to send analytics...
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

feat(analytics): disable more analytics? something keeps tryin to send analytics...
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

Revert "feat(analytics): disable more analytics? something keeps tryin to send analytics..."
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

Revert "feat(analytics): disable more analytics? something keeps tryin to send analytics..."
  cluster/apps/monitoring/loki/helm-release.yaml
Labels: area/cluster

chore: let stats.grafana.org through, dono how to stop and super spammy otherwise
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

chore: let stats.grafana.org through, dono how to stop and super spammy otherwise
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

chore: add reverse dns
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

chore: add reverse dns
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

chore: add reverse dns
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

chore: add reverse dns
  ansible/router/playbooks/roles/adguard_home.router/templates/AdGuardHome.yaml.j2
Labels: area/ansible

feat(ansible): add some router config
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/config.router/tasks/main.yml
Labels: area/ansible

feat(ansible): add some router config
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/app.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/config.router/tasks/main.yml
Labels: area/ansible

feat(router): ansible entire router config
  .ansible-lint
  ansible/router/inventory/group_vars/all/static-ips.yml
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/roles/adguard_home.router/handlers/main.yml
  ansible/router/playbooks/roles/config.router/handlers/main.yml
  ansible/router/playbooks/roles/config.router/tasks/dhcp.yml
  ansible/router/playbooks/roles/config.router/tasks/dns.yml
  ansible/router/playbooks/roles/config.router/tasks/firewall.yml
  ansible/router/playbooks/roles/config.router/tasks/interfaces.yml
  ansible/router/playbooks/roles/config.router/tasks/main.yml
  ansible/router/playbooks/roles/config.router/tasks/port-forward.yml
  ansible/router/playbooks/roles/config.router/tasks/protocols.yml
  ansible/router/playbooks/roles/config.router/tasks/services.yml
  ansible/router/playbooks/roles/config.router/tasks/system.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

feat(router): ansible entire router config
  .ansible-lint
  ansible/router/inventory/group_vars/all/static-ips.yml
  ansible/router/inventory/host_vars/edgerouter.sops.yml
  ansible/router/playbooks/roles/adguard_home.router/handlers/main.yml
  ansible/router/playbooks/roles/config.router/handlers/main.yml
  ansible/router/playbooks/roles/config.router/tasks/dhcp.yml
  ansible/router/playbooks/roles/config.router/tasks/dns.yml
  ansible/router/playbooks/roles/config.router/tasks/firewall.yml
  ansible/router/playbooks/roles/config.router/tasks/interfaces.yml
  ansible/router/playbooks/roles/config.router/tasks/main.yml
  ansible/router/playbooks/roles/config.router/tasks/port-forward.yml
  ansible/router/playbooks/roles/config.router/tasks/protocols.yml
  ansible/router/playbooks/roles/config.router/tasks/services.yml
  ansible/router/playbooks/roles/config.router/tasks/system.yml
  ansible/router/playbooks/roles/uptime-kuma-ping.router/tasks/main.yml
  ansible/router/playbooks/roles/wireguard.router/tasks/main.yml
Labels: area/ansible

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
  cluster/apps/home/unifi/helm-release.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/kubernetes-dashboard/helm-release.yaml
  cluster/apps/monitoring/uptime-kuma/helm-release.yaml
Labels: area/cluster

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
  cluster/apps/home/unifi/helm-release.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/kubernetes-dashboard/helm-release.yaml
  cluster/apps/monitoring/uptime-kuma/helm-release.yaml
Labels: area/cluster

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(hajimari): add router to interface
  cluster/apps/home/hajimari/helm-release.yaml
Labels: area/cluster

chore(ansible): fixup some ansible lints
  .taskfiles/AnsibleTasks.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
Labels: area/ansible

chore(ansible): fixup some ansible lints
  .taskfiles/AnsibleTasks.yml
  ansible/router/playbooks/roles/acme.router/tasks/main.yml
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
Labels: area/ansible

chore(ansible): add mode
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
Labels: area/ansible

chore(ansible): add mode
  ansible/router/playbooks/roles/adguard_home.router/tasks/main.yml
Labels: area/ansible

feat(alert-manager): swap to pushover notifications, update secrets
  cluster/apps/media/radarr-4k/secret.sops.yaml
  cluster/apps/media/radarr/secret.sops.yaml
  cluster/apps/media/sonarr/secret.sops.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

feat(alert-manager): swap to pushover notifications, update secrets
  cluster/apps/media/radarr-4k/secret.sops.yaml
  cluster/apps/media/radarr/secret.sops.yaml
  cluster/apps/media/sonarr/secret.sops.yaml
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/base/cluster-secrets.sops.yaml
Labels: area/cluster

fix(alert-manager): update pushover and replicas
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

fix(alert-manager): update pushover and replicas
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "cluster/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
