Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: guess my cpus are too new for vaapi
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: guess my cpus are too new for vaapi
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

fix: guess my cpus are too new for vaapi
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/resources/config.yaml
Labels: area/kubernetes

feat: lets try turbo
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

feat: lets try turbo
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

feat: lets try turbo
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

fix: smol is gud
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

fix: smol is gud
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

fix: smol is gud
  kubernetes/apps/default/bazarr/whisper/helmrelease.yaml
Labels: area/kubernetes

fix: friggen buttnami
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix: friggen buttnami
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix: friggen buttnami
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor cleanup
  .ansible-lint
  .lycheeignore
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor cleanup
  .ansible-lint
  .lycheeignore
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: minor cleanup
  .ansible-lint
  .lycheeignore
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: update multus
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/app/rbac.yaml
Labels: area/kubernetes

fix: update multus
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/app/rbac.yaml
Labels: area/kubernetes

fix: update multus
  kubernetes/apps/networking/multus/app/helmrelease.yaml
  kubernetes/apps/networking/multus/app/kustomization.yaml
  kubernetes/apps/networking/multus/app/rbac.yaml
Labels: area/kubernetes

fix: remove antiaffinity
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove antiaffinity
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove antiaffinity
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix: try and manually set
  kubernetes/apps/kube-system/cilium/app/resources/values.yaml
Labels: area/kubernetes

fix: try and manually set
  kubernetes/apps/kube-system/cilium/app/resources/values.yaml
Labels: area/kubernetes

fix: try and manually set
  kubernetes/apps/kube-system/cilium/app/resources/values.yaml
Labels: area/kubernetes

fix: rotate certs?
  .gitignore
  talos/controlplane.yaml.j2
Labels: area/talos

fix: rotate certs?
  .gitignore
  talos/controlplane.yaml.j2
Labels: area/talos

fix: rotate certs?
  .gitignore
  talos/controlplane.yaml.j2
Labels: area/talos

fix: minor tweaks
  .taskfiles/talos/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: minor tweaks
  .taskfiles/talos/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: minor tweaks
  .taskfiles/talos/Taskfile.yml
  Taskfile.yml
Labels: area/taskfile

fix: this is important to match node names
  kubernetes/apps/kube-system/kubelet-csr-approver/app/resources/values.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

fix: this is important to match node names
  kubernetes/apps/kube-system/kubelet-csr-approver/app/resources/values.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

fix: this is important to match node names
  kubernetes/apps/kube-system/kubelet-csr-approver/app/resources/values.yaml
  talos/controlplane.yaml.j2
Labels: area/kubernetes, area/talos

feat: add ms-01 secure boot notes
  docs/src/notes/bootstrap.md
Labels: none

feat: add ms-01 secure boot notes
  docs/src/notes/bootstrap.md
Labels: none

feat: add ms-01 secure boot notes
  docs/src/notes/bootstrap.md
Labels: none

feat: new adapter who dis
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: new adapter who dis
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: new adapter who dis
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: yoink
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
