Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix: remove outdated readme
  talos/README.md
Labels: area/talos

fix: remove outdated readme
  talos/README.md
Labels: area/talos

fix: remove outdated readme
  talos/README.md
Labels: area/talos

fix: update reademe
  README.md
Labels: none

fix: update reademe
  README.md
Labels: none

fix: update reademe
  README.md
Labels: none

Revert "Revert "feat: new adapter who dis""
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

Revert "Revert "feat: new adapter who dis""
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

Revert "Revert "feat: new adapter who dis""
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: new adapter
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: new adapter
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: new adapter
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/new/externalsecret.yaml
  kubernetes/apps/default/zigbee2mqtt/new/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/new/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/new/resources/lokirule.yaml
Labels: area/kubernetes

feat: add rack pic
  README.md
  docs/src/assets/myrack.jpg
Labels: none

feat: add rack pic
  README.md
  docs/src/assets/myrack.jpg
Labels: none

feat: add rack pic
  README.md
  docs/src/assets/myrack.jpg
Labels: none

feat: add udp grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: add udp grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: add udp grafana
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: gatus to the world
  README.md
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/internal.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/guarded/config.yaml
Labels: area/kubernetes

feat: gatus to the world
  README.md
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/internal.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/guarded/config.yaml
Labels: area/kubernetes

feat: gatus to the world
  README.md
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/certificates.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/internal.yaml
  kubernetes/apps/monitoring/gatus/app/endpoints/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/kustomization.yaml
  kubernetes/apps/monitoring/gatus/app/prometheusrule.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/guarded/config.yaml
Labels: area/kubernetes

fix: update homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: update homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

fix: update homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

feat: more dashboards always good
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: more dashboards always good
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: more dashboards always good
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: use correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: use correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: use correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

remove: vector
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/externalsecret.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes

remove: vector
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/externalsecret.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes

remove: vector
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/agent/kustomization.yaml
  kubernetes/apps/monitoring/vector/aggregator/config/vector.yaml
  kubernetes/apps/monitoring/vector/aggregator/externalsecret.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/kustomization.yaml
  kubernetes/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes

add: promtail
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/kustomization.yaml
  kubernetes/apps/monitoring/promtail/ks.yaml
Labels: area/kubernetes

add: promtail
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/kustomization.yaml
  kubernetes/apps/monitoring/promtail/ks.yaml
Labels: area/kubernetes

add: promtail
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/promtail/app/helmrelease.yaml
  kubernetes/apps/monitoring/promtail/app/kustomization.yaml
  kubernetes/apps/monitoring/promtail/ks.yaml
Labels: area/kubernetes

fix: actshully this is the correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: actshully this is the correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: actshully this is the correct label
  kubernetes/apps/default/autobrr/app/resources/lokirule.yaml
  kubernetes/apps/default/cross-seed/app/resources/lokirule.yaml
  kubernetes/apps/default/frigate/app/resources/lokirule.yaml
  kubernetes/apps/default/plex/app/resources/lokirule.yaml
  kubernetes/apps/default/qbittorrent/app/resources/lokirule.yaml
  kubernetes/apps/default/zigbee2mqtt/app/resources/lokirule.yaml
  kubernetes/apps/default/zwave-js-ui/app/resources/lokirule.yaml
Labels: area/kubernetes

fix: minor tweak
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
