Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

fix(container): update redis docker tag to v18.2.1
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/mchestr/vector docker tag to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(container): update thanos docker tag to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.28.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/cross-seed/cross-seed docker tag to v5.8.1
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/mchestr/vector docker tag to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/mchestr/vector docker tag to v0.34.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update thanos docker tag to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.28.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release vector to v0.28.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/build-terraform-oci.yaml
Labels: area/github

feat(container): update immich group to v1.85.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.85.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.85.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.3.4070
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.10.3.4070
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.2.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.20.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.20.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update docker.io/ghostfolio/ghostfolio docker tag to v2.20.0
  kubernetes/apps/default/ghostfolio/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.2.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update redis docker tag to v18.2.2
  kubernetes/apps/default/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to 0bfe5db
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to 0bfe5db
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to 0bfe5db
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/gethomepage/homepage docker tag to v0.8.0
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/talos to v1.5.5
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
