Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

feat: nvidia device plugin
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/nvidia-gpu.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nvidia-charts.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: nvidia device plugin
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/nvidia-gpu.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/app/runtimeclass.yaml
  kubernetes/apps/kube-system/nvidia-device-plugin/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/nvidia-charts.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat: jellyfin to nvidia
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update public.ecr.aws/docker/library/redis docker tag to v7.2.4
  kubernetes/apps/default/immich/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
Labels: area/kubernetes

feat: jellyfin to nvidia
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: jellyfin to nvidia
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: jellyfin to nvidia
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

feat: plex to nvidia
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat: plex to nvidia
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat: plex to nvidia
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: jellyfin to nvidia"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: jellyfin to nvidia"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat: jellyfin to nvidia"
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore: fixup repo new command tmpls
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
Labels: area/taskfile

chore: fixup repo new command tmpls
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
Labels: area/taskfile

chore: fixup repo new command tmpls
  .taskfiles/Repo/Tasks.yml
  .taskfiles/Repo/gatus.tmpl.yaml
  .taskfiles/Repo/ks.tmpl.yaml
  .taskfiles/Repo/kustomization.tmpl.yaml
Labels: area/taskfile

feat: try atuin
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: try atuin
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: try atuin
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to dc8c107
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to dc8c107
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/mchestr/vscode-tunnel:1.85.1 docker digest to dc8c107
  kubernetes/apps/default/appdaemon/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.1.4195
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.1.4195
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.12.1.4195
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.5
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.62
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update docker.io/cloudflare/cloudflared Docker tag to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update docker.io/cloudflare/cloudflared Docker tag to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update docker.io/cloudflare/cloudflared Docker tag to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update docker.io/cloudflare/cloudflared Docker tag to v2024
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.62
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.62
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release reloader to v1.0.62
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release external-dns to v1.14.0
  kubernetes/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/buroa/qbtools docker tag to v0.13.0
  kubernetes/apps/default/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.20.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update registry.k8s.io/sig-storage/csi-provisioner Docker tag to v4
  kubernetes/apps/democratic-csi/democratic-csi/local-path/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.20.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update thanos docker tag to v12.20.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
