Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/taskfile, area/terraform, area/talos, area/hack

fix(helm): update helm release loki to v5.41.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.12.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.2.1
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/siderolabs/talosctl docker tag to v1.6.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/siderolabs/talosctl docker tag to v1.6.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(container): update ghcr.io/siderolabs/talosctl docker tag to v1.6.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update kube-prometheus-stack docker tag to v55.5.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update system-upgrade-controller group to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(github-release): update system-upgrade-controller group to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

feat(github-release): update system-upgrade-controller group to v1.29.0
  README.md
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

fix: remove featuregate not in 1.29
  .taskfiles/TalosTasks.yml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, area/talos

fix: remove featuregate not in 1.29
  .taskfiles/TalosTasks.yml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, area/talos

fix: remove featuregate not in 1.29
  .taskfiles/TalosTasks.yml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, area/talos

fix
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat: add talos upgrade
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat: add talos upgrade
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat: add talos upgrade
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

feat(github-release): update dependency siderolabs/talos to v1.6.0
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/taskfile, area/talos

feat(github-release): update system-upgrade-controller group to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(github-release): update system-upgrade-controller group to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

feat(github-release): update system-upgrade-controller group to v1.29.0
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes

fix: quote string to make regex work
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: quote string to make regex work
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix: quote string to make regex work
  kubernetes/apps/kube-system/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release loki to v5.41.4
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
area/talos:
  - changed-files:
      - any-glob-to-any-file: talos/**/*
area/hack:
  - changed-files:
      - any-glob-to-any-file: hack/**/*
