Repository mchestr/home-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/hack, area/kubernetes, area/terraform, area/talos

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/hack:
  - "hack/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"

chore(container): update ghcr.io/authelia/authelia:master docker digest to 210588b
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to 210588b
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

Revert "chore(container): update ghcr.io/authelia/authelia:master docker digest to 210588b"
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

Revert "chore(container): update ghcr.io/authelia/authelia:master docker digest to 210588b"
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/home-assistant docker tag to v2023.9.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release cilium to v1.14.2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

fix(helm): update helm release cilium to v1.14.2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  talos/cni/kustomization.yaml
Labels: area/kubernetes, area/talos

feat(github-release): update dependency budimanjojo/talhelper to v1.12.0
  .taskfiles/TalosTasks.yml
Labels: none

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3953
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3953
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.78.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.5
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.5
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/flaresolverr/flaresolverr docker tag to v3.3.5
  kubernetes/apps/default/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-release): update dependency budimanjojo/talhelper to v1.12.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(github-release): update dependency budimanjojo/talhelper to v1.12.0
  .taskfiles/TalosTasks.yml
Labels: none

feat(container): update immich group to v1.78.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.78.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update dependency siderolabs/kubelet to v1.28.2
  .taskfiles/TalosTasks.yml
  README.md
  talos/talconfig.yaml
Labels: area/talos

fix: update complete script
  kubernetes/apps/default/qbittorrent/app/scripts/cross-seed.sh
Labels: area/kubernetes

fix: update complete script
  kubernetes/apps/default/qbittorrent/app/scripts/cross-seed.sh
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to ef41dac
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to ef41dac
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update ghcr.io/authelia/authelia:master docker digest to ef41dac
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3956
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3956
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.671
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/sonarr-develop docker tag to v4.0.0.671
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3957
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/onedr0p/prowlarr-nightly docker tag to v1.9.0.3957
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update helm release kube-prometheus-stack to v51.0.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update ghcr.io/recyclarr/recyclarr docker tag to v5.4.2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.78.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix: update to latest attrs
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix: update to latest attrs
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update helm release loki to v5.22.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.4
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
